Repository vuestorefront/vue-storefront, pull requests merged in 2019-09, with the labels that each got.

#3452 Change from "is out of the stock" to "is out of stock"
  CHANGELOG.md
  core/i18n/resource/i18n/cs-CZ.csv
  core/i18n/resource/i18n/de-DE.csv
  core/i18n/resource/i18n/en-US.csv
  core/i18n/resource/i18n/es-ES.csv
  core/i18n/resource/i18n/fr-FR.csv
  core/i18n/resource/i18n/it-IT.csv
  core/i18n/resource/i18n/jp-JP.csv
  core/i18n/resource/i18n/nl-NL.csv
  core/i18n/resource/i18n/pl-PL.csv
  core/i18n/resource/i18n/pt-BR.csv
  core/i18n/resource/i18n/pt-PT.csv
  core/i18n/resource/i18n/ru-RU.csv
  core/i18n/resource/i18n/zh-cn.csv
  src/themes/default/pages/Checkout.vue
Labels: vs-hackathon

#3477 [fix] #3453, #3474, #3359, #3436
  CHANGELOG.md
  config/default.json
  core/compatibility/components/blocks/SearchPanel/SearchPanel.js
  core/lib/storage-manager.ts
  core/modules/catalog-next/store/category/getters.ts
  core/modules/catalog/components/Search.ts
  core/modules/order/store/mutations.ts
  core/pages/Product.js
  docs/guide/basics/configuration.md
  docs/guide/cookbook/setup.md
  docs/guide/upgrade-notes/README.md
  src/modules/amp-renderer/index.ts
  src/themes/default-amp/components/core/ProductTile.vue
  src/themes/default-amp/router/index.ts
  src/themes/default/components/core/Breadcrumbs.vue
  src/themes/default/components/core/ProductTile.vue
  src/themes/default/resource/banners/de_main-image.json
  src/themes/default/resource/banners/de_promoted_offers.json
  src/themes/default/resource/banners/it_main-image.json
  src/themes/default/resource/banners/it_promoted_offers.json
  src/themes/default/resource/i18n/en-US.csv
Labels: QA - Ready for tests

#3500 Update production-setup.md
  docs/guide/installation/production-setup.md
Labels: docs

#3504 Update introduction.md
  docs/guide/vuex/introduction.md
Labels: docs

#3510 3508 fixed comparison list preservation
  CHANGELOG.md
  core/modules/compare/store/plugin.ts
Labels: vs-hackathon

#3512 Fix adding unconfigured products to compare & optimize fetching homepage data
  CHANGELOG.md
  config/default.json
  core/build/webpack.base.config.ts
  core/modules/catalog-next/store/category/actions.ts
  docs/guide/cookbook/setup.md
  src/themes/default/pages/Home.vue
  src/themes/default/store/homepage.ts
Labels: vs-hackathon

#3514 Added tracing support
  config/default.json
  core/scripts/server.ts
  package.json
  src/trace/googleCloud/index.js
  src/trace/googleCloud/package.json
  src/trace/index.js
  yarn.lock
Labels: not ready for merge

#3532 Feature #2182 - output compression and minifier
  CHANGELOG.md
  config/default.json
  core/package.json
  core/scripts/utils/ssr-renderer.js
  docs/guide/basics/configuration.md
  docs/guide/core-themes/layouts.md
  docs/guide/upgrade-notes/README.md
  src/modules/compress/server.ts
  src/modules/server.ts
  yarn.lock
Labels: QA - Ready for tests

#3517 VSF should be flexible to support id values to be numeric as well as alphanumeric
  CHANGELOG.md
  core/data-resolver/types/DataResolver.d.ts
  core/modules/cart/helpers/productsEquals.ts
  core/modules/cart/types/CartItem.ts
  core/modules/cart/types/CartItemTotals.ts
  core/modules/cart/types/Totals.ts
  core/modules/catalog-next/types/Category.d.ts
  core/modules/catalog/types/Attribute.ts
  core/modules/catalog/types/Product.ts
  core/modules/catalog/types/ProductConfiguration.ts
  core/modules/checkout/types/PaymentDetails.ts
  core/modules/checkout/types/ShippingDetails.ts
  core/modules/order/types/Order.ts
  core/modules/review/types/Review.ts
  core/modules/user/types/UserProfile.ts
  src/themes/default/components/core/blocks/Reviews/Reviews.vue
  src/themes/default/store/cart/types/EditMode.ts
Labels: QA - Ready for tests

#3405 Added loading of searchAdapter from node_modules,src/search/adapter/ …
  CHANGELOG.md
  core/lib/search/adapter/searchAdapterFactory.js
  core/lib/search/adapter/test/unit/searchAdapterFactory.spec.ts
  src/search/adapter/.gitkeep
Labels: vs-hackathon

#3556 Hotfix/#3549 Broken sidebar menu in mobile view
  CHANGELOG.md
  src/themes/default/components/core/blocks/SearchPanel/SearchPanel.vue
  src/themes/default/components/core/blocks/SidebarMenu/SidebarMenu.vue
  src/themes/default/components/theme/blocks/AsyncSidebar/AsyncSidebar.vue
Labels: QA - Ready for tests

#3529 [Docs] Theme upgrade how-to
  docs/.vuepress/config.js
  docs/guide/cookbook/migration.md
  docs/guide/cookbook/module.md
  docs/guide/cookbook/multistores.md
  docs/guide/cookbook/theme.md
  docs/guide/core-themes/themes.md
Labels: docs

#3558 Feat/#2636 Logged-in user's shipping address is not saved when placing order with registration
  CHANGELOG.md
  core/modules/checkout/components/Shipping.ts
Labels: QA - Ready for tests

#3540 Router manager queue
  CHANGELOG.md
  README.md
  core/app.ts
  core/client-entry.ts
  core/lib/multistore.ts
  core/lib/router-manager.ts
  core/lib/test/unit/multistore.spec.ts
  core/modules/catalog-next/store/category/actions.ts
  core/modules/catalog/store/category/actions.ts
  core/modules/catalog/store/product/actions.ts
  core/modules/url/helpers/index.ts
  core/modules/url/router/beforeEach.ts
  core/modules/url/store/actions.ts
  core/modules/url/test/unit/formatCategoryLink.spec.ts
  core/server-entry.ts
  docs/.vuepress/config.js
  docs/guide/cookbook/migration.md
  docs/guide/cookbook/module.md
  docs/guide/cookbook/multistores.md
  docs/guide/cookbook/theme.md
  docs/guide/core-themes/themes.md
  docs/guide/upgrade-notes/README.md
  src/modules/amp-renderer/index.ts
  src/themes/default-amp/index.js
  src/themes/default/index.js
  test/e2e/integration/add-to-cart.js
Labels: QA - Ready for tests, not ready for merge

#3586 filterMinimumShouldMatch(1) to query in order to support ES7
  CHANGELOG.md
  core/lib/search/adapter/api/elasticsearchQuery.js
Labels: QA - Ready for tests

#3644 Add unit testing on breadcrumbs feature
  CHANGELOG.md
  core/modules/breadcrumbs/test/unit/parseCategoryPath.spec.ts
Labels: vs-hackathon

#3647 Get Shipping Methods with Shipping Address
  CHANGELOG.md
  core/modules/cart/store/actions/methodsActions.ts
Labels: vs-hackathon

#3653 Detecting popstate to solve probem with browser:forward
  CHANGELOG.md
  core/client-entry.ts
  core/helpers/index.ts
  core/modules/url/router/beforeEach.ts
Labels: QA approved on branch
