Repository vuestorefront/vue-storefront, pull requests merged in 2019-06, with the labels that each got.

#3026 Update database tool README to use Yarn
  docs/guide/data/database-tool.md
Labels: vs-hackathon

#3031 [#2868] Bugfix/sort options
  CHANGELOG.md
  config/default.json
  core/modules/catalog/components/CategorySort.ts
  core/pages/Category.js
  src/themes/default/pages/Category.vue
Labels: vs-hackathon

#3028 Feature/bb 2699 login popup state
  CHANGELOG.md
  src/themes/default/components/core/blocks/SidebarMenu/SidebarMenu.vue
Labels: vs-hackathon

#3001 Hotfix/#2988 - #2991
  CHANGELOG.md
  src/modules/instant-checkout/components/InstantCheckout.vue
  src/themes/default/components/core/blocks/Form/BaseSelect.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/components/core/blocks/SearchPanel/SearchPanel.vue
Labels: QA approved on branch

#3025 Hotfix/#2704 Incomplete category load depending on zoom level
  CHANGELOG.md
  core/pages/Category.js
Labels: QA - Ready for tests, vs-hackathon

#3015 Stabilisationfix/#2757 Inconsistent behaviour of picture slider od PDP
  CHANGELOG.md
  src/themes/default/components/core/ProductGalleryCarousel.vue
Labels: QA approved on branch

#3010 Set by default sort option and added option in configuration file
  config/default.json
  src/themes/default/components/core/SortBy.vue
  src/themes/default/pages/Category.vue
Labels: QA approved on branch

#3040 docs: fix typo
  README.md
Labels: docs

#3013 Bugfix/#2863 No placeholders in gallery - offline mode
  CHANGELOG.md
  src/themes/default/components/core/ProductGallery.vue
  src/themes/default/components/core/blocks/Checkout/Product.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/components/core/blocks/Wishlist/Product.vue
  src/themes/default/pages/Product.vue
Labels: QA - Ready for tests

#3029 Improve Size Guide feature to prevent loosing product options selected by user
  CHANGELOG.md
  src/themes/default/components/core/blocks/Product/SizeGuide.vue
  src/themes/default/layouts/Default.vue
  src/themes/default/pages/Product.vue
Labels: vs-hackathon

#3022 Add support for api.url in the Task module
  CHANGELOG.md
  config/default.json
  core/lib/sync/task.ts
Labels: QA - Ready for tests, vs-hackathon

#3017 Feature/products column
  CHANGELOG.md
  src/themes/default/components/core/Columns.vue
  src/themes/default/pages/Category.vue
Labels: QA approved on branch

#3045 Bugfix/2966
  CHANGELOG.md
  core/modules/checkout/components/OrderReview.ts
  core/modules/mailer/store/index.ts
  core/modules/newsletter/store/index.ts
  core/modules/order/hooks/beforeRegistration.ts
  core/modules/review/store/actions.ts
  core/modules/user/components/Register.ts
  core/modules/user/store/actions.ts
  core/pages/Checkout.js
  src/modules/instant-checkout/components/InstantCheckout.vue
  src/modules/magento-2-cms/store/index.js
  src/themes/default/components/core/blocks/Checkout/OrderReview.vue
Labels: QA - Ready for tests

#3043 Bugfix/2940
  CHANGELOG.md
  core/modules/catalog/helpers/index.ts
Labels: QA - Ready for tests

#3049 Bugfix/#2888 ssr problem on product page with logged in user
  CHANGELOG.md
  src/themes/default/components/core/blocks/Reviews/Reviews.vue
Labels: QA - Ready for tests

#3044 Bugfix/#2863B No placeholders in gallery - offline mode
  CHANGELOG.md
  src/themes/default/components/core/ProductGallery.vue
  src/themes/default/components/core/blocks/Checkout/Product.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/components/core/blocks/Wishlist/Product.vue
  src/themes/default/pages/Product.vue
Labels: QA - Ready for tests

#3078 Bugfix/pkarw 3073
  CHANGELOG.md
  core/i18n/resource/i18n/en-US.csv
  core/modules/cart/components/AddToCart.ts
  core/modules/cart/store/actions.ts
  core/modules/checkout/components/Shipping.ts
  core/modules/order/components/UserOrders.ts
  core/modules/order/components/UserSingleOrder.ts
  core/pages/Checkout.js
  core/pages/Product.js
  docs/guide/upgrade-notes/README.md
  src/modules/instant-checkout/components/InstantCheckout.vue
Labels: QA - Ready for tests

#3097 Cartid as string
  CHANGELOG.md
  core/pages/Checkout.js
Labels: QA approved on branch
