Repository vuestorefront/vue-storefront, pull requests merged in 2019-08, with the labels that each got.

#3301 Missing coupon code after login or registering
  CHANGELOG.md
  core/modules/cart/store/actions.ts
  core/modules/checkout/components/OrderReview.ts
  core/modules/user/store/actions.ts
Labels: QA approved on branch

#3323 fix async chain in registering routes
  CHANGELOG.md
  core/client-entry.ts
  core/modules/url/store/actions.ts
Labels: QA - Ready for tests, not ready for merge

#3284 Sending shipping address to the shipping-info endpoint
  core/modules/cart/helpers/createOrderData.ts
  core/modules/cart/helpers/createShippingInfoData.ts
  core/modules/cart/helpers/index.ts
  core/modules/cart/helpers/productsEquals.ts
  core/modules/cart/store/actions.ts
  core/modules/cart/test/unit/helpers/createOrderData.spec.ts
  core/modules/cart/test/unit/helpers/createShippingInfoData.spec.ts
  core/modules/cart/test/unit/index.spec.ts
  core/modules/cart/types/CheckoutData.ts
  core/modules/cart/types/OrderShippingDetails.ts
  core/modules/cart/types/PaymentMethod.ts
  core/modules/cart/types/ShippingAddress.ts
  core/modules/cart/types/ShippingMethod.ts
  core/modules/checkout/types/CheckoutState.ts
  core/modules/checkout/types/PaymentDetails.ts
  core/modules/checkout/types/ShippingDetails.ts
Labels: QA - Ready for tests

#3334 fix redirect loop in production mode
  core/helpers/index.ts
  core/helpers/validators/index.ts
  src/themes/default/components/core/blocks/Checkout/Payment.vue
  src/themes/default/components/core/blocks/Checkout/Shipping.vue
Labels: QA - Ready for tests

#3322 Fixed startSession which has not used on all places the $db.usersCollection
  CHANGELOG.md
  core/modules/user/store/actions.ts
Labels: QA - Ready for tests

#3296 #3243 changed response code for page-not-found to 404
  CHANGELOG.md
  core/modules/url/router/beforeEach.ts
  core/pages/PageNotFound.js
  docs/guide/upgrade-notes/README.md
  src/themes/default/router/index.js
Labels: QA approved on branch, vs-hackathon

#3298 Feature/refactor catalog prefetch stock items
  CHANGELOG.md
  core/modules/catalog-next/helpers/cacheProductsHelper.ts
  core/modules/catalog-next/store/category/actions.ts
  core/modules/catalog-next/test/unit/prefetchStockItems.spec.ts
Labels: QA - Ready for tests, vs-hackathon

#3356 Refactoring attribute module
  core/modules/catalog/helpers/areAttributesAlreadyLoaded.ts
  core/modules/catalog/helpers/createAttributesListQuery.ts
  core/modules/catalog/helpers/reduceAttributesLists.ts
  core/modules/catalog/store/attribute/actions.ts
  core/modules/catalog/store/attribute/getters.ts
  core/modules/catalog/store/attribute/mutation-types.ts
  core/modules/catalog/store/attribute/mutations.ts
  core/modules/catalog/types/Attribute.ts
Labels: QA - Ready for tests

#3344 Apply lazy-hydrate on category page
  CHANGELOG.md
  config/default.json
  core/app.ts
  core/client-entry.ts
  core/lib/multistore.ts
  core/scripts/utils/ssr-renderer.js
  core/server-entry.ts
  core/store/index.ts
  core/types/RootState.ts
  docs/guide/basics/configuration.md
  src/themes/default/pages/Category.vue
Labels: QA approved on branch

#3378 Refactor vuex order module
  CHANGELOG.md
  config/default.json
  core/data-resolver/OrderService.ts
  core/data-resolver/index.ts
  core/data-resolver/types/DataResolver.d.ts
  core/modules/checkout/store/checkout/mutations.ts
  core/modules/order/helpers/index.ts
  core/modules/order/helpers/notifications.ts
  core/modules/order/helpers/optimizeOrder.ts
  core/modules/order/helpers/prepareOrder.ts
  core/modules/order/store/actions.ts
  core/modules/order/store/mutation-types.ts
  core/modules/order/store/mutations.ts
Labels: QA - Ready for tests, not ready for merge

#3366 Bugfix/body no-scroll behavior for iOS
  CHANGELOG.md
  package.json
  src/themes/default-amp/css/base/_base.scss
  src/themes/default/components/core/Modal.vue
  src/themes/default/components/core/Overlay.vue
  src/themes/default/components/core/ProductGalleryZoomCarousel.vue
  src/themes/default/components/core/blocks/Microcart/Microcart.vue
  src/themes/default/components/core/blocks/SearchPanel/SearchPanel.vue
  src/themes/default/components/core/blocks/SidebarMenu/SidebarMenu.vue
  src/themes/default/components/core/blocks/Wishlist/Wishlist.vue
  src/themes/default/css/base/_base.scss
  yarn.lock
Labels: QA - Ready for tests

#3295 #3286 + #3332 `catalog-next` module improvements
  CHANGELOG.md
  config/default.json
  core/modules/catalog-next/helpers/categoryHelpers.ts
  core/modules/catalog-next/store/category/getters.ts
  core/modules/catalog-next/store/category/mutations.ts
  src/themes/default/pages/Category.vue
Labels: QA - Ready for tests, vs-hackathon

#3395 Refactoring vuex stock module
  CHANGELOG.md
  core/data-resolver/StockService.ts
  core/data-resolver/index.ts
  core/data-resolver/types/DataResolver.d.ts
  core/modules/cart/helpers/validateProduct.ts
  core/modules/cart/store/actions/syncrhonizeActions.ts
  core/modules/catalog/helpers/stock/getProductInfos.ts
  core/modules/catalog/helpers/stock/getStatus.ts
  core/modules/catalog/helpers/stock/index.ts
  core/modules/catalog/store/stock/actions.ts
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/components/theme/blocks/AsyncSidebar/AsyncSidebar.vue
  src/themes/default/css/base/_global_vars.scss
Labels: QA - Ready for tests, not ready for merge

#3384 Refactoring vuex tax module
  CHANGELOG.md
  core/modules/catalog/helpers/index.ts
  core/modules/catalog/helpers/taxCalc.ts
  core/modules/catalog/store/product/actions.ts
  core/modules/catalog/store/tax/actions.ts
  core/modules/catalog/store/tax/getters.ts
  core/modules/catalog/store/tax/index.ts
  core/modules/catalog/store/tax/mutations.ts
  core/pages/Category.js
  core/pages/Product.js
  src/themes/default/components/core/blocks/Microcart/Product.vue
Labels: not ready for merge

#3413 Update upgrade notes
  docs/guide/upgrade-notes/README.md
Labels: docs

#3411 Fix body scroll lock and small visual changes
  src/themes/default/components/core/Modal.vue
  src/themes/default/components/core/ProductGalleryZoomCarousel.vue
  src/themes/default/components/core/blocks/Auth/ForgotPass.vue
  src/themes/default/components/core/blocks/Auth/Login.vue
  src/themes/default/components/core/blocks/Auth/Register.vue
  src/themes/default/components/core/blocks/Microcart/Microcart.vue
  src/themes/default/components/core/blocks/SidebarMenu/SidebarMenu.vue
  src/themes/default/components/core/blocks/Wishlist/Wishlist.vue
  src/themes/default/components/theme/blocks/AsyncSidebar/AsyncSidebar.vue
Labels: QA approved on branch

#3432 Bugfix/ProductVideo component not displaying videos
  CHANGELOG.md
  core/modules/catalog/components/ProductVideo.ts
  core/modules/compare/components/AddToCompare.ts
Labels: QA approved on branch

#3425 Fixed wrong release life cycle link
  CONTRIBUTING.md
Labels: docs

#3426 Bugfix/Not all content is rendered after redirecting from /my-account endpoint. #3325
  CHANGELOG.md
  core/modules/user/components/UserAccount.ts
  core/modules/user/index.ts
  core/modules/user/router/beforeEach.ts
  core/pages/MyAccount.js
  docs/guide/upgrade-notes/README.md
  src/themes/default/router/index.js
Labels: QA approved on branch

#3447 Ticket 3437
  CHANGELOG.md
  src/themes/default/pages/Compare.vue
Labels: vs-hackathon

#3439 Feature/category improvements
  core/modules/catalog-next/hooks.ts
  core/modules/catalog-next/store/category/actions.ts
  core/modules/url/store/mutations.ts
  src/themes/default/pages/Category.vue
Labels: vs-hackathon

#3449 fix browserlist
  package.json
Labels: docs

#3420 Refactoring vuex newsletter module
  CHANGELOG.md
  core/data-resolver/NewsletterService.ts
  core/data-resolver/index.ts
  core/data-resolver/types/DataResolver.d.ts
  core/modules/newsletter/index.ts
  core/modules/newsletter/mixins/SubscriptionStatus.ts
  core/modules/newsletter/mixins/Unsubscribe.ts
  core/modules/newsletter/store/index.ts
  core/modules/newsletter/test/unit/mixins/SubscriptionStatus.spec.ts
  src/themes/default/components/core/NewsletterPopup.vue
  src/themes/default/components/core/blocks/Footer/Newsletter.vue
  src/themes/default/components/core/blocks/MyAccount/MyNewsletter.vue
  src/themes/default/resource/i18n/en-US.csv
Labels: QA approved on branch
