Repository vuestorefront/vue-storefront, pull requests merged in 2019-05, with the labels that each got.

#2900 Bugfix - #2898
  CHANGELOG.md
  core/modules/cart/store/actions.ts
  core/modules/offline-order/helpers/onNetworkStatusChange.ts
  core/pages/Checkout.js
  src/themes/default/components/core/blocks/Microcart/Product.vue
Labels: QA approved on branch

#2944 Load custom fonts without webfont.js
  CHANGELOG.md
  src/themes/default/css/base/_fonts.scss
  src/themes/default/css/main.scss
  src/themes/default/templates/index.basic.template.html
  src/themes/default/templates/index.template.html
Labels: QA - Ready for tests

#2919 2730 checkboxes
  CHANGELOG.md
  core/modules/checkout/components/Payment.ts
  core/modules/checkout/components/Shipping.ts
  core/modules/user/components/UserShippingDetails.ts
  src/themes/default/components/core/blocks/Checkout/Payment.vue
  src/themes/default/components/core/blocks/Checkout/Shipping.vue
  src/themes/default/components/core/blocks/MyAccount/MyShippingDetails.vue
Labels: QA - Ready for tests

#2860 FAQ - product page CORS issues
  docs/guide/basics/recipes.md
Labels: docs

#2982 wrong docker name
  docs/guide/installation/linux-mac.md
Labels: docs

#2925 Bugfix/product image loader
  CHANGELOG.md
  src/themes/default/components/core/ProductGalleryCarousel.vue
  src/themes/default/components/core/ProductGalleryZoomCarousel.vue
  src/themes/default/components/core/ProductImage.vue
  src/themes/default/components/core/ProductTile.vue
Labels: QA - Ready for tests
