Repository vuestorefront/vue-storefront, pull requests merged in 2019-11, with the labels that each got.

#3787 memory leak category page
  core/app.ts
  core/client-entry.ts
  core/filters/price.js
  core/lib/store/storage.ts
  core/modules/catalog-next/store/category/getters.ts
  core/modules/catalog-next/store/category/index.ts
  core/modules/catalog-next/store/category/mutations.ts
  core/modules/catalog/helpers/search.ts
  core/modules/catalog/store/category/actions.ts
  core/scripts/server.ts
  core/scripts/utils/ssr-renderer.js
  core/server-entry.ts
  package.json
Labels: QA approved on branch, backport-to-1.10

#3815 Fix amp pages
  CHANGELOG.md
  src/themes/default-amp/pages/Product.vue
  src/themes/default/pages/Category.vue
Labels: QA - Ready for tests

#3817 Fix tile sizing, categories sort
  CHANGELOG.md
  core/modules/catalog-next/store/category/actions.ts
  core/modules/user/test/unit/store/mutations.spec.ts
  src/themes/default/components/core/ProductTile.vue
  src/themes/default/components/core/SortBy.vue
Labels: QA - Ready for tests

#3686 Changed pre commit linting to use production linting
  CHANGELOG.md
  package.json
Labels: vs-hackathon

#3771 Improve the readability of 'getShippingDetails()' and 'updateDetails' method of UserShippingDetails component
  CHANGELOG.md
  core/modules/user/components/UserShippingDetails.ts
Labels: QA approved on branch
