Repository vuestorefront/vue-storefront, pull requests merged in 2019-10, with the labels that each got.

#3692 Fixed a three problems that could happen when you have bundle products
  CHANGELOG.md
  core/modules/cart/helpers/productsEquals.ts
  core/modules/catalog/components/ProductBundleOption.ts
  src/themes/default/components/core/ProductBundleOptions.vue
Labels: QA - Ready for tests

#3654 Payment methods for billing address
  CHANGELOG.md
  core/modules/cart/helpers/createOrderData.ts
  core/modules/cart/helpers/createShippingInfoData.ts
  core/modules/cart/store/actions/methodsActions.ts
  core/modules/cart/store/actions/totalsActions.ts
  core/modules/cart/test/unit/helpers/createOrderData.spec.ts
  core/modules/cart/test/unit/helpers/createShippingInfoData.spec.ts
  core/modules/cart/test/unit/store/methodsActions.spec.ts
  core/modules/cart/types/BillingAddress.ts
  core/modules/cart/types/CheckoutData.ts
  core/modules/cart/types/OrderShippingDetails.ts
  core/modules/checkout/components/Payment.ts
  src/themes/default/components/core/blocks/Checkout/Payment.vue
Labels: QA - Ready for tests

#3709 typo fixed
  CHANGELOG.md
  CONTRIBUTING.md
Labels: docs

#3687 Backport bugfixes for 1.10
  CHANGELOG.md
  config/default.json
  core/app.ts
  core/client-entry.ts
  core/compatibility/components/blocks/Microcart/Product.js
  core/helpers/index.ts
  core/i18n/resource/i18n/jp-JP.csv
  core/lib/multistore.ts
  core/lib/router-manager.ts
  core/lib/search.ts
  core/lib/search/adapter/api/searchAdapter.ts
  core/lib/search/adapter/graphql/searchAdapter.ts
  core/lib/storeCodeFromRoute.ts
  core/lib/sync/index.ts
  core/lib/test/unit/multistore.spec.ts
  core/lib/types.ts
  core/modules/cart/store/actions.ts
  core/modules/catalog/helpers/tax.ts
  core/modules/catalog/hooks/beforeRegistration.ts
  core/modules/catalog/store/product/actions.ts
  core/modules/compare/store/plugin.ts
  core/modules/url/helpers/index.ts
  core/modules/url/router/beforeEach.ts
  core/modules/url/store/actions.ts
  core/modules/url/types/UrlState.ts
  core/modules/user/components/UserShippingDetails.ts
  core/scripts/server.js
  core/server-entry.ts
  core/store/lib/storage.ts
  docs/guide/upgrade-notes/README.md
  package.json
  src/themes/default/components/core/CookieNotification.vue
  src/themes/default/components/core/OfflineBadge.vue
  src/themes/default/components/core/blocks/SearchPanel/SearchPanel.gql.vue
  src/themes/default/components/core/blocks/Wishlist/Product.vue
  src/themes/default/components/theme/blocks/Inspirations/InspirationTile.vue
  src/themes/default/resource/i18n/ar-SY.csv
  src/themes/default/resource/i18n/cs-CZ.csv
  src/themes/default/resource/i18n/de-DE.csv
  src/themes/default/resource/i18n/en-US.csv
  src/themes/default/resource/i18n/es-ES.csv
  src/themes/default/resource/i18n/fr-FR.csv
  src/themes/default/resource/i18n/it-IT.csv
  src/themes/default/resource/i18n/jp-JP.csv
  src/themes/default/resource/i18n/nl-NL.csv
  src/themes/default/resource/i18n/pl-PL.csv
  src/themes/default/resource/i18n/pt-BR.csv
  src/themes/default/resource/i18n/ru-RU.csv
  src/themes/default/resource/i18n/zh-cn.csv
  yarn.lock
Labels: QA approved on branch

#3703 Adds some additional german translations.
  CHANGELOG.md
  core/i18n/resource/i18n/de-DE.csv
  src/themes/default/resource/i18n/de-DE.csv
Labels: vs-hackathon

#3730 Add validation message for city field
  CHANGELOG.md
  src/themes/default/components/core/blocks/Checkout/Payment.vue
  src/themes/default/components/core/blocks/Checkout/Shipping.vue
  src/themes/default/components/core/blocks/MyAccount/MyProfile.vue
  src/themes/default/components/core/blocks/MyAccount/MyShippingDetails.vue
Labels: QA approved on branch

#3720 Feature/add info about qty in microcart
  CHANGELOG.md
  core/i18n/resource/i18n/cs-CZ.csv
  core/i18n/resource/i18n/de-DE.csv
  core/i18n/resource/i18n/en-US.csv
  core/i18n/resource/i18n/es-ES.csv
  core/i18n/resource/i18n/fr-FR.csv
  core/i18n/resource/i18n/it-IT.csv
  core/i18n/resource/i18n/jp-JP.csv
  core/i18n/resource/i18n/nl-NL.csv
  core/i18n/resource/i18n/pl-PL.csv
  core/i18n/resource/i18n/pt-BR.csv
  core/i18n/resource/i18n/pt-PT.csv
  core/i18n/resource/i18n/ru-RU.csv
  core/i18n/resource/i18n/zh-cn.csv
  src/themes/default/components/core/ProductQuantity.vue
  src/themes/default/components/core/blocks/Microcart/EditMode.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/pages/Product.vue
Labels: QA approved on branch

#3725 load recently viewed module in my account
  CHANGELOG.md
  src/themes/default/pages/MyAccount.vue
Labels: QA approved on branch

#3724 fix notification translation after add to cart
  CHANGELOG.md
  core/i18n/index.ts
  core/i18n/resource/i18n/cs-CZ.csv
  core/i18n/resource/i18n/de-DE.csv
  core/i18n/resource/i18n/es-ES.csv
  core/i18n/resource/i18n/fr-FR.csv
  core/i18n/resource/i18n/jp-JP.csv
  core/i18n/resource/i18n/nl-NL.csv
  core/i18n/resource/i18n/pl-PL.csv
  core/i18n/resource/i18n/pt-BR.csv
  core/i18n/resource/i18n/pt-PT.csv
  core/i18n/resource/i18n/ru-RU.csv
  core/i18n/resource/i18n/zh-cn.csv
  core/modules/cart/helpers/notifications.ts
  core/modules/cart/store/actions/itemActions.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/order/helpers/notifications.ts
  core/modules/order/store/actions.ts
Labels: QA approved on branch

#3728 remove prefech dayjs locales
  CHANGELOG.md
  core/build/webpack.base.config.ts
  core/i18n/helpers.ts
  core/i18n/index.ts
  core/i18n/scripts/translation.preprocessor.js
Labels: QA approved on branch

#3739 Bugfix/3697 comparison flag improving
  CHANGELOG.md
  core/modules/catalog/store/attribute/getters.ts
Labels: QA approved on branch

#3759 allow to fetch avticity parameter
  CHANGELOG.md
  config/default.json
  src/themes/default/components/core/blocks/Compare/AddToCompare.vue
Labels: QA approved on branch

#3765 Fix instant checkout
  CHANGELOG.md
  src/modules/instant-checkout/components/InstantCheckout.vue
Labels: QA approved on branch

#3760 Fix broken links for store lcoator
  CHANGELOG.md
  src/themes/default/components/core/blocks/Footer/Footer.vue
  src/themes/default/pages/Static.vue
Labels: QA approved on branch
