Repository vuestorefront/vue-storefront, pull requests merged in 2019-07, with the labels that each got.

#3174 fix inheritance through extend
  core/lib/multistore.ts
Labels: QA - Ready for tests

#2995 [DOCS] cookbook added
  docs/.vuepress/config.js
  docs/guide/cookbook/common-pitfall.md
  docs/guide/cookbook/data-import.md
  docs/guide/cookbook/elastic.md
  docs/guide/cookbook/extend-module.md
  docs/guide/cookbook/integration.md
  docs/guide/cookbook/setup.md
  docs/guide/cookbook/theme.md
  docs/guide/images/GitHub-Architecture-VS-data-import.png
  docs/guide/images/data_pump_1.png
  docs/guide/images/data_pump_10.png
  docs/guide/images/data_pump_2.png
  docs/guide/images/data_pump_3.png
  docs/guide/images/data_pump_5.png
  docs/guide/images/data_pump_6.png
  docs/guide/images/data_pump_7.png
  docs/guide/images/data_pump_8.png
  docs/guide/images/data_pump_9.png
  docs/guide/images/data_pump_design.png
  docs/guide/images/data_pump_err_1.png
  docs/guide/images/datum_pump_design.png
  docs/guide/images/delta_error.png
  docs/guide/images/es-map-result.png
  docs/guide/images/img_catalog_prod.png
  docs/guide/images/img_catalog_prod_fail.png
  docs/guide/images/index-not-found-ex.png
  docs/guide/images/npm-run-migrate-result.png
  docs/guide/images/sss.png
  docs/guide/integrations/product-reviews.md
  docs/now.json
  docs/package.json
Labels: docs

#3219 Bugfix/#3187
  CHANGELOG.md
  src/themes/default/components/core/ProductGalleryCarousel.vue
  src/themes/default/components/core/ProductGalleryZoomCarousel.vue
  src/themes/default/components/core/ProductImage.vue
  src/themes/default/components/core/ProductTile.vue
  src/themes/default/components/core/blocks/Checkout/Product.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
  src/themes/default/components/core/blocks/Wishlist/Product.vue
Labels: QA approved on branch

#3237 Fix for #3151, #3089 and #3178
  CHANGELOG.md
  core/lib/sync/task.ts
  src/modules/payment-cash-on-delivery/hooks/afterRegistration.ts
Labels: QA - Ready for tests

#3254 Add hosting text
  README.md
Labels: docs

#3257 Fix typo in product store doc
  docs/guide/vuex/product-store.md
Labels: docs

#3244 Fixed bug around first setup of storeView state when SSR
  CHANGELOG.md
  core/lib/multistore.ts
  core/lib/test/unit/multistore.spec.ts
  test/unit/jest.conf.js
Labels: QA - Ready for tests

#3247 Refactoring user vuex module
  CHANGELOG.md
  core/data-resolver/UserService.ts
  core/data-resolver/index.ts
  core/data-resolver/types/DataResolver.d.ts
  core/helpers/index.ts
  core/lib/sync/task.ts
  core/lib/sync/types/Task.ts
  core/modules/user/store/actions.ts
  core/modules/user/store/getters.ts
  core/store/actions.ts
  core/store/getters.ts
  core/store/index.ts
  core/store/mutation-types.ts
  core/store/mutations.ts
  core/test/unit/helpers/buildFilterProductsQuery.spec.ts
  docs/.vuepress/config.js
  docs/guide/data-resolvers/category-service.md
  docs/guide/data-resolvers/introduction.md
  docs/guide/data-resolvers/user-service.md
Labels: QA - Ready for tests, not ready for merge

#3165 Feature/2733
  CHANGELOG.md
  core/modules/catalog/store/stock/actions.ts
  core/modules/catalog/store/stock/index.ts
  core/modules/catalog/store/stock/mutation-types.ts
  core/modules/catalog/store/stock/mutations.ts
  src/themes/default/components/core/Spinner.vue
  src/themes/default/components/core/blocks/Form/BaseInputNumber.vue
  src/themes/default/pages/Product.vue
Labels: QA approved on branch

#3261 Add multiple bundle products in the cart
  core/modules/cart/helpers/index.ts
  core/modules/cart/helpers/optimizeProduct.ts
  core/modules/cart/helpers/prepareProductsToAdd.ts
  core/modules/cart/helpers/productChecksum.ts
  core/modules/cart/helpers/productsEquals.ts
  core/modules/cart/index.ts
  core/modules/cart/store/actions.ts
  core/modules/cart/store/mutations.ts
  core/modules/cart/test/unit/helpers/prepareProductsToAdd.spec.ts
  core/modules/cart/test/unit/helpers/productChecksum.spec.ts
  core/modules/cart/test/unit/helpers/productEquals.spec.ts
  core/modules/cart/types/CartItem.ts
  core/modules/catalog/components/ProductBundleOptions.ts
  src/themes/default/components/core/Overlay.vue
  src/themes/default/components/core/blocks/Microcart/Microcart.vue
  src/themes/default/components/core/blocks/Microcart/Product.vue
Labels: QA - Ready for tests, not ready for merge

#3285 [BUG] corrected typo in index.js of default theme and amp-default theme
  src/themes/default-amp/index.js
  src/themes/default/index.js
Labels: vs-hackathon

#3294 fixing upgrade notes url on pull request templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/feature-improvement.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/PULL_REQUEST_TEMPLATE/stabilisation-fix.md
Labels: docs, vs-hackathon

#3289 Feature/configurable expire headers for static assets
  CHANGELOG.md
  config/default.json
  core/scripts/server.js
  package.json
  yarn.lock
Labels: vs-hackathon

#3287 Bugfix/#3253
  CHANGELOG.md
  core/build/webpack.base.config.ts
  core/lib/storage-manager.ts
  core/lib/store/entities.ts
  core/lib/store/filters.ts
  core/lib/store/storage.ts
  core/lib/sync/task.ts
  core/modules/catalog/helpers/search.ts
  core/modules/catalog/store/attribute/mutations.ts
  core/modules/catalog/store/category/actions.ts
  core/modules/catalog/store/category/mutations.ts
  core/modules/catalog/store/product/actions.ts
  core/modules/catalog/store/tax/mutations.ts
  core/modules/compare/store/actions.ts
  core/modules/order/index.ts
  core/modules/order/store/mutations.ts
  core/modules/wishlist/store/actions.ts
  docs/guide/upgrade-notes/README.md
Labels: vs-hackathon

#3291 Bugfix/3288
  CHANGELOG.md
  core/i18n/resource/i18n/pt-BR.csv
Labels: vs-hackathon

#3310 Fix DayJS memory leak
  CHANGELOG.md
  core/filters/date.js
  package.json
Labels: QA - Ready for tests

#3292 Bugfix/fixing static links
  CHANGELOG.md
  src/themes/default/components/core/blocks/Footer/MinimalFooter.vue
  src/themes/default/resource/banners/de_main-image.json
  src/themes/default/resource/banners/de_promoted_offers.json
  src/themes/default/resource/banners/it_main-image.json
  src/themes/default/resource/banners/it_promoted_offers.json
  src/themes/default/resource/main-image.json
  src/themes/default/resource/promoted_offers.json
  src/themes/default/resource/slider.json
Labels: QA - Ready for tests, vs-hackathon

#3283 [Docs] Module cookbook draft added
  docs/.vuepress/config.js
  docs/guide/basics/project-structure.md
  docs/guide/cookbook/common-pitfall.md
  docs/guide/cookbook/extend-module.md
  docs/guide/cookbook/internals.md
  docs/guide/cookbook/module.md
  docs/guide/cookbook/setup.md
  docs/guide/cookbook/vue.md
Labels: docs

#3315 Update production-setup.md
  docs/guide/installation/production-setup.md
Labels: docs
