Repository vuestorefront/vue-storefront, pull requests merged in 2020-08, with the labels that each got.

#4638 Scripts to release
  .github/workflows/deploy-storefrontcloud.yml
  package.json
  scripts/package.json
  scripts/release/constants.ts
  scripts/release/index.ts
  scripts/release/packageTypes.ts
  scripts/release/updatePackageVersion.ts
  scripts/tsconfig.json
Labels: Next

#4701 Next: Draft: Basic readme for nuxt-theme-module
  packages/core/nuxt-theme-module/README.md
  packages/core/nuxt-theme-module/index.js
Labels: Next

#4689 Next: Missing features cko
  packages/checkout-com/README.md
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/nuxt/plugin.js
  packages/checkout-com/rollup.config.js
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
Labels: Next

#4648 Next: Checkout com - Save cards
  packages/checkout-com/README.md
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/checkout-com/package.json
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
Labels: Next

#4713 Fix configs
  .github/workflows/deploy-storefrontcloud.yml
  packages/checkout-com/package.json
  packages/commercetools/composables/package.json
  yarn.lock
Labels: Next

#4693 add ssrRef for category and product
  packages/core/core/__tests__/factories/useCategoryFactory.spec.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/ssr.spec.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/ssr/index.ts
  packages/core/jest.config.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  scripts/package.json
  yarn.lock
Labels: Next

#4717 Next: Support for using ', " and ` in the config
  .eslintignore
  packages/checkout-com/nuxt/plugin.js
Labels: Next

#4724 Removed CKO's scripts from CT
  packages/commercetools/theme/nuxt.config.js
Labels: Next

#4738 Next: Added babel/core to root deps & safer condition in Category.view in Shopify
  package.json
  packages/shopify/theme/pages/Category.vue
  yarn.lock
Labels: Next

#4746 Docker Compose 3.0 without network_mode
  docker-compose.yml
Labels: VSF1

#4749 Lc overridable success failure url
  packages/checkout-com/README.md
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/core/nuxt-theme-module/index.js
  packages/core/nuxt-theme-module/theme/assets/css/reset.scss
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#4714 Next: CLI - Create Project
  package.json
  packages/core/cli/README.md
  packages/core/cli/__tests__/commands/init.spec.ts
  packages/core/cli/__tests__/createProject/copyAgnosticTheme.spec.ts
  packages/core/cli/__tests__/createProject/copyIntegrationTheme.spec.ts
  packages/core/cli/__tests__/createProject/index.spec.ts
  packages/core/cli/__tests__/createProject/updatePackageName.spec.ts
  packages/core/cli/__tests__/index.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/package.json
  packages/core/cli/src/commands/init.ts
  packages/core/cli/src/index.ts
  packages/core/cli/src/scripts/createProject/copyAgnosticTheme.ts
  packages/core/cli/src/scripts/createProject/copyIntegrationTheme.ts
  packages/core/cli/src/scripts/createProject/index.ts
  packages/core/cli/src/scripts/createProject/updatePackageName.ts
  packages/core/cli/src/utils/getIntegrations.ts
  yarn.lock
Labels: Next

#4711 [Docs] Getting Started about Nuxt Modules
  packages/commercetools/composables/nuxt/README.MD
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/core/getting-started.md
Labels: Next

#4772 Next: Got rid of nuxt capi from nuxt install getting started
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/core/getting-started.md
Labels: Next

#4751 Default config refactor
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/defaultConfig.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/index.ts
Labels: Next, commercetools

#4765 [Docs] Updated intro
  packages/core/docs/README.md
  packages/core/docs/images/f_b.png
  packages/core/docs/images/templates.png
  packages/core/docs/images/vsfn.png
Labels: Next

#4793 Next: Prismic separated from ct in travis
  .travis.yml
Labels: Next

#4786 Updated versions of packages and npmignores
  packages/commercetools/api-client/.npmignore
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/.npmignore
  packages/commercetools/composables/package.json
Labels: Next

#4788 New SSR implementation & fixed tests for prismic
  packages/prismic/src/composables/usePrismic/index.ts
  packages/prismic/tests/setup.ts
  packages/prismic/tests/usePrismic.spec.ts
Labels: Next

#4804 extend the query for shipping methods with rates data
  packages/commercetools/api-client/src/fragments/index.ts
Labels: Next, commercetools
