Repository vuestorefront/vue-storefront, pull requests merged in 2020-12, with the labels that each got.

#5154 Discounts API
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/checkout/CartPreview.vue
  yarn.lock
Labels: Next

#5295 token retry strategy
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/restrictedOperations.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  yarn.lock
Labels: Next, commercetools

#5272 Improve cart missmatch handling
  packages/commercetools/api-client/src/api/updateCart/index.ts
Labels: commercetools

#5223 Designs part2 - my account + CartSidebar
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
Labels: Next

#5279 fix: broken focus in login form
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Labels: Next

#5304 Set logger levels based on NODE_ENV
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/utils/logger/index.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/general/logging.md
Labels: Next

#5278 Core Tests update
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/context.spec.ts
  packages/core/core/__tests__/utils/nuxt/index.spec.ts
  packages/core/core/__tests__/utils/nuxt/nuxtContentFactory.spec.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
Labels: Next

#5312 fix: select for changinig variant
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#5309 fix: missing changelog for 5373
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Labels: Next

#5321 Device fix develop
  CHANGELOG.md
  core/scripts/server.ts
  core/server/hooks.ts
  docs/guide/upgrade-notes/README.md
  src/modules/device/README.md
  src/modules/device/index.ts
  src/modules/device/pages/TestMode.vue
  src/modules/device/server.ts
  src/modules/device/test.js
  src/modules/device/util/createDeviceTests.ts
  src/modules/device/util/injectDeviceTests.ts
Labels: VSF1

#5328 [CT] Fix getOrders api
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5310 fix: Last footer category is covered by the bottom nav
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
Labels: Next

#5299 Unification of naming
  packages/boilerplate/theme/pages/Checkout/Payment.vue
  packages/boilerplate/theme/pages/Checkout/Shipping.vue
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useCategoryFactory.spec.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/enterprise/use-user-billing.md
  packages/core/docs/commercetools/enterprise/use-user-shipping.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-wishlist.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/composables.md
  packages/core/docs/core/use-cart.md
  packages/core/docs/core/use-wishlist.md
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/components/checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#5339 Configuration i18n modules
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/components/checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#5324 Memory leak in dynamic config Fix
  CHANGELOG.md
  config/default.json
  core/scripts/server.ts
  docs/guide/archives/cookbook.md
  docs/guide/basics/configuration.md
  docs/guide/cookbook/setup.md
Labels: VSF1

#5330 Unify the returning properties in composables
  packages/commercetools/api-client/__tests__/api/getOrders.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUser/index.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/utils/context.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/use-product.md
  packages/core/rfcs/20200417-products-filters.md
Labels: Next

#5348 Update Boilerplate to work with unified composables
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/getters/orderGetters.ts
  packages/boilerplate/composables/src/types/index.ts
  packages/boilerplate/composables/src/useCart/index.ts
  packages/boilerplate/composables/src/useCategory/index.ts
  packages/boilerplate/composables/src/useProduct/index.ts
  packages/boilerplate/composables/src/useReview/index.ts
  packages/boilerplate/composables/src/useUser/index.ts
  packages/boilerplate/composables/src/useUserBilling/index.ts
  packages/boilerplate/composables/src/useUserOrders/index.ts
  packages/boilerplate/composables/src/useUserShipping/index.ts
  packages/boilerplate/composables/src/useWishlist/index.ts
  packages/boilerplate/theme/package.json
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/TopBar.vue
  yarn.lock
Labels: Next

#5326 Add lazy loading and hydration
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Labels: Next

#5350 Change return statement for factories
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useUserBilling/index.ts
  packages/boilerplate/composables/src/useUserShipping/index.ts
  packages/boilerplate/composables/src/useWishlist/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Labels: Next

#5352 Draft: Totals localstorage sync
  CHANGELOG.md
  core/modules/cart/helpers/cartCacheHandler.ts
  core/modules/cart/helpers/index.ts
  core/modules/cart/helpers/syncCartWhenLocalStorageChange.ts
  core/modules/cart/helpers/totalsCacheHandler.ts
  core/modules/cart/index.ts
  core/modules/cart/store/actions/synchronizeActions.ts
  core/modules/cart/store/actions/totalsActions.ts
  core/modules/cart/test/unit/helpers/cartCacheHandler.spec.ts
  core/modules/cart/test/unit/helpers/totalsCacheHandler.spec.ts
Labels: VSF1

#5357 fix: Add missing `i18n` tags
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/TopBar.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/components/checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/components/checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next
