Repository vuestorefront/vue-storefront, pull requests merged in 2020-07, with the labels that each got.

#4577 remove deprecated value from attributesListQuery query
  CHANGELOG.md
  core/modules/catalog/helpers/createAttributesListQuery.ts
Labels: VSF1

#4614 Next: Module installs integration
  .eslintignore
  packages/about-you/composables/nuxt/README.MD
  packages/about-you/composables/nuxt/helpers/cart/getCartToken.js
  packages/about-you/composables/nuxt/helpers/utils/generateToken.js
  packages/about-you/composables/nuxt/helpers/wishlist/getWishlistToken.js
  packages/about-you/composables/nuxt/index.js
  packages/about-you/composables/nuxt/plugin.js
  packages/about-you/composables/package.json
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/plugins/about-you.js
  packages/boilerplate/composables/nuxt/README.MD
  packages/boilerplate/composables/nuxt/index.js
  packages/boilerplate/composables/nuxt/plugin.js
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/defaultConfig.js
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/nuxt/token-middleware.js
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/plugins/README.md
  packages/commercetools/theme/plugins/commercetools.js
  yarn.lock
Labels: Next

#4556 Make calculation of bundled products price by options optional
  CHANGELOG.md
  config/default.json
  core/modules/catalog/helpers/associatedProducts/setBundleProducts.ts
Labels: VSF1

#4644 Bugfix/4619
  CHANGELOG.md
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/store/actions/quantityActions.ts
  core/modules/cart/test/unit/store/mergeActions.spec.ts
  core/modules/cart/test/unit/store/quantityActions.spec.ts
Labels: backport-to-1.11

#4640 Added nuxt to cko package
  packages/checkout-com/package.json
Labels: Next

#4661 Fix boilerplate
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/api-client/src/api/getProduct/index.ts
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/getters/cartGetters.ts
  packages/boilerplate/composables/src/composables/getters/categoryGetters.ts
  packages/boilerplate/composables/src/composables/getters/orderGetters.ts
  packages/boilerplate/composables/src/composables/getters/productGetters.ts
  packages/boilerplate/composables/src/composables/getters/wishlistGetters.ts
  packages/boilerplate/composables/src/composables/useProduct/index.ts
  packages/boilerplate/composables/src/composables/useUserOrders/index.ts
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
Labels: Next

#4657 Fix wrong value in Cache-Control header for max-age
  core/scripts/server.ts
Labels: backport-to-1.10, backport-to-1.11
