Repository vuestorefront/vue-storefront, pull requests merged in 2020-06, with the labels that each got.

#4458 Next: remove lib folder in boilerplate
  packages/boilerplate/api-client/.gitignore
  packages/boilerplate/api-client/lib/addCoupon.d.ts
  packages/boilerplate/api-client/lib/addToCart.d.ts
  packages/boilerplate/api-client/lib/clearCart.d.ts
  packages/boilerplate/api-client/lib/getCategory.d.ts
  packages/boilerplate/api-client/lib/getProduct.d.ts
  packages/boilerplate/api-client/lib/getUser.d.ts
  packages/boilerplate/api-client/lib/index.cjs.js
  packages/boilerplate/api-client/lib/index.d.ts
  packages/boilerplate/api-client/lib/index.es.js
  packages/boilerplate/api-client/lib/placeOrder.d.ts
  packages/boilerplate/api-client/lib/removeCoupon.d.ts
  packages/boilerplate/api-client/lib/removeFromCart.d.ts
  packages/boilerplate/api-client/lib/types.d.ts
  packages/boilerplate/composables/package.json
Labels: Next

#4457 Next: use 10+ node version
  package.json
Labels: Next, bug

#4496 fix(ayc): update sfui version and remove not implemented account section
  packages/about-you/theme/components/AppHeader.vue
  packages/about-you/theme/package.json
  yarn.lock
Labels: AboutYouCloud, Next

#4512 fix(commercetools): add missing lang dir to fix build
  packages/commercetools/theme/lang/README.md
Labels: Next, commercetools

#4509 chore(commercetools): enable automatic package publishing for api-client
  packages/commercetools/api-client/package.json
Labels: Next, commercetools

#4514 chore(commercetools): enable publishing composables
  packages/commercetools/composables/package.json
Labels: Next, commercetools

#4518 chore: update yarn.lock
  yarn.lock
Labels: Next, commercetools

#4519 feat: sourcemaps
  packages/core/core/rollup.config.js
  packages/prismic/rollup.config.js
  packages/rollup.base.config.js
Labels: Next

#4508 feat: apollo error logging
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  yarn.lock
Labels: Next, commercetools

#4363 Feature/e2e tests
  .eslintignore
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/cart.js
  cypress/integration/category-page.js
  cypress/integration/login-path.js
  cypress/integration/my-account.js
  cypress/integration/navigation.js
  cypress/integration/place-an-order.js
  cypress/integration/product-page.js
  cypress/integration/register-path.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Labels: Next

#4492 Next: Switch to acceptLanguage for fetching localised fields from commercetools
  packages/commercetools/api-client/__tests__/api/createCart/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeIn/customerSignMeIn.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeUp/customerSignMeUp.spec.ts
  packages/commercetools/api-client/__tests__/api/getCart/getCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/createCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getCart/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/defaultQuery.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/theme/plugins/commercetools-config.js
  packages/core/docs/commercetools/api-client.md
Labels: Next
