Repository vuestorefront/vue-storefront, pull requests merged in 2020-04, with the labels that each got.

#4264 feat: publish canary versions
  .github/workflows/publish-canary.yml
  .gitignore
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/theme-module/package.json
  packages/prismic/package.json
  yarn.lock
Labels: Next

#4267 chore: use canary version of core packages
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/commercetools/composables/package.json
  yarn.lock
Labels: Next

#4270 refactor(ayc): api-client revamp
  .travis.yml
  package.json
  packages/about-you/api-client/__tests__/api/addCoupon/index.spec.ts
  packages/about-you/api-client/__tests__/api/addToCart/index.spec.ts
  packages/about-you/api-client/__tests__/api/clearCart/index.spec.ts
  packages/about-you/api-client/__tests__/api/getCategory/index.spec.ts
  packages/about-you/api-client/__tests__/api/getProduct/index.spec.ts
  packages/about-you/api-client/__tests__/api/getUser/index.spec.ts
  packages/about-you/api-client/__tests__/api/placeOrder/index.spec.ts
  packages/about-you/api-client/__tests__/api/removeCoupon/index.spec.ts
  packages/about-you/api-client/__tests__/api/removeFromCart/index.spec.ts
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/about-you/api-client/package.json
  packages/about-you/api-client/src/api/addCoupon/index.ts
  packages/about-you/api-client/src/api/addToCart/index.ts
  packages/about-you/api-client/src/api/clearCart/index.ts
  packages/about-you/api-client/src/api/getCategory/index.ts
  packages/about-you/api-client/src/api/getProduct/index.ts
  packages/about-you/api-client/src/api/getUser/index.ts
  packages/about-you/api-client/src/api/placeOrder/index.ts
  packages/about-you/api-client/src/api/removeCoupon/index.ts
  packages/about-you/api-client/src/api/removeFromCart/index.ts
  packages/about-you/api-client/src/index.ts
  packages/about-you/api-client/src/types/index.ts
  packages/about-you/composables/__tests__/composables/useCategory/index.spec.ts
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/__tests__/helpers/mapProductSearch.spec.ts
  packages/about-you/composables/package.json
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/about-you/composables/src/composables/getters/productGetters.ts
  packages/about-you/composables/src/composables/useCategory/index.ts
  packages/about-you/composables/src/composables/useLocale/factoryParams.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/composables/src/helpers/category/mapCategorySearchByPathParams.ts
  packages/about-you/composables/src/helpers/index.ts
  packages/about-you/composables/src/helpers/mapProductSearch.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/theme/helpers/category/getCategorySearchParameters.js
  packages/about-you/theme/package.json
  packages/core/theme-module/theme/components/AppHeader.vue
  yarn.lock
Labels: Next, about you

#4271 feat(core): Add translations, lazy loading, configure prefix
  packages/commercetools/theme/nuxt.config.js
  packages/core/theme-module/theme/components/AppFooter.vue
  packages/core/theme-module/theme/lang/de.js
  packages/core/theme-module/theme/lang/en.js
  packages/core/theme-module/theme/pages/Category.vue
Labels: Next

#4277 chore: fix build command for Windows environment
  package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  yarn.lock
Labels: Next

#4293 feat(ayc): category pagination & category composables tests
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
  packages/about-you/composables/__tests__/composables/useCategory/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useCategory/index.spec.ts
  packages/about-you/composables/__tests__/helpers/category/mapCategorySearchByPathParams.spec.ts
  packages/about-you/composables/__tests__/helpers/mapProductSearch.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/about-you/composables/src/composables/useCategory/factoryParams.ts
  packages/about-you/composables/src/composables/useCategory/index.ts
  packages/about-you/composables/src/helpers/category/mapCategorySearchByPathParams.ts
  packages/about-you/composables/src/helpers/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/package.json
Labels: AboutYouCloud, Next

#4301 fix(ayc): bump sfui version
  packages/about-you/theme/package.json
  yarn.lock
Labels: AboutYouCloud, Next

#4307 fix(ayc): i18n url localization issues
  packages/about-you/theme/nuxt.config.js
Labels: AboutYouCloud, Next

#4261 feat(core): add core implementation for products filters
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/types.ts
Labels: Next

#4310 chore: theme update
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/theme-module/theme/assets/css/reset.scss
  packages/core/theme-module/theme/components/AppFooter.vue
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/BottomNavigation.vue
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/components/InstagramFeed.vue
  packages/core/theme-module/theme/components/LocaleSelector.vue
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/components/TopBar.vue
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/components/checkout/OrderReview.vue
  packages/core/theme-module/theme/layouts/account.vue
  packages/core/theme-module/theme/layouts/default.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Checkout.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/theme-module/theme/pages/Home.vue
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/theme-module/theme/pages/Product.vue
  packages/core/theme-module/theme/pages/index.vue
  yarn.lock
Labels: Next

#4314 Feature/ayc api client unit test
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/about-you/api-client/src/index.ts
  packages/about-you/theme/plugins/about-you.js
Labels: AboutYouCloud, Next
