Repository vuestorefront/vue-storefront, pull requests merged in 2020-10, with the labels that each got.

#4943 Release core 2.0.7
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next

#4533 Remove impossible condition
  CHANGELOG.md
  core/lib/sync/task.ts
Labels: VSF1

#4949 Fix Boilerplate, "composition-api" and "unexpected token" errors
  packages/about-you/theme/tsconfig.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/getters/cartGetters.ts
  packages/boilerplate/composables/src/composables/getters/categoryGetters.ts
  packages/boilerplate/composables/src/composables/getters/facetGetters.ts
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/useCart/index.ts
  packages/boilerplate/composables/src/composables/useFacet/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/tsconfig.json
  packages/boilerplate/theme/yarn copy.lock
  packages/checkout-com/package.json
  packages/commercetools/theme/package.json
  packages/commercetools/theme/tsconfig.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/shopify/theme/tsconfig.json
  yarn.lock
Labels: Next

#4916 Next: CKO - remove ckoWebHookUrl
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#4929 added hook for user address update
  CHANGELOG.md
  core/modules/user/components/UserAccount.ts
  core/modules/user/components/UserShippingDetails.ts
  core/modules/user/hooks.ts
  core/modules/user/store/actions.ts
Labels: VSF1

#4930 Next: Token in sessionStorage & removing onUnmounted
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#4961 [BP] - Add mocked products to facet
  packages/boilerplate/composables/src/composables/getters/facetGetters.ts
Labels: Next

#4950 Update faceting mechanism
  packages/commercetools/composables/yarn-error.log
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next

#4966 Lock VSF dependencies in boilerplate
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  yarn.lock
Labels: Next

#4962 Block guest access to user profile
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Labels: Next

#4654 [4653] Added translation for password change.
  core/modules/user/store/actions.ts
Labels: 1: Easy, VSF1, bug

#4958 Add reviews to Category page and average rating to product
  packages/about-you/composables/src/composables/getters/productGetters.ts
  packages/boilerplate/composables/src/composables/getters/productGetters.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/src/getters/productGetters.ts
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/enterprise/use-review.md
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/use-review.md
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#4994 Fix shared ref nullable assigning
  packages/core/core/__tests__/utils/shared.spec.ts
  packages/core/core/src/utils/shared/index.ts
  packages/core/docs/contributing/changelog.md
Labels: Next

#5002 Update Enterprise docs for useReview
  packages/core/docs/commercetools/enterprise/use-review.md
Labels: Next

#4952 Use user shipping mocks and designs
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/getters/userShippingGetters.ts
  packages/boilerplate/composables/src/composables/useUserShipping/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/theme/components/Checkout/UserShippingAddresses.vue
  packages/boilerplate/theme/components/temp/SfAddress.vue
  packages/boilerplate/theme/components/temp/SfAddressPicker.vue
  packages/boilerplate/theme/components/temp/SfRadio.vue
  packages/boilerplate/theme/pages/Checkout/Shipping.vue
  packages/boilerplate/theme/pages/MyAccount/ShippingDetails.vue
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/components/temp/SfAddress.vue
  packages/commercetools/theme/components/temp/SfAddressPicker.vue
  packages/commercetools/theme/components/temp/SfRadio.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Labels: Next

#4931 Next: CVV in payment
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/helpers.spec.ts
  packages/checkout-com/__tests__/useCko.spec.ts
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#4939 Integrate My Profile page
  packages/about-you/composables/src/composables/getters/userGetters.ts
  packages/about-you/composables/src/types/index.ts
  packages/boilerplate/composables/src/composables/getters/userGetters.ts
  packages/boilerplate/composables/src/types/index.ts
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/userGetters.ts
  packages/commercetools/composables/src/useUser/authenticate.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/PasswordResetForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/shopify/composables/src/composables/getters/userGetters.ts
Labels: Next

#5005 CKO - Reference field in POST /payment
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/helpers.spec.ts
  packages/checkout-com/__tests__/useCko.spec.ts
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/__tests__/useCkoPaypal.spec.ts
  packages/checkout-com/package.json
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/checkout-com/src/useCkoPaypal.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#5028 Remove checkout shipping defaulting
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/commercetools/changelog.md
Labels: Next, commercetools

#5014 Prepublish
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/checkout-com/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/shopify/api-client/package.json
  packages/shopify/composables/package.json
  scripts/package.json
Labels: Next

#5032 Add more userShippingGetters and make template platform-agnostic
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/use-user-shipping.md
  packages/core/docs/commercetools/use-user-shipping.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/use-review.md
  packages/core/docs/core/use-user-shipping.md
  packages/core/nuxt-theme-module/theme/components/MyAccount/PasswordResetForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ShippingAddressForm.vue
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  yarn.lock
Labels: Next

#4896 Next: useContent factory
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/core/__tests__/middleware/createMiddleware.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/server/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/changelog.md
  packages/core/docs/general/cms.md
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next

#5042 Next: custom query for CT useCheckout
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
  packages/commercetools/api-client/src/helpers/queries/index.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5063 Bottom navigation buttons linked
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
Labels: Next

#5057 Bump dependencies in Boilerplate
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/getters/userShippingGetters.ts
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  yarn.lock
Labels: Next

#5083 Fix/actions
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next, commercetools

#5096 fix(commercetools): [useCheckout] set loading to false when api client throws
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next, commercetools

#5077 Wishlist SSR Core - Fix
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/docs/contributing/changelog.md
Labels: Next

#5089 Fix errors in getters
  packages/boilerplate/composables/src/composables/getters/productGetters.ts
  packages/commercetools/composables/src/getters/productGetters.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next, bug

#4971 Remove "nohoist"
  package.json
  packages/about-you/theme/components/AppHeader.vue
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/yarn.lock
  packages/commercetools/theme/package.json
  packages/core/cli/__tests__/commands/init.spec.ts
  packages/core/cli/__tests__/index.spec.ts
  packages/core/cli/__tests__/scripts/copyProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyAgnosticTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyIntegrationTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/processMagicComments.spec.ts
  packages/core/cli/__tests__/scripts/createProject/updatePackageJson.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/__tests__/utils/helpers.spec.ts
  packages/core/cli/src/scripts/createProject/copyAgnosticTheme.ts
  packages/core/cli/src/scripts/createProject/copyIntegrationTheme.ts
  packages/core/cli/src/scripts/generateTemplates/index.ts
  packages/core/cli/src/utils/helpers.ts
  packages/core/jest.config.js
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: Next
