Repository vuestorefront/vue-storefront, pull requests merged in 2020-05, with the labels that each got.

#4330 chore(theme): bump SFUI version
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/theme-module/theme/components/BottomNavigation.vue
  yarn.lock
Labels: Next

#4332 feat: added data-cy
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/components/LocaleSelector.vue
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/components/TopBar.vue
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/components/checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/theme-module/theme/pages/Home.vue
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/theme-module/theme/pages/Product.vue
Labels: Next

#4331 feat(ayc): wishlist factory
  packages/about-you/composables/__tests__/factories/useWishlistFactory.spec.ts
  packages/about-you/composables/src/composables/useWishlist/index.ts
  packages/about-you/composables/src/factories/index.ts
  packages/about-you/composables/src/factories/useWishlistFactory.ts
  packages/about-you/composables/src/types/index.ts
Labels: AboutYouCloud, Next

#4338 chore(theme): bump SFUI version
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  yarn.lock
Labels: Next

#4279 Implement AYC Product Detail Page
  packages/about-you/api-client/src/index.ts
  packages/about-you/composables/__tests__/composables/getters/productGetters.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchBySingleProductParams.spec.ts
  packages/about-you/composables/src/composables/getters/productGetters.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/composables/src/helpers/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchBySingleProductParams.ts
Labels: AboutYouCloud, Next

#4339 fix(ayc): product special prices
  packages/about-you/composables/__tests__/composables/getters/productGetters.spec.ts
  packages/about-you/composables/src/composables/getters/productGetters.ts
Labels: Next

#4341 feat(ayc): setup i18n
  package.json
  packages/about-you/api-client/src/index.ts
  packages/about-you/composables/src/composables/useLocale/factoryParams.ts
  packages/about-you/composables/src/composables/useLocale/index.ts
  packages/about-you/theme/helpers/category/getCategorySearchParameters.js
  packages/about-you/theme/lang/config.js
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/plugins/about-you-config.js
  packages/about-you/theme/plugins/about-you.js
  packages/commercetools/theme/plugins/commercetools-config.js
  packages/core/core/src/factories/useLocaleFactory.ts
Labels: AboutYouCloud, Next

#4329 Next: Close sidebar when clicking "Go to checkout"
  packages/core/theme-module/theme/components/CartSidebar.vue
Labels: Next

#4334 feat(ssr) usePrismic now uses useSSR
  packages/prismic/package.json
  packages/prismic/src/composables/usePrismic/index.ts
  packages/prismic/tests/usePrismic.spec.ts
  yarn.lock
Labels: Next

#4346 chore(core): Added missing attributes
  packages/core/theme-module/theme/components/AppFooter.vue
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/BottomNavigation.vue
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/components/RelatedProducts.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Home.vue
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/theme-module/theme/pages/Product.vue
  packages/core/theme-module/theme/pages/index.vue
Labels: Next

#4337 feat(commercetools): products filters
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/getters/_formatAttributeList.spec.ts
  packages/commercetools/composables/__tests__/helpers/getFiltersFromProductsAttributes.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/helpers/internals/getFiltersFromProductsAttributes.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/components/Filters.vue
  packages/commercetools/theme/helpers/filters/getFiltersForUrl.js
  packages/commercetools/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/docs/commercetools/feature-list.md
  packages/core/theme-module/theme/components/Filters.vue
  packages/core/theme-module/theme/helpers/filters/getFiltersForUrl.js
  packages/core/theme-module/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/theme-module/theme/helpers/filters/index.js
  packages/core/theme-module/theme/pages/Category.vue
  packages/tsconfig.base.json
Labels: Next, commercetools

#4348 chore(commercetools): Checkout
  packages/commercetools/api-client/__tests__/api/updateCart/placeOrder.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/setShippingMethod.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateShippingDetails.spec.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/defaultQuery.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/api/placeOrder/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/checkoutGetters.ts
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useCheckout/createLoadPaymentMethods.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPaymentMethod.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useCheckout/initFields.ts
  packages/commercetools/composables/src/useCheckout/shared.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Checkout.vue
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/commercetools/theme/static/thank-you/bannerD.png
  packages/commercetools/theme/static/thank-you/bannerM.png
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/index.ts
  packages/core/core/src/types.ts
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/prismic/tests/usePrismic.spec.ts
Labels: Next

#4367 chore(theme): add categories accordion on mobile
  packages/commercetools/theme/components/Filters.vue
  packages/core/theme-module/theme/components/Filters.vue
  packages/core/theme-module/theme/pages/Category.vue
Labels: Next

#4342 chore(theme): adjust pagination logic to new component
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/theme-module/theme/layouts/default.vue
  packages/core/theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next

#4349 feat: limited related products to 8
  packages/core/theme-module/theme/pages/Product.vue
Labels: Next

#4324 Next: Format subtotal, shipping and totals on OrderReview page
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
Labels: Next

#4373 fix(commercetools): Fix user token handling
  packages/commercetools/api-client/__tests__/api/customerSignMeIn/customerSignMeIn.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeUp/customerSignMeUp.spec.ts
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/core/theme-module/theme/pages/Home.vue
Labels: Next

#4388 chore: updated package.json
  packages/prismic/package.json
Labels: Next

#4384 chore(theme): apply lang select design and adjust mobile header
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/LocaleSelector.vue
Labels: Next

#4365 feat(ayc): initial ayc docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/aboutyou/README.md
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/aboutyou/composables.md
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/aboutyou/use-product.md
  packages/core/docs/core/api-client.md
Labels: Next, docs

#4272 feat(core): Internal fields
  packages/about-you/composables/src/composables/useCart/index.ts
  packages/about-you/composables/src/composables/useUser/index.ts
  packages/about-you/composables/src/index.ts
  packages/commercetools/composables/__tests__/getters/productHelpers.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUser/index.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Product.vue
Labels: Next

#4414 fix(ayc): use latest core version
  packages/about-you/api-client/package.json
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
Labels: AboutYouCloud, Next

#4344 feat(ayc): implement useCart composable
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/about-you/api-client/src/index.ts
  packages/about-you/composables/__tests__/composables/getters/cartGetters.spec.ts
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
  packages/about-you/composables/__tests__/composables/getters/productGetters.spec.ts
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useCart/index.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/src/composables/getters/cartGetters.ts
  packages/about-you/composables/src/composables/getters/productGetters.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/about-you/composables/src/composables/useCart/index.ts
  packages/about-you/composables/src/composables/useLocale/index.ts
  packages/about-you/composables/src/composables/useUser/index.ts
  packages/about-you/composables/src/composables/useWishlist/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/theme/helpers/cart/getCartToken.js
  packages/about-you/theme/helpers/utils/generateToken.js
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/plugins/about-you.js
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/use-cart.md
  packages/core/docs/core/use-cart.md
  packages/core/theme-module/theme/components/CartSidebar.vue
  packages/core/theme-module/theme/pages/Category.vue
Labels: AboutYouCloud, Next

#4302 Next: Support Windows paths in addition to unix paths for vsf theme module.
  packages/core/theme-module/index.js
  packages/core/theme-module/scripts/copyThemeFiles.js
  packages/core/theme-module/scripts/getAllFilesFromDir.js
Labels: Next

#4323 Feature/next breadcrumbs
  packages/core/core/src/types.ts
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Product.vue
Labels: Next

#4424 test(ayc): implement tests for useProduct composable
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
Labels: AboutYouCloud, Next

#4357 Next: Implements order details
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next

#4352 Next: Fixes password validation and shows a proper error when changing password
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
Labels: Next

#4453 feat(ayc): unify types storing approach
  packages/about-you/composables/src/composables/getters/cartGetters.ts
  packages/about-you/composables/src/composables/getters/wishlistGetters.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/about-you/composables/src/composables/useCart/index.ts
  packages/about-you/composables/src/composables/useWishlist/factoryParams.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchBySingleProductParams.ts
  packages/about-you/composables/src/types/index.ts
Labels: AboutYouCloud, Next

#4451 fix(ayc): addToCart will add product rather than update qty
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
Labels: AboutYouCloud, Next

#4463 feat: product sorting
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/composables/src/types/index.ts
  packages/boilerplate/composables/src/composables/useProduct/index.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/types.ts
  packages/core/theme-module/theme/pages/Category.vue
Labels: AboutYouCloud, Next, commercetools

#4482 fix(core): lint errors
  packages/core/theme-module/scripts/copyThemeFiles.js
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next

#4483 feat: add linting to CI
  .travis.yml
Labels: Next

#4487 feat(ayc): product filters
  packages/about-you/composables/__tests__/composables/useProduct/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/about-you/composables/src/composables/useProduct/factoryParams.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/composables/src/types/index.ts
  packages/about-you/theme/components/Filters.vue
  packages/about-you/theme/helpers/filters/getFiltersForUrl.js
  packages/about-you/theme/helpers/filters/getFiltersFromUrl.js
Labels: AboutYouCloud, Next

#4490 feat(ayc): basic search
  packages/about-you/composables/src/composables/useSearch/factoryParams.ts
  packages/about-you/composables/src/composables/useSearch/index.ts
  packages/about-you/composables/src/composables/useWishlist/index.ts
  packages/about-you/composables/src/factories/useSearchFactory.ts
  packages/about-you/composables/src/index.ts
  packages/about-you/composables/src/types/index.ts
  packages/about-you/theme/components/AppHeader.vue
  packages/about-you/theme/components/SearchResults.vue
  packages/about-you/theme/package.json
  yarn.lock
Labels: AboutYouCloud, Next
