Repository vuestorefront/vue-storefront, pull requests merged in 2020-11, with the labels that each got.

#5107 Update dependencies in boilerplate
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  yarn.lock
Labels: Next

#5104 Bump nuxt-module version used in themes
  packages/about-you/theme/package.json
  packages/commercetools/theme/package.json
  packages/shopify/theme/package.json
  yarn.lock
Labels: Next

#5117 fix: proxied endpoint URLs
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#5118 After CKO proxy fix bump version
  packages/checkout-com/package.json
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#5119 fix: Footer is wrongly positioned on production env
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
Labels: Next

#5103 fix ssrs transition on the client side
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-module/lib/plugins/ssr.js
Labels: Next

#5033 GTM: update product mutation name to fix missing product details event
  src/modules/google-tag-manager/hooks/afterRegistration.ts
Labels: bug

#5135 Don't throw exception from nuxt-module if SFUI doesn't exists
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/package.json
Labels: Next

#5110 Adjust the loader position on PLP
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/shopify/theme/pages/Category.vue
Labels: Next

#5123 Info about possibility of removing depracatedActions in doc
  docs/guide/cookbook/checklist.md
Labels: VSF1, docs

#5150 Update docs & new hooks on hotfix
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/workflows/test_vsf1.yml
  .travis.yml
  README.md
  docs/guide/cookbook/checklist.md
  docs/guide/cookbook/setup.md
  docs/guide/integrations/multistore.md
Labels: VSF1

#5125 Migrate CI to GH actions
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/test.yml
  .travis.yml
  package.json
  packages/commercetools/composables/__tests__/getters/productHelpers.spec.ts
  packages/commercetools/composables/__tests__/helpers/getCouponsFromCart.spec.ts
  packages/commercetools/composables/jest.config.js
  packages/commercetools/theme/test/Logo.spec.js
  yarn.lock
Labels: Next

#5099 Remove filters from useProduct
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/useProduct/index.ts
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/package.json
  packages/core/cli/src/index.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/index.js
  packages/shopify/composables/src/composables/useProduct/index.ts
  packages/tsconfig.base.json
  scripts/release/updatePackageVersion.ts
  yarn.lock
Labels: Next

#5176 feat: cdn images on demo
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5177 refactor: cdn images on develop
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5183 feat: optional compression
  CHANGELOG.md
  config/default.json
  src/modules/compress/server.ts
Labels: VSF1

#5184 chore: disabled gzip compression on sfc instances
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5186 chore: compression false on dev
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5187 chore: disabled compression & enabled api search query on hotfix
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5175 Unify format of Enterprise docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/use-review.md
  packages/core/docs/commercetools/enterprise/use-user-billing.md
  packages/core/docs/commercetools/enterprise/use-user-shipping.md
  packages/core/docs/commercetools/enterprise/user-groups.md
  packages/core/docs/commercetools/use-cart.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/commercetools/use-product.md
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/commercetools/use-user-billing.md
  packages/core/docs/commercetools/use-user-shipping.md
  packages/core/docs/core/use-cart.md
  packages/core/docs/core/use-product.md
  packages/core/docs/core/use-review.md
  packages/core/docs/core/use-user-billing.md
  packages/core/docs/core/use-user-shipping.md
  packages/core/docs/core/use-wishlist.md
Labels: Next

#5185 feat: webp instead jpg on hp
  packages/commercetools/theme/static/homepage/bannerA.jpg
  packages/commercetools/theme/static/homepage/bannerA.webp
  packages/commercetools/theme/static/homepage/bannerB.jpg
  packages/commercetools/theme/static/homepage/bannerB.webp
  packages/commercetools/theme/static/homepage/bannerC.jpg
  packages/commercetools/theme/static/homepage/bannerC.webp
  packages/commercetools/theme/static/homepage/bannerE.jpg
  packages/commercetools/theme/static/homepage/bannerE.webp
  packages/commercetools/theme/static/homepage/bannerF.jpg
  packages/commercetools/theme/static/homepage/bannerF.webp
  packages/commercetools/theme/static/homepage/bannerG.jpg
  packages/commercetools/theme/static/homepage/bannerG.webp
  packages/commercetools/theme/static/homepage/bannerH.jpg
  packages/commercetools/theme/static/homepage/bannerH.webp
  packages/commercetools/theme/static/homepage/bannerI.jpg
  packages/commercetools/theme/static/homepage/bannerJ.jpg
  packages/commercetools/theme/static/homepage/bannerK.jpg
  packages/commercetools/theme/static/homepage/imageA.jpg
  packages/commercetools/theme/static/homepage/imageA.webp
  packages/commercetools/theme/static/homepage/imageB.jpg
  packages/commercetools/theme/static/homepage/imageB.webp
  packages/commercetools/theme/static/homepage/imageC.jpg
  packages/commercetools/theme/static/homepage/imageC.webp
  packages/commercetools/theme/static/homepage/imageD.jpg
  packages/commercetools/theme/static/homepage/imageD.webp
  packages/commercetools/theme/static/homepage/newsletter.jpg
  packages/commercetools/theme/static/homepage/newsletter.webp
  packages/commercetools/theme/static/homepage/placeholderA.jpg
  packages/commercetools/theme/static/homepage/productA.jpg
  packages/commercetools/theme/static/homepage/productA.webp
  packages/commercetools/theme/static/homepage/productB.jpg
  packages/commercetools/theme/static/homepage/productB.webp
  packages/commercetools/theme/static/homepage/productC.jpg
  packages/commercetools/theme/static/homepage/productC.webp
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: Next

#5068 Next: Fix CT in CLI
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/core/cli/.gitignore
  packages/core/cli/__tests__/index.spec.ts
  packages/core/cli/__tests__/mock.ts
  packages/core/cli/__tests__/scripts/copyProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/index.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/__tests__/utils/helpers.spec.ts
  packages/core/cli/package.json
  packages/core/cli/src/scripts/createProject/index.ts
  packages/shopify/theme/package-lock.json
  packages/shopify/theme/package.json
  yarn.lock
Labels: Next

#5167 Min max aggrs
  CHANGELOG.md
  config/default.json
  docs/guide/basics/configuration.md
Labels: VSF1

#5179 Add support for HTTP/2 push for JS assets
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/composition-api.js
  packages/core/nuxt-module/lib/plugins/logger.js
Labels: Next

#5163 Sofort CKO
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/useCkoSofort.spec.ts
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoSofort.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#5199 HTTP2 server push support with doc update
  CHANGELOG.md
  config/default.json
  docs/guide/basics/configuration.md
  src/modules/http2-server-push/README.md
  src/modules/http2-server-push/server.ts
Labels: VSF1

#5200 HTTP2 server push fix
  src/modules/http2-server-push/server.ts
Labels: VSF1

#5212 Task.ts - after refactor hotfix
  core/lib/sync/task.ts
Labels: VSF1

#5196 Designs part 2 - category and cart sidebar
  packages/commercetools/theme/package.json
  packages/commercetools/theme/static/icons/empty-cart.svg
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next

#5210 Lazy Services
  CHANGELOG.md
  core/data-resolver/GetService.ts
  core/data-resolver/index.ts
  core/data-resolver/test/unit/GetService.spec.ts
  core/modules/cart/store/actions/connectActions.ts
  core/modules/cart/store/actions/totalsActions.ts
  core/modules/catalog-next/store/category/actions.ts
  core/modules/catalog/helpers/price/doPlatformPricesSync.ts
  core/modules/catalog/store/product/actions.ts
  core/modules/catalog/store/product/deprecatedActions.ts
  core/modules/catalog/store/stock/actions.ts
  core/modules/review/store/actions.ts
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
  yarn.lock
Labels: VSF1

#5203 Use modern mode
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog.md
Labels: Next, commercetools

#5195 Optimize CSS
  packages/boilerplate/theme/components/Checkout/UserShippingAddresses.vue
  packages/boilerplate/theme/pages/Checkout/Payment.vue
  packages/boilerplate/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/pages/Checkout.vue
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/general/performance.md
  packages/core/nuxt-module/.gitignore
  packages/core/nuxt-module/lib/helpers/isProduction.js
  packages/core/nuxt-module/lib/helpers/log.js
  packages/core/nuxt-module/lib/helpers/merge.js
  packages/core/nuxt-module/lib/helpers/resolveDependency.js
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/modules/performance.js
  packages/core/nuxt-module/lib/modules/raw-sources-loader.js
  packages/core/nuxt-module/lib/modules/storefront-ui.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/components/Version.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/components/checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/components/checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Labels: Next

#5201 feat: bp - hp images updated
  packages/boilerplate/theme/static/homepage/bannerA.jpg
  packages/boilerplate/theme/static/homepage/bannerA.webp
  packages/boilerplate/theme/static/homepage/bannerB.jpg
  packages/boilerplate/theme/static/homepage/bannerB.webp
  packages/boilerplate/theme/static/homepage/bannerC.jpg
  packages/boilerplate/theme/static/homepage/bannerC.webp
  packages/boilerplate/theme/static/homepage/bannerE.jpg
  packages/boilerplate/theme/static/homepage/bannerE.webp
  packages/boilerplate/theme/static/homepage/bannerF.jpg
  packages/boilerplate/theme/static/homepage/bannerF.webp
  packages/boilerplate/theme/static/homepage/bannerG.jpg
  packages/boilerplate/theme/static/homepage/bannerG.webp
  packages/boilerplate/theme/static/homepage/bannerH.jpg
  packages/boilerplate/theme/static/homepage/bannerH.webp
  packages/boilerplate/theme/static/homepage/bannerI.jpg
  packages/boilerplate/theme/static/homepage/bannerJ.jpg
  packages/boilerplate/theme/static/homepage/bannerK.jpg
  packages/boilerplate/theme/static/homepage/imageA.jpg
  packages/boilerplate/theme/static/homepage/imageA.webp
  packages/boilerplate/theme/static/homepage/imageB.jpg
  packages/boilerplate/theme/static/homepage/imageB.webp
  packages/boilerplate/theme/static/homepage/imageC.jpg
  packages/boilerplate/theme/static/homepage/imageC.webp
  packages/boilerplate/theme/static/homepage/imageD.jpg
  packages/boilerplate/theme/static/homepage/imageD.webp
  packages/boilerplate/theme/static/homepage/newsletter.jpg
  packages/boilerplate/theme/static/homepage/newsletter.webp
  packages/boilerplate/theme/static/homepage/placeholderA.jpg
  packages/boilerplate/theme/static/homepage/productA.jpg
  packages/boilerplate/theme/static/homepage/productA.webp
  packages/boilerplate/theme/static/homepage/productB.jpg
  packages/boilerplate/theme/static/homepage/productB.webp
  packages/boilerplate/theme/static/homepage/productC.jpg
  packages/boilerplate/theme/static/homepage/productC.webp
Labels: Next

#5216 Lazy loading async catalog helpers
  CHANGELOG.md
  core/helpers/getAndCallAsyncDefault.ts
  core/helpers/test/unit/getAndCallAsyncDefault.spec.ts
  core/lib/async-data-loader.ts
  core/modules/cart/test/unit/store/itemActions.spec.ts
  core/modules/catalog/helpers/associatedProducts/index.ts
  core/modules/catalog/helpers/configure/index.ts
  core/modules/catalog/helpers/filterAttributes.ts
  core/modules/catalog/helpers/index.ts
  core/modules/catalog/helpers/price/index.ts
  core/modules/catalog/helpers/stock/index.ts
Labels: VSF1

#5221 Get rid of lodash
  CHANGELOG.md
  core/modules/catalog/helpers/configure/configureProductAsync.ts
  core/modules/catalog/helpers/productOptions/omitInternalOptionsFormat.ts
  core/modules/catalog/helpers/variant/getConfigurationMatchLevel.ts
  core/modules/catalog/helpers/variant/omitSelectedVariantFields.ts
  core/modules/catalog/store/category/actions.ts
Labels: VSF1

#5217 Nuxt/CT Theme versions update
  packages/commercetools/theme/package.json
  packages/core/cli/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: Next

#5226 CLI version bump
  packages/core/cli/package.json
Labels: Next

#5229 Fix CSS / Add PWA module
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  yarn.lock
Labels: Next

#5204 Designs part 2: product, thank you and locale selector
  packages/boilerplate/theme/static/icons/langs/de.png
  packages/boilerplate/theme/static/icons/langs/de.webp
  packages/boilerplate/theme/static/icons/langs/en.png
  packages/boilerplate/theme/static/icons/langs/en.webp
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/static/icons/langs/de.png
  packages/commercetools/theme/static/icons/langs/de.webp
  packages/commercetools/theme/static/icons/langs/en.png
  packages/commercetools/theme/static/icons/langs/en.webp
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#5230 Preconnects
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
Labels: Next

#5234 Remove prismic
  README.md
  package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/feature-list.md
  packages/prismic/README.md
  packages/prismic/jest.config.js
  packages/prismic/package.json
  packages/prismic/rollup.config.js
  packages/prismic/src/composables/index.ts
  packages/prismic/src/composables/usePrismic/index.ts
  packages/prismic/src/composables/usePrismic/loadDocuments.ts
  packages/prismic/src/composables/usePrismic/transformQuery.ts
  packages/prismic/src/helpers/_utils.ts
  packages/prismic/src/helpers/index.ts
  packages/prismic/src/index.ts
  packages/prismic/src/types/index.ts
  packages/prismic/tests/helpers/_transformBlock.spec.ts
  packages/prismic/tests/helpers/prismicHelpers.spec.ts
  packages/prismic/tests/mocks/ArticleExampleMock.ts
  packages/prismic/tests/mocks/LegalExampleMock.ts
  packages/prismic/tests/setup.ts
  packages/prismic/tests/setup/setup.spec.ts
  packages/prismic/tests/transformQuery.spec.ts
  packages/prismic/tests/usePrismic.spec.ts
  packages/prismic/tsconfig.json
Labels: Next

#5237 Remove CKO
  .eslintignore
  package.json
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/helpers.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/__tests__/setup.ts
  packages/checkout-com/__tests__/useCko.spec.ts
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/__tests__/useCkoPaypal.spec.ts
  packages/checkout-com/__tests__/useCkoSofort.spec.ts
  packages/checkout-com/jest.config.js
  packages/checkout-com/nuxt/CheckoutComPaymentError.vue
  packages/checkout-com/nuxt/CheckoutComPaymentSuccess.vue
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/nuxt/plugin.js
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/checkout-com/package.json
  packages/checkout-com/rollup.config.js
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/checkout-com/src/useCkoPaypal.ts
  packages/checkout-com/src/useCkoSofort.ts
  packages/checkout-com/tsconfig.json
  packages/core/docs/checkout-com/CHANGELOG.md
Labels: Next

#5227 refactor: updated vuex to 3.5.1
  core/package.json
  package.json
  yarn.lock
Labels: VSF1

#5238 fix: category for mobile
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next

#5244 Open active category and subcategory on the Category page.
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next

#5243 fix: No option to close a login modal
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Labels: Next

#5246 fix: Checkboxes in filters sidebar are not clickable on mobile
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next

#5161 Cache mechanism
  .eslintignore
  packages/core/cache/.gitignore
  packages/core/cache/CHANGELOG.md
  packages/core/cache/README.md
  packages/core/cache/jest.config.js
  packages/core/cache/nuxt/index.js
  packages/core/cache/nuxt/plugin.js
  packages/core/cache/package.json
  packages/core/cache/rollup.config.js
  packages/core/cache/src/composables/useCache.ts
  packages/core/cache/src/index.ts
  packages/core/cache/src/types.ts
  packages/core/cache/tsconfig.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/general/caching.md
Labels: Next

#5261 Basic docs for composables
  packages/core/docs/.vuepress/config.js
  packages/core/docs/composables/rules-and-best-practices.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-category.md
  packages/core/docs/composables/use-content.md
  packages/core/docs/composables/use-facet.md
  packages/core/docs/composables/use-product.md
  packages/core/docs/composables/use-review.md
  packages/core/docs/composables/use-user-billing.md
  packages/core/docs/composables/use-user-shipping.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/composables/use-wishlist.md
  packages/core/docs/general/i18n.md
  packages/core/docs/integrate/cms.md
Labels: Next

#5264 Handle cart version missmatch
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5239 feat: Add missing order getter to get item price
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next
