Repository vuestorefront/vue-storefront, pull requests merged in 2020-09, with the labels that each got.

#4816 CT Updated GQL Query
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  yarn.lock
Labels: Next

#4817 fix: shipping methods CT query fragment
  packages/commercetools/api-client/src/fragments/index.ts
Labels: Next, commercetools

#4697 Add storeId to user/register call
  CHANGELOG.md
  core/modules/user/components/Register.ts
Labels: VSF1

#4748 Next: Success_url, failure_url & secure3d & readme update select -> selected
  packages/checkout-com/README.md
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
Labels: Next

#4739 Next: CKO hotfix cko params
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/useCkoCard.ts
Labels: Next

#4787 Draft: CKO Paypal MVP
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/helpers.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/__tests__/setup.ts
  packages/checkout-com/__tests__/useCko.spec.ts
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/__tests__/useCkoPaypal.spec.ts
  packages/checkout-com/jest.config.js
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/checkout-com/package.json
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/checkout-com/src/useCkoPaypal.ts
Labels: Next

#4822 setupCalled fix in apiClientFactory
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/core/package.json
  packages/core/core/src/factories/apiClientFactory.ts
  packages/prismic/package.json
  packages/shopify/api-client/package.json
  packages/shopify/composables/package.json
  packages/spryker/composables/package.json
Labels: Next

#4802 Next: Bumped versions & CLI Fixes
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/cli/.gitignore
  packages/core/cli/.npmignore
  packages/core/cli/__tests__/commands/init.spec.ts
  packages/core/cli/__tests__/createProject/copyIntegrationTheme.spec.ts
  packages/core/cli/__tests__/scripts/copyProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyAgnosticTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyIntegrationTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/processMagicComments.spec.ts
  packages/core/cli/__tests__/scripts/createProject/updatePackageJson.spec.ts
  packages/core/cli/__tests__/scripts/generateTemplates/index.spec.ts
  packages/core/cli/__tests__/utils/helpers.spec.ts
  packages/core/cli/package.json
  packages/core/cli/src/commands/init.ts
  packages/core/cli/src/index.ts
  packages/core/cli/src/scripts/copyProject/index.ts
  packages/core/cli/src/scripts/createProject/copyAgnosticTheme.ts
  packages/core/cli/src/scripts/createProject/copyIntegrationTheme.ts
  packages/core/cli/src/scripts/createProject/index.ts
  packages/core/cli/src/scripts/createProject/updatePackageJson.ts
  packages/core/cli/src/scripts/generateTemplates/index.ts
  packages/core/cli/src/utils/helpers.ts
  packages/core/cli/tsconfig.json
  packages/shopify/theme/package.json
  yarn.lock
Labels: Next

#4826 Boilerplate fix
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/types/index.ts
  packages/boilerplate/theme/.nuxt/App.js
  packages/boilerplate/theme/.nuxt/client.js
  packages/boilerplate/theme/.nuxt/components/nuxt-build-indicator.vue
  packages/boilerplate/theme/.nuxt/components/nuxt-child.js
  packages/boilerplate/theme/.nuxt/components/nuxt-error.vue
  packages/boilerplate/theme/.nuxt/components/nuxt-link.client.js
  packages/boilerplate/theme/.nuxt/components/nuxt-link.server.js
  packages/boilerplate/theme/.nuxt/components/nuxt-loading.vue
  packages/boilerplate/theme/.nuxt/components/nuxt.js
  packages/boilerplate/theme/.nuxt/cookie-universal-nuxt.js
  packages/boilerplate/theme/.nuxt/empty.js
  packages/boilerplate/theme/.nuxt/index.js
  packages/boilerplate/theme/.nuxt/jsonp.js
  packages/boilerplate/theme/.nuxt/loading.html
  packages/boilerplate/theme/.nuxt/middleware.js
  packages/boilerplate/theme/.nuxt/mixins/fetch.client.js
  packages/boilerplate/theme/.nuxt/mixins/fetch.server.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/middleware.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/options.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/plugin.main.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/plugin.routing.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/seo-head.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/utils-common.js
  packages/boilerplate/theme/.nuxt/nuxt-i18n/utils.js
  packages/boilerplate/theme/.nuxt/nuxt.plugin.2ef66c90.js
  packages/boilerplate/theme/.nuxt/nuxt/config.json
  packages/boilerplate/theme/.nuxt/plugins.composition-api.a574382e.js
  packages/boilerplate/theme/.nuxt/plugins.ssr.250894ee.js
  packages/boilerplate/theme/.nuxt/router.js
  packages/boilerplate/theme/.nuxt/router.scrollBehavior.js
  packages/boilerplate/theme/.nuxt/routes.json
  packages/boilerplate/theme/.nuxt/server.js
  packages/boilerplate/theme/.nuxt/utils.js
  packages/boilerplate/theme/.nuxt/views/app.template.html
  packages/boilerplate/theme/.nuxt/views/error.html
  packages/boilerplate/theme/.nuxt/vue-scrollto.js
  yarn.lock
Labels: Next

#4820 Bugfix/4764
  CHANGELOG.md
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
Labels: VSF1

#4834 Nuxt Theme as devDep for CLI
  packages/core/cli/package.json
Labels: Next

#4823 Shorten the code of api-client methods
  packages/shopify/api-client/src/api/category/fetch.ts
  packages/shopify/api-client/src/api/category/fetchAll.ts
  packages/shopify/api-client/src/api/category/fetchAllWithProducts.ts
  packages/shopify/api-client/src/api/category/fetchByHandle.ts
  packages/shopify/api-client/src/api/category/fetchQuery.ts
  packages/shopify/api-client/src/api/category/fetchWithProducts.ts
  packages/shopify/api-client/src/api/content/fetchAll.ts
  packages/shopify/api-client/src/api/content/fetchByHandle.ts
  packages/shopify/api-client/src/api/customer/changePassword.ts
  packages/shopify/api-client/src/api/customer/editProfile.ts
  packages/shopify/api-client/src/api/customer/fetch.ts
  packages/shopify/api-client/src/api/customer/fetchOrders.ts
  packages/shopify/api-client/src/api/customer/forgotPassword.ts
  packages/shopify/api-client/src/api/customer/signIn.ts
  packages/shopify/api-client/src/api/customer/signOut.ts
  packages/shopify/api-client/src/api/customer/signUp.ts
  packages/shopify/api-client/src/api/product/fetch.ts
  packages/shopify/api-client/src/api/product/fetchAll.ts
  packages/shopify/api-client/src/api/product/fetchByHandle.ts
  packages/shopify/api-client/src/api/product/fetchMultiple.ts
  packages/shopify/api-client/src/api/product/fetchQuery.ts
  packages/shopify/api-client/src/api/shop/index.ts
  packages/shopify/composables/src/composables/useCart/index.ts
Labels: shopify

#4838 Fixes for the linter
  packages/shopify/api-client/src/api/category/fetch.ts
  packages/shopify/api-client/src/api/category/fetchWithProducts.ts
  packages/shopify/api-client/src/api/content/fetchByHandle.ts
Labels: Next

#4824 Remove useLocale
  packages/about-you/composables/__tests__/composables/useLocale/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useLocale/index.spec.ts
  packages/about-you/composables/src/composables/useLocale/factoryParams.ts
  packages/about-you/composables/src/composables/useLocale/index.ts
  packages/about-you/composables/src/index.ts
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/package.json
  packages/boilerplate/composables/src/composables/useLocale/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/package.json
  packages/commercetools/composables/__tests__/useLocale/factoryParams.ts
  packages/commercetools/composables/__tests__/useLocale/useLocale.ts
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/core/__tests__/factories/useLocaleFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useLocaleFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/composables.md
  packages/core/docs/i18n/overview.md
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/shopify/composables/src/composables/useLocale/factoryParams.ts
  packages/shopify/composables/src/composables/useLocale/index.ts
  packages/shopify/composables/src/index.ts
  packages/shopify/theme/components/LocaleSelector.vue
  packages/shopify/theme/nuxt.config.js
  packages/shopify/theme/package.json
  yarn.lock
Labels: Next, commercetools

#4808 Next: Custom and overwritable CT GraphQL queries/variables
  packages/about-you/composables/__tests__/composables/useCategory/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useProduct/factoryParams.spec.ts
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/__tests__/useCategory/useCategory.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/commercetools/composables/yarn-error.log
  packages/commercetools/theme/report.20200907.142855.26448.0.001.json
  packages/core/core/__tests__/factories/useCategoryFactory.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables.md
  packages/core/docs/core/composables.md
  yarn-error.log
Labels: Next, good first issue

#4849 Bumped versions
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
Labels: Next

#4810 User Subcomposables
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/contributing/changelog.md
Labels: Next

#4861 Setup test environment fix
  test/unit/setupTestEnvironment.ts
Labels: VSF1

#4862 Allow loading raw TS composables and update changelog with recent changes
  packages/commercetools/composables/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/nuxt-module/lib/module.js
Labels: Next

#4872 CAPI v13 without ^, Core bump
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/core/package.json
Labels: Next

#4853 introduce useFacet
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/getters/facetHelpers.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/getters/facetGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/_utils.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/components/Filters.vue
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/core/__tests__/factories/useFacetFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/assets/ui-state.ts
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/composables/index.ts
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/helpers/category/index.js
  packages/core/nuxt-theme-module/theme/helpers/filters/index.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/shopify/theme/components/Filters.vue
Labels: Next, commercetools

#4869 Info for modules installed globally via yarn
  packages/core/cli/README.md
Labels: Next

#4880 Next: Versions bump
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/cli/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/shopify/theme/package.json
Labels: Next

#4882 add new resetUserInvalidation action to clear invalidation state before login, clear order history and refresh token
  CHANGELOG.md
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
  core/pages/MyAccount.js
  core/store/actions.ts
  core/store/mutation-types.ts
  core/store/mutations.ts
Labels: VSF1

#4884 Changes required to run Pro package
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn-error.log
Labels: Next

#4886 Next: removed a few legacy sentences
  packages/checkout-com/README.md
Labels: Next

#4892 Add 'useReview' to docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/core/getting-started.md
  packages/core/docs/core/use-product.md
  packages/core/docs/core/use-review.md
Labels: Next

#4888 [CT] Fix updateUser method
  .gitignore
  packages/commercetools/api-client/src/api/customerUpdateMe/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/helpers/customer/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#4901 composition api quickfix
  packages/core/nuxt-module/package.json
  yarn.lock
Labels: Next

#4891 Next: CKO Channels
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/nuxt/plugin.js
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
Labels: Next

#4895 Update docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/public/vuelogo.jpg
  packages/core/docs/README.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/contributing/getting-started.md
  packages/core/docs/get-started/api-design-philosophy.md
  packages/core/docs/get-started/themes.md
  packages/core/docs/images/faceting.jpg
  packages/core/docs/integrations/README.md
  packages/core/docs/vsf-core/README.md
  packages/core/docs/vsf-core/faceting.md
  packages/core/docs/vsf-core/i18n.md
  packages/core/docs/vsf-core/server-side-rendering.md
Labels: Next

#4883 CLI Versions bump
  packages/core/cli/package.json
  yarn.lock
Labels: Next

#4917 Creating user session token on-demand
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  packages/commercetools/api-client/src/helpers/token/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next, commercetools

#4911 Logger implementation
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/loggerFactory.spec.ts
  packages/core/core/__tests__/utils/mask.spec.ts
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/logger/defaultLogger.ts
  packages/core/core/src/utils/logger/index.ts
  packages/core/core/src/utils/logger/mask.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-cart.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/general/logging.md
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/logger.js
Labels: Next

#4924 Fix types for CT api-client and composables
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/helpers/internals/getFiltersFromProductsAttributes.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#4919 Next: Fix for CLI
  packages/core/cli/package.json
  packages/core/cli/src/index.ts
  packages/core/docs/cli/CHANGELOG.md
Labels: Next

#4938 Fix custom queries
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/queries/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next, commercetools
