Repository vuestorefront/vue-storefront, pull requests merged in 2021-11, with the labels that each got.

#6491 fix(#6490): add language map to the middleware config
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/core/changelog/6491.js
Labels: docs, Next, commercetools

#6503 fix(#6490): add language map to the middleware config
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/core/changelog/6491.js
Labels: docs, Next, commercetools

#6506 chore: sync `develop` with `main`
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next, commercetools, core, boilerplate

#6508 chore: fix core changelogs
  packages/core/docs/changelog/6202.js
  packages/core/docs/changelog/6491.js
  packages/core/docs/changelog/6492.js
  packages/core/docs/changelog/6495.js
  packages/core/docs/core/changelog/6231.js
  packages/core/docs/core/changelog/6356.js
  packages/core/docs/core/changelog/6364.js
  packages/core/docs/core/changelog/6370.js
  packages/core/docs/core/changelog/6387.js
  packages/core/docs/core/changelog/6435.js
  packages/core/docs/core/changelog/6439.js
  packages/core/docs/core/changelog/6456.js
  packages/core/docs/core/changelog/6475.js
  packages/core/docs/core/changelog/6476.js
Labels: docs, Next

#6509 fix(os-6365): clean not needed code for access token
  packages/commercetools/composables/nuxt/accessToken.js
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
Labels: Next, commercetools

#6511 chore(docs): add migration guide for `core@2.5` and `commercetools@1.4.0`
  packages/core/docs/commercetools/migrate/1.4.0/index.md
  packages/core/docs/commercetools/migrate/index.md
  packages/core/docs/migrate/2.5.0/overview.md
Labels: docs, Next

#6512 chore(docs): fix code example in migration guide
  packages/core/docs/commercetools/migrate/1.4.0/index.md
Labels: docs, Next

#6514 chore(docs): update pages based on feedback
  packages/core/docs/commercetools/README.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/guide/product-catalog.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/general/installation.md
  packages/core/docs/guide/configuration.md
Labels: docs, Next

#6515 Release 2.4.6
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6202.js
  packages/core/docs/changelog/6491.js
  packages/core/docs/changelog/6492.js
  packages/core/docs/changelog/6495.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6202.js
  packages/core/docs/commercetools/changelog/6474.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6520 Release 2.5.0
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6432.js
  packages/core/docs/changelog/6442.js
  packages/core/docs/changelog/6452.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6276.js
  packages/core/docs/commercetools/changelog/6329.js
  packages/core/docs/commercetools/changelog/6354.js
  packages/core/docs/commercetools/changelog/6365.js
  packages/core/docs/commercetools/changelog/6374.js
  packages/core/docs/commercetools/changelog/6375.js
  packages/core/docs/commercetools/changelog/6410.js
  packages/core/docs/commercetools/changelog/6442.js
  packages/core/docs/commercetools/changelog/6452.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6522 chore: sync with main branch
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: docs, Next

#6527 docs: fix migration guide based on feedback
  packages/core/docs/general/enterprise.md
  packages/core/docs/migrate/2.5.0/overview.md
Labels: docs, Next

#6528 docs: update Integrations page
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6529 docs: fix link to the Integrations page
  packages/core/docs/general/enterprise.md
Labels: docs, Next

#6526 fix(os-203): fixed adding custom router.base property breaks api calls
  packages/boilerplate/theme/nuxt.config.js
  packages/core/core/src/utils/helpers/index.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/docs/changelog/6526.js
  packages/core/docs/guide/theme.md
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: docs, Next, core, boilerplate

#6534 fix(en-496): fixed handleAfterAuth method for customToken - develop branch
  packages/commercetools/api-client/src/links/authLinks.ts
Labels: Next, commercetools

#6533 fix(en-496): fixed handleAfterAuth method for customToken
  packages/commercetools/api-client/src/links/authLinks.ts
  packages/core/docs/commercetools/changelog/6533.js
Labels: docs, Next, commercetools

#6537 docs: update contributing category
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/branching-model.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/contributing/how-to-submit-pull-request.md
  packages/core/docs/contributing/server-side-rendering.md
  packages/core/docs/contributing/themes.md
Labels: docs, Next

#6535 Release 2.5.1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6533.js
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6539 docs: deploy docs from the `main` branch
  .github/workflows/deploy-docs.yml
  packages/commercetools/composables/src/api-extractor-data.ts
  packages/commercetools/composables/src/getters/wishlistGetters.ts
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/commercetools/README.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/guide/product-catalog.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/branching-model.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/contributing/how-to-submit-pull-request.md
  packages/core/docs/contributing/server-side-rendering.md
  packages/core/docs/contributing/themes.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/general/installation.md
  packages/core/docs/guide/configuration.md
  packages/core/docs/migrate/2.5.0/overview.md
  packages/core/docs/package.json
  yarn.lock
Labels: docs, Next, commercetools, ci

#6540 docs: update `Integrations` page
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/sanity.svg
Labels: docs, Next

#6543 docs: clarify commercetools offering
  packages/core/docs/commercetools/README.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/commercetools/use-facet.md
Labels: docs, Next
