Repository vuestorefront/vue-storefront, pull requests merged in 2021-02, with the labels that each got.

#5424 VSF1 Doc - update of links
  docs/guide/README.md
  docs/guide/archives/components.md
  docs/guide/archives/cookbook.md
  docs/guide/archives/extensions.md
  docs/guide/archives/graphql.md
  docs/guide/archives/modules.md
  docs/guide/archives/typescript.md
  docs/guide/archives/vuex.md
  docs/guide/basics/configuration.md
  docs/guide/basics/contributing.md
  docs/guide/basics/graphql.md
  docs/guide/basics/recipes.md
  docs/guide/basics/ssr-cache.md
  docs/guide/components/events-list.md
  docs/guide/components/modal.md
  docs/guide/cookbook/checklist.md
  docs/guide/cookbook/data-import.md
  docs/guide/cookbook/elastic.md
  docs/guide/cookbook/module.md
  docs/guide/cookbook/setup.md
  docs/guide/cookbook/theme.md
  docs/guide/core-themes/stylesheets.md
  docs/guide/core-themes/themes.md
  docs/guide/core-themes/ui-store.md
  docs/guide/data/data.md
  docs/guide/data/database-tool.md
  docs/guide/data/elastic-queries.md
  docs/guide/extensions/extending-api.md
  docs/guide/extensions/introduction.md
  docs/guide/general/introduction.md
  docs/guide/installation/linux-mac.md
  docs/guide/installation/magento.md
  docs/guide/installation/production-setup.md
  docs/guide/installation/theme.md
  docs/guide/installation/windows.md
  docs/guide/integrations/integrations.md
  docs/guide/integrations/multistore.md
  docs/guide/integrations/paypal-payments.md
  docs/guide/integrations/reviews.md
  docs/guide/integrations/totals-sync.md
  docs/guide/modules/cart.md
  docs/guide/modules/catalog.md
  docs/guide/modules/checkout.md
  docs/guide/modules/introduction.md
  docs/guide/modules/review.md
  docs/guide/modules/user.md
  docs/guide/upgrade-notes/README.md
  docs/guide/vuex/attribute-store.md
  docs/guide/vuex/category-store.md
  docs/guide/vuex/introduction.md
  docs/guide/vuex/product-store.md
  yarn.lock
Labels: VSF1

#5467 Add Vue storefront composables doc
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/composition-api.md
  packages/core/docs/guide/storefront-composables.md
Labels: Next, docs

#5453 User profile and useUserOrders docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/use-review.md
  packages/core/docs/composables/use-user-orders.md
  packages/core/docs/guide/user-profile.md
  packages/core/docs/integrate/integration-guide.md
Labels: Next, docs

#5483 fixed source of images
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5492 Fix examples in user profile docs
  packages/core/docs/guide/user-profile.md
Labels: Next, docs

#5490 [Docs] Add missing "async" keyword
  packages/core/docs/integrate/integration-guide.md
Labels: Next, docs

#5437 updated sfui 0.10.0
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/static/icons/facebook.svg
  packages/boilerplate/theme/static/icons/google.svg
  packages/boilerplate/theme/static/icons/pinterest.svg
  packages/boilerplate/theme/static/icons/twitter.svg
  packages/boilerplate/theme/static/icons/youtube.svg
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/static/icons/facebook.svg
  packages/commercetools/theme/static/icons/google.svg
  packages/commercetools/theme/static/icons/pinterest.svg
  packages/commercetools/theme/static/icons/twitter.svg
  packages/commercetools/theme/static/icons/youtube.svg
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Labels: Next, blocked

#5484 fixed some typo in docs
  CHANGELOG.md
  core/modules/catalog/helpers/price/syncProductPrice.ts
  docs/guide/basics/configuration.md
  docs/guide/cookbook/checklist.md
  docs/guide/cookbook/setup.md
  docs/guide/core-themes/core-components.md
  docs/guide/core-themes/layouts.md
  docs/guide/core-themes/service-workers.md
  docs/guide/data-resolvers/introduction.md
  docs/guide/data-resolvers/user-service.md
  docs/guide/general/introduction.md
  docs/guide/integrations/multistore.md
  docs/guide/upgrade-notes/README.md
Labels: VSF1

#5512 Unified case of directories
  packages/commercetools/theme/pages/Checkout.vue
  packages/core/docs/changelog/5511.js
  packages/core/nuxt-theme-module/theme/components/Checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/components/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout.vue
Labels: Next

#5521 Fix docs highlighting
  packages/core/docs/guide/user-profile.md
Labels: Next, docs

#5510 fix: PDP Loader / Footer visual bug
  packages/core/docs/changelog/5507.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next

#5501 Update VSF1 SSR Cache docs
  docs/guide/basics/ssr-cache.md
Labels: VSF1, docs

#5495 Added i18n & tests to docs
  CHANGELOG.md
  docs/guide/cookbook/module.md
Labels: VSF1

#5504 Docs: composables anatomy
  packages/core/docs/guide/composables.md
Labels: Next, docs

#5442 Protect user profile routes
  packages/commercetools/theme/middleware/is-authenticated.js
  packages/core/core/src/utils/logger/defaultLogger.ts
  packages/core/docs/changelog/5442_1.js
  packages/core/docs/changelog/5442_2.js
  packages/core/docs/commercetools/changelog/5442.js
  packages/core/nuxt-theme-module/generate.js
  packages/core/nuxt-theme-module/theme/middleware/is-authenticated.js
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Labels: Next

#5481 docs: common authentication
  packages/core/docs/.vuepress/components/CommerceIntegrationLink.vue
  packages/core/docs/.vuepress/components/CommerceIntegrationLinks.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/authorization-strategy.md
  packages/core/docs/guide/authentication.md
  packages/core/docs/guide/user-profile.md
Labels: Next, docs

#5532 Unit test for AsyncDataLoader
  CHANGELOG.md
  core/lib/async-data-loader.ts
  core/lib/test/unit/async-data-loader.spec.ts
Labels: VSF1

#5530 Types for middleware
  packages/core/core/package.json
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5530.js
  packages/core/middleware/package.json
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/integrations.ts
  yarn.lock
Labels: Next

#5548 skip error retry when it is not graphql error response
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5549 Release: commercetools-api 1.1.3
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Labels: release

#5534 add 'once' to prevent font reload on each reactivity event
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5419 Checkout shipping
  packages/commercetools/composables/__tests__/getters/shippingMethodHelpers.spec.ts
  packages/commercetools/composables/__tests__/useShipping/useShipping.spec.ts
  packages/commercetools/composables/jest.config.js
  packages/commercetools/composables/src/getters/checkoutGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/commercetools/composables/src/useShipping/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/ShippingPriceInfo.vue
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/helpers/Checkout/getShippingMethodPrice.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/CheckoutV2/Shipping.vue
  packages/core/core/__tests__/factories/useShippingFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useShippingFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/Checkout/CartPreview.vue
Labels: Next

#5533 Add caching docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/caching.md
  packages/core/docs/advanced/ssr-cache.md
  packages/core/docs/images/ssr-flow.drawio
  packages/core/docs/images/ssr-flow.jpg
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/redis-cache.md
Labels: Next, docs

#5562 fix: purgeLoader with dynamicConfigReload
  CHANGELOG.md
  core/build/purge-config.js
  core/build/purge-config/purgeConfig.ts
  core/build/purge-config/purgeConfigLoader.ts
  core/build/webpack.base.config.ts
  core/server-entry.ts
Labels: VSF1

#5553 Checkout shipping part 2
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/core/docs/changelog/5419.js
Labels: Next

#5561 Fix boilerplate and remove import of unused getter
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/core/docs/changelog/5561.js
  packages/core/nuxt-theme-module/theme/components/Checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/components/Checkout/ShippingPriceInfo.vue
  yarn.lock
Labels: Next

#5563 Implement API middleware in boilerplate
  packages/boilerplate/api-client/.gitignore
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup-main.config.js
  packages/boilerplate/api-client/rollup-server.config.js
  packages/boilerplate/api-client/src/index.server.ts
  packages/boilerplate/api-client/src/index.ts
  packages/boilerplate/composables/nuxt/plugin.js
  packages/boilerplate/theme/middleware.config.js
  packages/boilerplate/theme/middleware.js
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/api-client/.gitignore
  packages/commercetools/api-client/package.json
Labels: Next

#5568 updated ui version in ct
  packages/commercetools/theme/package.json
  yarn.lock
Labels: Next

#5570 Moved error handling to composables
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/error-handling.md
Labels: Next, docs

#5524 Update Cache library
  packages/core/cache/CHANGELOG.md
  packages/core/cache/__tests__/defaultHandler.spec.ts
  packages/core/cache/__tests__/nuxtModule.spec.ts
  packages/core/cache/__tests__/useCache.spec.ts
  packages/core/cache/defaultHandler/index.js
  packages/core/cache/jest.config.js
  packages/core/cache/nuxt/helpers.js
  packages/core/cache/nuxt/index.js
  packages/core/cache/nuxt/plugin.js
  packages/core/cache/package.json
  packages/core/cache/src/composables/useCache.ts
  packages/core/cache/src/index.ts
  packages/core/cache/src/types.ts
  packages/core/cache/tsconfig.json
  packages/core/docs/changelog/5524.js
  packages/core/jest.config.js
  packages/jest.base.config.js
  packages/tsconfig.base.json
  yarn.lock
Labels: Next

#5455 Api client / composables reference docs
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/commercetools/enterprise/use-review.md
  packages/core/docs/commercetools/enterprise/use-user-billing.md
  packages/core/docs/commercetools/enterprise/use-user-shipping.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/commercetools/use-cart.md
  packages/core/docs/commercetools/use-category.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/commercetools/use-product.md
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/commercetools/use-user-billing.md
  packages/core/docs/commercetools/use-user-shipping.md
  packages/core/docs/commercetools/use-user.md
  packages/core/docs/commercetools/use-wishlist.md
  packages/core/docs/commercetools/user-groups.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/package.json
  packages/core/docs/scripts/generateCtApi.js
  packages/core/docs/scripts/generateCtApiRef.js
  packages/core/docs/typedoc-vsf-theme/helpers/helpers.js
  packages/core/docs/typedoc-vsf-theme/partials/main.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.declaration.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.signature.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.group.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
  packages/core/docs/typedoc-vsf-theme/removeText.js
  packages/core/docs/typedoc-vsf-theme/templates/index.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.member.hbs
  packages/core/docs/typedoc-vsf-theme/theme.js
  packages/core/docs/typedoc.json
Labels: Next, docs

#5584 Add "useMakeOrder" and rename "useUserOrders" to "useUserOrder"
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useMakeOrder/index.ts
  packages/boilerplate/composables/src/useUserOrder/index.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useMakeOrderFactory.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5584.js
  packages/core/docs/commercetools/composables.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/contributing/api-design-philosophy.md
  packages/core/docs/core/composables.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next

#5581 Fix "dev" mode in CT api-client
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup-main.config.js
  packages/commercetools/api-client/rollup.config.js
Labels: Next

#5574 Update faceting docs
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/general/enterprise.md
Labels: Next

#5586 Docs(ct): useUserOrder composable + typedoc theme update
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/commercetools/use-user-order.md
  packages/core/docs/package.json
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
Labels: Next, docs

#5552 Checkout Billing
  packages/commercetools/composables/__tests__/useBilling/useBilling.spec.ts
  packages/commercetools/composables/jest.config.js
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useBilling/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/core/__tests__/factories/useBillingFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useBillingFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5419.js
  packages/core/docs/changelog/5552.js
  packages/core/docs/commercetools/changelog/5419.js
  packages/core/docs/commercetools/changelog/5552.js
Labels: Next

#5583 Quick search
  packages/boilerplate/theme/package.json
  packages/commercetools/composables/src/getters/facetGetters.ts
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/commercetools/theme/package.json
  packages/core/docs/changelog/5566.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  packages/core/nuxt-theme-module/theme/components/TopBar.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next

#5595 Fix outside-click handler for app header
  packages/core/docs/changelog/5595.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  yarn.lock
Labels: Next
