Repository vuestorefront/vue-storefront, pull requests merged in 2021-12, with the labels that each got.

#6544 docs: update commercetools documentation structure
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/composables/api-extractor.json
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/auth-middleware.md
  packages/core/docs/commercetools/authorization-strategy.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/commercetools/essentials/configuration.md
  packages/core/docs/commercetools/essentials/store-setup.md
  packages/core/docs/commercetools/feature-list.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/commercetools/guide/authentication.md
  packages/core/docs/commercetools/guide/checkout.md
  packages/core/docs/commercetools/guide/user-profile.md
  packages/core/docs/commercetools/index.md
  packages/core/docs/commercetools/maintainers.md
  packages/core/docs/commercetools/reference/changelog.md
  packages/core/docs/commercetools/reference/migrate/1.2.0-rc.2/index.md
  packages/core/docs/commercetools/reference/migrate/1.2.0-rc.3/index.md
  packages/core/docs/commercetools/reference/migrate/1.2.0/index.md
  packages/core/docs/commercetools/reference/migrate/1.3.0/index.md
  packages/core/docs/commercetools/reference/migrate/1.3.2/customer_scopes.jpg
  packages/core/docs/commercetools/reference/migrate/1.3.2/index.md
  packages/core/docs/commercetools/reference/migrate/1.3.2/server_scopes.jpg
  packages/core/docs/commercetools/reference/migrate/1.3.3/index.md
  packages/core/docs/commercetools/reference/migrate/1.4.0/index.md
  packages/core/docs/commercetools/reference/migrate/index.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/package.json
Labels: docs, Next, commercetools

#6545 fix: `Product` and `OrderHistory` components
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next, core

#6546 chore: add missing changelog and update GH Action for conventional commits
  .github/workflows/conventional-pr-name.yml
  packages/core/docs/changelog/6545.js
Labels: docs, Next, ci

#6550 Release 2.5.2
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6545.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, core, boilerplate

#6552 docs: restructure and remove old docs
  package.json
  packages/core/cache/api-extractor.json
  packages/core/core/api-extractor.json
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/cli/CHANGELOG.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/composables/use-wishlist.md
  packages/core/docs/composition/composables.md
  packages/core/docs/composition/composition-api.md
  packages/core/docs/composition/creating-custom-composables.md
  packages/core/docs/composition/error-handling.md
  packages/core/docs/composition/extending-graphql-queries.md
  packages/core/docs/composition/getters.md
  packages/core/docs/core/composables.md
  packages/core/docs/core/theme/auth-middleware.md
  packages/core/docs/core/use-cart.md
  packages/core/docs/core/use-product.md
  packages/core/docs/core/use-wishlist.md
  packages/core/docs/core/utils/server-side-rendering.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/getting-started/internationalization.md
  packages/core/docs/getting-started/key-concepts.md
  packages/core/docs/getting-started/logging.md
  packages/core/docs/getting-started/theme.md
  packages/core/docs/package.json
  packages/core/docs/performance/performance.md
  packages/core/docs/performance/ssr-cache.md
  packages/core/docs/reference/changelog.md
  packages/core/docs/reference/migrate/2.1.0-rc.1/integrators.md
  packages/core/docs/reference/migrate/2.1.0-rc.1/overview.md
  packages/core/docs/reference/migrate/2.2.0/integrators.md
  packages/core/docs/reference/migrate/2.2.0/overview.md
  packages/core/docs/reference/migrate/2.3.0-rc.2/integrators.md
  packages/core/docs/reference/migrate/2.3.0-rc.2/overview.md
  packages/core/docs/reference/migrate/2.3.0-rc.3/integrators.md
  packages/core/docs/reference/migrate/2.3.0-rc.3/overview.md
  packages/core/docs/reference/migrate/2.3.0/integrators.md
  packages/core/docs/reference/migrate/2.3.0/overview.md
  packages/core/docs/reference/migrate/2.4.0/integrators.md
  packages/core/docs/reference/migrate/2.4.0/overview.md
  packages/core/docs/reference/migrate/2.5.0/overview.md
  packages/core/docs/reference/migrate/index.md
  packages/core/middleware/api-extractor.json
Labels: docs, Next, core

#6554 docs: fix links after restructuring
  packages/core/docs/README.md
  packages/core/docs/architecture/application-context.md
  packages/core/docs/architecture/networking.md
  packages/core/docs/architecture/server-middleware.md
  packages/core/docs/commercetools/composables/use-store.md
  packages/core/docs/commercetools/essentials/configuration.md
  packages/core/docs/commercetools/guide/product-catalog.md
  packages/core/docs/commercetools/guide/user-profile.md
  packages/core/docs/composition/composables.md
  packages/core/docs/composition/composition-api.md
  packages/core/docs/composition/error-handling.md
  packages/core/docs/general/installation.md
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/getting-started/key-concepts.md
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/extending-integrations.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrate/supporting-custom-queries.md
  packages/core/docs/integrations/redis-cache.md
  packages/core/docs/reference/migrate/2.3.0-rc.2/overview.md
Labels: docs, Next

#6555 feat(os-209): add possibility to enable/disable useCache
  packages/core/cache/__tests__/nuxtModule.spec.ts
  packages/core/cache/nuxt/index.js
  packages/core/docs/changelog/6555.js
Labels: docs, Next, core

#6560 chore: fix `conventional-pr-name.yml`
  .github/workflows/conventional-pr-name.yml
Labels: Next, ci

#6559 docs: add `Introduction`, `Project structure` and `Layouts and Routing` pages
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/styles/index.styl
  packages/core/docs/general/support.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/key-concepts.md
  packages/core/docs/getting-started/layouts-and-routing.md
  packages/core/docs/getting-started/project-structure.md
  packages/core/docs/getting-started/theme.md
Labels: docs, Next

#6561 feat: add health check
  packages/core/docs/changelog/6541.js
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/health-check.js
Labels: docs, Next, core

#6562 chore: update caching in GitHub Actions
  .github/workflows/conventional-pr-name.yml
  .github/workflows/deploy-lighthouse.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/test.yml
Labels: Next, ci

#6565 chore: update caching in GitHub Actions
  .github/workflows/conventional-pr-name.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-lighthouse.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/test.yml
Labels: Next, ci

#6566 feat: add `@vue-storefront/health-check` module
  packages/core/docs/changelog/6541.js
  packages/core/health-check/.gitignore
  packages/core/health-check/README.md
  packages/core/health-check/lib/module.js
  packages/core/health-check/package.json
Labels: docs, Next, core

#6567 fix: loading integrations in Server Middleware
  packages/core/docs/changelog/6567.js
  packages/core/middleware/src/integrations.ts
Labels: docs, Next, core

#6570 docs: remove old VSF logo
  packages/core/docs/commercetools/index.md
Labels: docs, Next

#6571 chore: release 2.5.3
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6541.js
  packages/core/docs/changelog/6555.js
  packages/core/docs/changelog/6567.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6573 chore: remove duplicate changelogs
  packages/core/docs/changelog/6432.js
  packages/core/docs/changelog/6442.js
  packages/core/docs/changelog/6452.js
  packages/core/docs/changelog/6541.js
Labels: docs, Next

#6578 refactor(nuxt-module): added `autoChangeCookie` option to nuxt config
  packages/core/docs/changelog/6578.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, core

#6580 Revert "refactor(nuxt-module): added `autoChangeCookie` option to nuxt config"
  packages/core/docs/changelog/6578.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, core

#6584 feat: add Vendure without beta to CLI
  packages/core/cli/src/utils/getIntegrations.ts
Labels: Next, core
