Repository vuestorefront/vue-storefront, pull requests merged in 2021-09, with the labels that each got.

#6243 [Docs] Reorganize docs into smaller categories
  package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/advanced/architecture.md
  packages/core/docs/advanced/creating-custom-composables.md
  packages/core/docs/advanced/performance.md
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/commercetools/extensions/user-groups.md
  packages/core/docs/commercetools/guide/authentication.md
  packages/core/docs/commercetools/guide/cart.md
  packages/core/docs/commercetools/guide/checkout.md
  packages/core/docs/commercetools/guide/product-catalog.md
  packages/core/docs/commercetools/guide/user-profile.md
  packages/core/docs/commercetools/guide/wishlist.md
  packages/core/docs/commercetools/images/faceting.jpg
  packages/core/docs/commercetools/migrate/1.2.0-rc.2/index.md
  packages/core/docs/commercetools/migrate/1.2.0-rc.3/index.md
  packages/core/docs/commercetools/migrate/1.2.0/index.md
  packages/core/docs/commercetools/migrate/1.3.0/index.md
  packages/core/docs/commercetools/migrate/index.md
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/core/getting-started.md
  packages/core/docs/core/use-cart.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/general/where-to-start.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/diagram-general.png
  packages/core/docs/images/high-level-architecture.png
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/migrate/2.1.0-rc.1/integrators.md
  packages/core/docs/migrate/2.1.0-rc.1/overview.md
  packages/core/docs/migrate/2.1.0-rc.1/projects.md
  packages/core/docs/migrate/2.2.0/integrators.md
  packages/core/docs/migrate/2.2.0/overview.md
  packages/core/docs/migrate/2.2.0/projects.md
  packages/core/docs/migrate/2.3.0-rc.2/integrators.md
  packages/core/docs/migrate/2.3.0-rc.2/overview.md
  packages/core/docs/migrate/2.3.0-rc.3/integrators.md
  packages/core/docs/migrate/2.3.0-rc.3/overview.md
  packages/core/docs/migrate/2.3.0/integrators.md
  packages/core/docs/migrate/2.3.0/overview.md
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
  packages/core/docs/migrate/2.4.0/projects.md
  packages/core/docs/migrate/index.md
  packages/core/docs/package.json
  packages/core/docs/scripts/changelog.js
  packages/core/docs/scripts/templates/change.hbs
  packages/core/docs/scripts/templates/version.hbs
  yarn.lock
Labels: docs, Next

#6255 [Docs] Disable pre-fetching
  packages/core/docs/.vuepress/config.js
Labels: docs, Next

#6256 Fix `labeler` for docs
  .github/labeler.yml
Labels: docs, Next, ci

#6257 feat: update Vendure integration status to beta
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6259 [Docs] Update maintainers of SFCC integration
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6260 [Docs] Optimize homepage diagram
  packages/core/docs/images/high-level-architecture.png
Labels: docs, Next

#6258 feat: add Vendure template beta to cli
  packages/core/cli/src/utils/getIntegrations.ts
Labels: Next, core

#6261 Downgrade GH Action to fix deployment
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
Labels: Next, ci

#6252 [Docs] Add "Extending Vue Storefront" and "Extending integrations" pages
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/integrate/extending-integrations.md
  packages/core/docs/integrate/extending-vue-storefront.md
Labels: docs, Next

#5792 Fix typo
  packages/core/middleware/src/createServer.ts
Labels: Next, ci

#6269 Sync `release-2.4` with `release/next`
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6270 Sync `develop` with `release-2.4`
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/.vuepress/integrations.js
  yarn.lock
Labels: docs, Next, commercetools

#6182 [FIX]: Search products by skus error
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/core/docs/commercetools/changelog/6181.js
Labels: docs, Next, commercetools

#6265 Fix loading user and cart information
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: docs, Next, commercetools, core

#6274 chore: added missing PR title validation action
  .github/workflows/conventional-pr-name.yml
  commitlint.config.js
  package.json
  yarn.lock
Labels: Next, ci

#6232 fix(ct): fix no property error in useUser/changePassword
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/docs/commercetools/changelog/6231.js
  packages/core/docs/core/changelog/6231.js
Labels: docs, Next, commercetools, core

#6251 [OS-71]: Product :: Color filter param set to object, not color value
  packages/commercetools/theme/pages/Product.vue
  packages/core/docs/changelog/5787.js
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: docs, Next, commercetools, core

#6277 tests(e2e): fix tests data and selectors
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
Labels: Next, commercetools

#6278 feat: sync develop with release 2.4
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-my-account.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: docs, Next, commercetools, core

#6280 chore(e2e): fix start command in regression workflow
  .github/workflows/run-e2e-regression.yml
Labels: Next, ci

#6267 test(os-159): added e2e tests for breadcrumbs
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-breadcrumbs.json
  packages/commercetools/theme/tests/e2e/integration/e2e-breadcrumbs.spec.ts
  packages/commercetools/theme/tests/e2e/pages/category.ts
  packages/commercetools/theme/tests/e2e/pages/components/breadcrumbs.ts
  packages/commercetools/theme/tests/e2e/pages/factory.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next, commercetools, core

#6283 fix(ct): add missing order summary data
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/docs/commercetools/changelog/6282.js
Labels: docs, Next, commercetools

#6286 chore: fix branch names in test workflow
  .github/workflows/run-e2e-regression.yml
  .github/workflows/test.yml
Labels: Next, ci

#6289 test(core): fix jest config for middleware
  packages/core/middleware/jest.config.js
Labels: Next, core

#6058 [EN-284]: Not all queries in commercetools are wrapped in `gql` template literal
  packages/commercetools/api-client/__tests__/api/customerUpdateMe.spec.ts
  packages/commercetools/api-client/src/api/customerChangeMyPassword/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
Labels: Next, commercetools

#6291 test(e2e): add addresses tests on order summary
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-order-summary.json
  packages/commercetools/theme/tests/e2e/integration/e2e-add-to-cart.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-my-account.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-remove-from-cart.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Labels: Next, commercetools

#6206 Ci/configure lighthouse
  .github/workflows/deploy-lighthouse.yml
Labels: Next, ci, performance

#6292 chore: fix branch names in ci test workflow
  .github/workflows/test.yml
Labels: Next, ci

#6298 [Docs] Update the link to Vendure docs
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6299 [Docs] Prevent enlarging images on the Integrations page
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
Labels: docs, Next

#6287 fix(en-425): added protection on depth for getAgnosticStatusCode f…
  packages/core/docs/changelog/6287.js
  packages/core/middleware/__tests__/helpers/getAgnosticStatusCode.spec.ts
  packages/core/middleware/__tests__/test-data/getAgnosticStatusCode.ts
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/helpers/getAgnosticStatusCode.ts
Labels: docs, Next, core

#6303 feat: make VSF pwa again
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/static/icon.png
Labels: Next, commercetools, core-web-vitals

#6288 fix(ct): fix exception directly entering checkout payment url
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-access-guard.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-access-guard.spec.ts
  packages/core/docs/commercetools/changelog/5983.js
Labels: docs, Next, commercetools

#6272 test(os-158): add e2e tests for category page accordion
  packages/commercetools/theme/tests/e2e/cypress.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-category-accordion.json
  packages/commercetools/theme/tests/e2e/integration/e2e-category-accordion.spec.ts
  packages/commercetools/theme/tests/e2e/pages/components/category-accordion.ts
  packages/commercetools/theme/tests/e2e/pages/factory.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next, commercetools, core

#6307 feat: make VSF PWA again - boilerplate
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/static/icon.png
  packages/core/docs/commercetools/changelog/6307.js
Labels: docs, Next, boilerplate

#6304 feat: improve a11y by aria-labels
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/docs/changelog/6304.js
  packages/core/docs/commercetools/changelog/6304.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: docs, Next, commercetools, core

#6306 feat: optimize SEO with i18n
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/commercetools/changelog/6306.js
Labels: docs, Next, commercetools, boilerplate

#6326 docs: afterpay via adyen
  packages/core/docs/integrations/adyen.md
Labels: docs, Next

#6321 [commercetools] Add server-specific API client
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/commercetools/changelog/6321.js
  packages/core/docs/commercetools/getting-started.md
Labels: docs, Next, commercetools

#6311 fix(ct): unsuccessful login error message
  packages/commercetools/composables/src/useUser/authenticate.ts
  packages/core/docs/commercetools/changelog/6311.js
Labels: docs, Next, commercetools

#6315 fix(ct): wrong redirect after successful order placement
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-access-guard.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-access-guard.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/core/docs/commercetools/changelog/6309.js
Labels: docs, Next, commercetools

#6310 fix(ct): get rid of filters sidebar in OS
  packages/boilerplate/theme/lang/de.js
  packages/boilerplate/theme/lang/en.js
  packages/commercetools/theme/components/CategoryPageHeader.vue
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/docs/changelog/5684.js
  packages/core/docs/commercetools/changelog/5684.js
  packages/core/nuxt-theme-module/theme/components/CategoryPageHeader.vue
  packages/core/nuxt-theme-module/theme/components/FiltersSidebar.vue
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: docs, Next, commercetools, core, boilerplate

#6331 Release 2.4.2
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/docs/commercetools/changelog/6321.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6330 chore: sync `develop` with `release-2.4` branch
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/categorySearch/defaultQuery.ts
  packages/commercetools/api-client/src/api/categorySearch/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, core, boilerplate

#6338 Revert "chore: sync `develop` with `release-2.4` branch"
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/categorySearch/defaultQuery.ts
  packages/commercetools/api-client/src/api/categorySearch/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, core, boilerplate

#6344 chore: sync `develop` with `release-2.4` branch
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/categorySearch/defaultQuery.ts
  packages/commercetools/api-client/src/api/categorySearch/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6265.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6265.js
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, core, boilerplate

#6346 chore: updated GitHub actions to match new branch structure
  .github/labeler.yml
  .github/workflows/deploy-storefrontcloud.yml
Labels: Next, ci

#6332 Deploy for 2.4.2 release
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/categorySearch/defaultQuery.ts
  packages/commercetools/api-client/src/api/categorySearch/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/integrations/adyen.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: docs, Next, commercetools, core, boilerplate

#6358 fix(os-178): fixed failing tests
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
Labels: Next, commercetools

#6325 docs(ct) fix: update link in getting started section and fix typo in usereview snippet
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/getting-started.md
Labels: docs, Next

#6359 fix(os-178): fixed failing tests
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
Labels: Next, commercetools

#6356 fix(os-176): fixed adding items to cart from list view in category
  packages/core/docs/core/changelog/6356.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: docs, Next, core

#6362 fix(os-176): fixed adding items to cart from list view in category
  packages/core/docs/core/changelog/6356.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: docs, Next, core

#6355 fix(cache): cache package invalidation bug
  packages/core/cache/nuxt/index.js
  packages/core/docs/changelog/6355.js
Labels: Next, core

#6350 fix(ct): productType field ommited for custom queries
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/docs/commercetools/changelog/6347.js
Labels: docs, Next, commercetools

#6369 feat: EN-453 update deploy workflow
  .github/configs/lighthouserc.json
  .github/workflows/deploy-lighthouse.yml
Labels: Next, ci

#6367 fix(ct): productType field omitted for custom queries
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/docs/commercetools/changelog/6347.js
Labels: docs, Next, commercetools

#6378 Perf/en 436 dev
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog/6374.js
  yarn.lock
Labels: docs, Next, commercetools

#6373 perf: use @nuxtjs/google-fonts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog/6374.js
  yarn.lock
Labels: docs, Next, commercetools

#6379 Perf/en 430 dev
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/commercetools/changelog/6375.js
Labels: docs, Next, commercetools

#6377 perf: add extractCSS
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/commercetools/changelog/6375.js
Labels: docs, Next, commercetools

#6368 fix: updated ui version
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog/6354.js
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  yarn.lock
Labels: docs, Next, commercetools, core, boilerplate

#6227 Perf/en 334 replace images in old formats with webp
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/static/homepage/apple.png
  packages/commercetools/theme/static/homepage/apple.webp
  packages/commercetools/theme/static/homepage/bannerD.png
  packages/commercetools/theme/static/homepage/bannerD.webp
  packages/commercetools/theme/static/homepage/google.png
  packages/commercetools/theme/static/homepage/google.webp
  packages/commercetools/theme/static/productpage/productA.jpg
  packages/commercetools/theme/static/productpage/productB.jpg
  packages/commercetools/theme/static/productpage/productM.jpg
  packages/commercetools/theme/static/thank-you/bannerD.png
  packages/commercetools/theme/static/thank-you/bannerD.webp
  packages/commercetools/theme/static/thank-you/bannerM.png
  packages/commercetools/theme/static/thank-you/bannerM.webp
  packages/core/docs/changelog/6227.js
  packages/core/docs/commercetools/changelog/6227.js
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
Labels: docs, Next, commercetools, core, performance

#6372 fix(OS-169): allow to customise currency & country cookie names
  packages/commercetools/composables/nuxt/index.js
  packages/core/docs/changelog/6296.js
  packages/core/docs/commercetools/changelog/6296.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, commercetools, core

#6388 test(e2e): adjust e2e tests to new sfui version
  packages/boilerplate/theme/tests/e2e/pages/checkout.ts
  packages/boilerplate/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/boilerplate/theme/tests/e2e/pages/components/header.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/CategoryPageHeader.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-registration.spec.ts
  packages/commercetools/theme/tests/e2e/pages/category.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/pages/components/breadcrumbs.ts
  packages/commercetools/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/commercetools/theme/tests/e2e/pages/components/header.ts
  packages/commercetools/theme/tests/e2e/pages/components/login-modal.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
Labels: Next, commercetools, core, boilerplate

#6380 fix(OS-169): allow to customise currency & country cookie names - main align
  packages/commercetools/composables/nuxt/index.js
  packages/core/docs/changelog/6296.js
  packages/core/docs/commercetools/changelog/6296.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, commercetools, core

#6376 fix(#6354): dev-radio buttons are not being checked - update UI version
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog/6354.js
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  yarn.lock
Labels: docs, Next, commercetools, core, boilerplate

#6386 Remove outdated information and fix changelog generation
  packages/core/docs/advanced/logging.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/scripts/changelog.js
Labels: docs, Next

#6393 test(e2e): adjust e2e tests to new sfui version
  packages/boilerplate/theme/tests/e2e/pages/checkout.ts
  packages/boilerplate/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/boilerplate/theme/tests/e2e/pages/components/header.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/CategoryPageHeader.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-registration.spec.ts
  packages/commercetools/theme/tests/e2e/pages/category.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/pages/components/breadcrumbs.ts
  packages/commercetools/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/commercetools/theme/tests/e2e/pages/components/header.ts
  packages/commercetools/theme/tests/e2e/pages/components/login-modal.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
Labels: Next, commercetools, core, boilerplate

#6276 fix(commercetools): reselect shipping delivery
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/commercetools/theme/pages/Product.vue
  packages/core/docs/commercetools/changelog/6276.js
Labels: docs, Next, commercetools
