Repository vuestorefront/vue-storefront, pull requests merged in 2021-05, with the labels that each got.

#5862 Export factory params for easier overriding
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useBilling/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/composables/src/useShipping/index.ts
  packages/commercetools/composables/src/useShippingProvider/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/docs/commercetools/changelog/5862.js
Labels: Next, commercetools, docs

#5859 fix: ESLint warnings
  CHANGELOG.md
  core/scripts/resolvers/resolveGraphQL.js
Labels: VSF1

#5860 fix: update installation guide
  docs/guide/archives/cookbook.md
  docs/guide/cookbook/setup.md
  docs/guide/installation/linux-mac.md
  docs/guide/installation/production-setup.md
  docs/guide/installation/windows.md
Labels: VSF1, docs

#5870 Adyen Doc Update
  packages/core/docs/integrations/adyen.md
Labels: Next, docs

#5868 Make useUser "login" parameters optional
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5868.js
Labels: Next, core

#5733 States in CT - i18n doc
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/images/ct-states-checkout.png
  packages/core/docs/images/ct-states-myaccount.png
  packages/core/docs/images/ct-taxes.png
Labels: Next, docs

#5873 [CT] Export helper Apollo Link functions for easier overriding
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/core/docs/commercetools/changelog/5873.js
Labels: Next, commercetools, docs

#5880 Release 2.3.1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5854.js
  packages/core/docs/changelog/5868.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5854.js
  packages/core/docs/commercetools/changelog/5862.js
  packages/core/docs/commercetools/changelog/5873.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs

#5864 Allow searching by orderNumber
  packages/commercetools/api-client/__tests__/api/getOrders.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Labels: Next, commercetools

#5866 OptionLabel unit test
  CHANGELOG.md
  core/modules/catalog/helpers/optionLabel.ts
  core/modules/catalog/test/unit/helpers/optionLabel.spec.ts
Labels: VSF1

#5850 fix: Order history pagination
  CHANGELOG.md
  core/modules/order/components/UserOrdersHistory.ts
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
Labels: VSF1

#5888 Replace Slack links to Discord in docs
  packages/core/docs/.vuepress/components/PersonTile.vue
  packages/core/docs/commercetools/maintainers.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/shopify/maintainers.md
Labels: Next, docs

#5881 Deployment for 2.3.1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/__tests__/api/getOrders.spec.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useBilling/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/composables/src/useShipping/index.ts
  packages/commercetools/composables/src/useShippingProvider/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/guide/composables.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs

#5823 support for async hooks added
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/factories/apiClientFactory/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5823.js
  yarn.lock
Labels: Next, core

#5757 Update wishlist logic on category page
  packages/core/docs/changelog/5756.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next

#5892 Add build:middleware to build:core script
  package.json
Labels: Next

#5902 E2e tests carts merging
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-carts-merging.json
  packages/commercetools/theme/tests/e2e/integration/e2e-carts-merging.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-product-page.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-login.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-registration.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/commercetools/theme/tests/e2e/pages/components/login-modal.ts
  packages/commercetools/theme/tests/e2e/types/address.ts
  packages/commercetools/theme/tests/e2e/types/customer.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
Labels: Next, commercetools

#5905 Revert "support for async hooks added"
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/factories/apiClientFactory/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5823.js
  yarn.lock
Labels: Next, core

#5872 E2e happy path for registered customer
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  yarn.lock
Labels: Next, commercetools

#5879 E2e tests add to cart
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-add-to-cart.json
  packages/commercetools/theme/tests/e2e/integration/e2e-add-to-cart.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-carts-merging.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-product-page.spec.ts
  packages/commercetools/theme/tests/e2e/pages/category.ts
  packages/commercetools/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/commercetools/theme/tests/e2e/pages/factory.ts
  packages/commercetools/theme/tests/e2e/pages/product.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next, ci, commercetools, core

#5909 Release 2.3.2
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs, release

#5912 Add fail-fast flag to regression workflow
  .github/workflows/run-e2e-regression.yml
  packages/boilerplate/theme/tests/e2e/integration/e2e-place-order.spec.ts
Labels: Next, boilerplate, ci

#5894 Docs cleanup installation key concepts and theme documents
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/general/installation.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/general/vs-code-vetur-install.gif
  packages/core/docs/images/general/vs-code-vetur.gif
  packages/core/docs/images/general/vue-js-devtools-install.gif
  packages/core/docs/images/general/vue-js-devtools.gif
  packages/core/docs/images/theme/vue-devtools.jpg
Labels: Next, docs

#5898 docs: guide getters
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/getters.md
Labels: Next, docs

#5920 Clearing token when user clicks logout
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/docs/commercetools/changelog/5920.js
Labels: Next, commercetools, docs

#5913 Deployment for 2.3.2
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5920.js
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs

#5929 Restore link to API reference in menu
  packages/core/docs/.vuepress/config.js
Labels: Next

#5919 Read i18n from cookies on midddleware
  packages/commercetools/api-client/src/index.server.ts
  packages/core/docs/commercetools/changelog/5919.js
  packages/core/docs/commercetools/configuration.md
Labels: Next, commercetools, docs

#5932 Fix calculation of cart totals
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/core/docs/changelog/5932.js
  packages/core/docs/commercetools/changelog/5932.js
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: Next, commercetools, core, docs

#5937 Release 2.3.3
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5932.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5919.js
  packages/core/docs/commercetools/changelog/5920.js
  packages/core/docs/commercetools/changelog/5932.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs

#5927 Adyen Klarna Doc Update
  packages/core/docs/integrations/adyen.md
Labels: Next, docs

#5942 Update changelogs
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Labels: Next, docs

#5943 Update "changePassword" in useUser
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5943.js
Labels: Next, core

#5955 Update README
  README.md
Labels: Next

#5758 refactor: got rid of status event
  packages/commercetools/theme/components/Checkout/VsfPaymentProviderMock.vue
  packages/commercetools/theme/components/Checkout/VsfShippingProvider.vue
  packages/commercetools/theme/composables/usePaymentProviderMock/index.ts
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/guide/checkout.md
Labels: Next
