Repository vuestorefront/vue-storefront, pull requests merged in 2021-07, with the labels that each got.

#5941 docs: where to start
  packages/core/docs/.vuepress/config.js
  packages/core/docs/general/where-to-start.md
Labels: Next, docs

#6036 Add AEM to the integrations list
  packages/core/docs/integrations/README.md
Labels: Next, docs

#5996 Docs refactor composables page
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/styles/index.styl
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/composition-api.md
  packages/core/docs/guide/error-handling.md
Labels: Next, docs

#6042 Update CLA
  CLA.md
Labels: Next

#6049 New `eCommerce integration`, `Creating custom composable` and `Adding customQuery support` guides
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/creating-custom-composable.md
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/guide/composables.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrate/supporting-custom-queries.md
Labels: Next, docs

#6054 fix: retry logic of CT updateCart + minor refactoring
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/core/docs/commercetools/changelog/6050.js
Labels: commercetools

#6043 #5972 e2e tests checkout
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-order-summary.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
Labels: Next, commercetools

#6075 Change "Divante" in footer to "Vue Storefront" in VSF1 docs
  docs/README.md
Labels: VSF1, docs

#6076 Upgrade `api-extractor` to version `^7.18.3`
  packages/core/docs/package.json
  yarn.lock
Labels: Next, docs

#6062 Add GTM to docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/theme/index.js
  packages/core/docs/.vuepress/theme/layouts/Layout.vue
Labels: Next

#6080 Update "CLA"
  CLA.md
Labels: Next

#6093 Cache control headers for home, cateogry, product
  packages/core/docs/changelog/6093.js
  packages/core/nuxt-theme-module/theme/helpers/cacheControl.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next, core

#6094 Remove duplicate dependency
  packages/core/nuxt-module/package.json
Labels: Next, core

#6105 [Docs] Add `git` as a requirement to the Installation doc
  packages/core/docs/general/installation.md
Labels: Next, docs

#6106 Fix `useCart` example in CT docs
  packages/core/docs/commercetools/composables/use-cart.md
Labels: Next, docs

#6107 fix: Display product information from CT - getter for product sku
  packages/commercetools/composables/src/getters/productGetters.ts
  packages/core/docs/commercetools/changelog/6107.js
Labels: Next, commercetools, docs

#6085 refactor(core:logger): change the logger behavior to match the console
  packages/core/core/src/utils/logger/defaultLogger.ts
  packages/core/core/src/utils/logger/makeMessageStyle.ts
  packages/core/core/src/utils/logger/makeMethod.ts
  packages/core/core/src/utils/logger/types.ts
  packages/core/core/src/utils/logger/utils.ts
  packages/core/docs/changelog/6085.js
Labels: Next, core

#6070 fix: links for banner buttons
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/themeConfig.js
  packages/core/docs/changelog/6070.js
  packages/core/docs/commercetools/changelog/6070.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: Next, commercetools, core, docs

#6079 Fix: show active user email in change password tab on my account
  packages/commercetools/theme/pages/MyAccount/MyProfile.vue
  packages/core/docs/commercetools/changelog/6079.js
Labels: Next, commercetools, docs

#6068 fix: remove hero buttons
  packages/core/docs/changelog/6068.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: Next, core

#6081 fix: Nuxt-theme hardcoded `/c/woman` link to category inside searchResults.vue component
  packages/core/docs/changelog/6081.js
  packages/core/docs/commercetools/changelog/6081.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Labels: Next, core, docs

#6077 Implement mobile menu
  packages/core/core/__tests__/composables/useUiState.spec.ts
  packages/core/docs/changelog/6077.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
  packages/core/nuxt-theme-module/theme/components/HeaderNavigation.vue
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
Labels: Next, core

#6069 fix: remove download app banner
  packages/core/docs/changelog/6069.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next, core

#6109 Fix integration logos
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/public/integrations-logos/Adyen.svg
  packages/core/docs/.vuepress/public/integrations-logos/BigCommerce.svg
  packages/core/docs/.vuepress/public/integrations-logos/Contentful.svg
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/Shopify.svg
  packages/core/docs/.vuepress/public/integrations-logos/Storyblok.svg
  packages/core/docs/.vuepress/public/integrations-logos/algolia.svg
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/commercetools.svg
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6113 [Docs] Update commercetools homepage
  packages/core/docs/commercetools/README.md
Labels: Next, docs

#6114 Fix links to self-hosted integration logos
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6112 smartphone only promo code input added
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/docs/commercetools/changelog/6112.js
Labels: Next, commercetools, docs

#6117 Upgrade VuePress and delete AboutYou docs
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/enhanceApp.js
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.png
  packages/core/docs/.vuepress/styles/palette.styl
  packages/core/docs/aboutyou/README.md
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/aboutyou/composables.md
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/aboutyou/use-cart.md
  packages/core/docs/aboutyou/use-product.md
  packages/core/docs/aboutyou/use-wishlist.md
  packages/core/docs/integrations/README.md
  packages/core/docs/package.json
  yarn.lock
Labels: Next, docs

#6120 Fix documentation CI/CD
  packages/core/docs/package.json
Labels: Next, docs

#6124 Link Auth0 docs
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6121 Add `checkout.js` middleware
  packages/boilerplate/theme/nuxt.config.js
  packages/core/docs/changelog/6121.js
  packages/core/docs/integrate/integration-guide.md
  packages/core/nuxt-theme-module/theme/components/Checkout/CartPreview.vue
  packages/core/nuxt-theme-module/theme/components/Checkout/VsfPaymentProvider.vue
  packages/core/nuxt-theme-module/theme/components/Checkout/VsfShippingProvider.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/BillingAddressForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/PasswordResetForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ShippingAddressForm.vue
  packages/core/nuxt-theme-module/theme/components/UserBillingAddress.vue
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/middleware/checkout.js
  packages/core/nuxt-theme-module/theme/middleware/is-authenticated.js
Labels: Next, boilerplate, core, docs

#6123 fix: fixed Nuxt-CLI spamming babel warning due plugin configuration
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/changelog/6123.js
Labels: Next, boilerplate, commercetools

#6122 refactor: updates form validation scheme for street, number and city
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/changelog/6122.js
  packages/core/docs/commercetools/changelog/6122.js
  packages/core/nuxt-theme-module/theme/pages/Checkout/Billing.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
Labels: Next, commercetools, core, docs

#6135 [Docs] Update Integrations page
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/Adyen.svg
  packages/core/docs/.vuepress/public/integrations-logos/BigCommerce.svg
  packages/core/docs/.vuepress/public/integrations-logos/Contentful.svg
  packages/core/docs/.vuepress/public/integrations-logos/Shopify.svg
  packages/core/docs/.vuepress/public/integrations-logos/Storyblok.svg
  packages/core/docs/.vuepress/public/integrations-logos/algolia.svg
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.png
  packages/core/docs/.vuepress/public/integrations-logos/commercetools.svg
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6139 [Docs] Update integrations page
  packages/core/docs/.vuepress/components/IntegrationTile.vue
Labels: Next

#6061 Minor fixes in core
  packages/boilerplate/composables/src/getters/forgotPasswordGetters.ts
  packages/boilerplate/theme/lang/.gitkeep
  packages/boilerplate/theme/lang/de.js
  packages/boilerplate/theme/lang/en.js
  packages/boilerplate/theme/nuxt.config.js
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/6061.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
Labels: Next, boilerplate, core

#6140 Fix images in docs
  packages/core/docs/.vuepress/config.js
Labels: Next

#6125 Synchronize with the Boilerplate repository
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/api-client/src/api/getProduct/index.ts
  packages/boilerplate/api-client/src/index.server.ts
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/nuxt/index.js
  packages/boilerplate/composables/src/getters/cartGetters.ts
  packages/boilerplate/composables/src/getters/categoryGetters.ts
  packages/boilerplate/composables/src/getters/checkoutGetters.ts
  packages/boilerplate/composables/src/getters/facetGetters.ts
  packages/boilerplate/composables/src/getters/forgotPasswordGetters.ts
  packages/boilerplate/composables/src/getters/index.ts
  packages/boilerplate/composables/src/getters/orderGetters.ts
  packages/boilerplate/composables/src/getters/productGetters.ts
  packages/boilerplate/composables/src/getters/reviewGetters.ts
  packages/boilerplate/composables/src/getters/userBillingGetters.ts
  packages/boilerplate/composables/src/getters/userGetters.ts
  packages/boilerplate/composables/src/getters/userShippingGetters.ts
  packages/boilerplate/composables/src/getters/wishlistGetters.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/types.ts
  packages/boilerplate/composables/src/types/index.ts
  packages/boilerplate/composables/src/useBilling/index.ts
  packages/boilerplate/composables/src/useCart/index.ts
  packages/boilerplate/composables/src/useCategory/index.ts
  packages/boilerplate/composables/src/useContent/index.ts
  packages/boilerplate/composables/src/useFacet/index.ts
  packages/boilerplate/composables/src/useForgotPassword/index.ts
  packages/boilerplate/composables/src/useMakeOrder/index.ts
  packages/boilerplate/composables/src/useProduct/index.ts
  packages/boilerplate/composables/src/useReview/index.ts
  packages/boilerplate/composables/src/useShipping/index.ts
  packages/boilerplate/composables/src/useShippingProvider/index.ts
  packages/boilerplate/composables/src/useUser/index.ts
  packages/boilerplate/composables/src/useUserBilling/index.ts
  packages/boilerplate/composables/src/useUserOrder/index.ts
  packages/boilerplate/composables/src/useUserShipping/index.ts
  packages/boilerplate/composables/src/useWishlist/index.ts
  packages/boilerplate/theme/README.md
  packages/boilerplate/theme/assets/styles.scss
  packages/boilerplate/theme/components/README.md
  packages/boilerplate/theme/helpers/README.md
  packages/boilerplate/theme/middleware/README.md
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/pages/README.md
  packages/boilerplate/theme/static/README.md
  packages/boilerplate/theme/tests/e2e/cypress.json
  packages/boilerplate/theme/themeConfig.js
  packages/boilerplate/theme/tsconfig.json
Labels: Next, boilerplate
