Repository vuestorefront/vue-storefront, pull requests merged in 2021-04, with the labels that each got.

#5715 Update documentation
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/core/api-client.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/general/installation.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/checkout.md
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/configuration.md
  packages/core/docs/guide/theme.md
  packages/core/docs/guide/user-profile.md
  packages/core/docs/images/theme/storefront-ui.jpg
  packages/core/docs/images/theme/vue-devtools.jpg
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  yarn.lock
Labels: Next, docs

#5721 Bump dependencies in boilerplate to 2.3-rc.3
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  yarn.lock
Labels: Next

#5737 Added phone num
  CHANGELOG.md
  core/helpers/test/unit/validators/phoneNum.spec.ts
  core/helpers/validators/index.ts
Labels: VSF1

#5739 Source of images on test instance
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5742 Source of images test instance
  .github/workflows/deploy-storefrontcloud.yml
Labels: VSF1

#5709 Search adjusted to EE
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/mockedSearchProducts.json
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Labels: Next

#5727 Bug #5725/shipping provider loading
  packages/commercetools/theme/components/Checkout/VsfShippingProvider.vue
  packages/core/docs/changelog/5725.js
Labels: Next, commercetools

#5747 Feat/search by key
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Labels: Next, commercetools

#5751 Feature: EN-163 change the way how cli works
  packages/core/cli/README.md
  packages/core/cli/__tests__/commands/init.spec.ts
  packages/core/cli/__tests__/mock.ts
  packages/core/cli/__tests__/scripts/copyProject/index.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyAgnosticTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/copyIntegrationTheme.spec.ts
  packages/core/cli/__tests__/scripts/createProject/index.spec.ts
  packages/core/cli/__tests__/scripts/generateTemplates/index.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/package.json
  packages/core/cli/src/commands/generate-template.ts
  packages/core/cli/src/commands/init.ts
  packages/core/cli/src/scripts/createProject/copyAgnosticTheme.ts
  packages/core/cli/src/scripts/createProject/copyIntegrationTheme.ts
  packages/core/cli/src/scripts/createProject/index.ts
  packages/core/cli/src/scripts/generateTemplates/index.ts
  packages/core/cli/src/utils/getIntegrations.ts
  packages/core/cli/src/utils/theme-utils-config-template.ts
  yarn.lock
Labels: L: considerable change, Next

#5745 fix: hydration error on category page in desktop mode
  packages/core/docs/changelog/5744.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Labels: Next, commercetools

#5748 Docs: update customQuery types in docs
  packages/core/docs/commercetools/composables/use-billing.md
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-make-order.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-shipping-provider.md
  packages/core/docs/commercetools/composables/use-shipping.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-wishlist.md
Labels: Next, commercetools, docs

#5768 Fix/removing experimentals
  packages/core/cli/package.json
  packages/core/cli/src/commands/generate-template.ts
  packages/core/cli/src/scripts/createProject/index.ts
  packages/core/cli/src/utils/themeUtilsConfigTemplate.ts
Labels: Next

#5734 Docs for Adyen
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
Labels: Next, docs

#5778 missing changelog files
  packages/core/docs/changelog/5437.js
  packages/core/docs/changelog/5709.js
Labels: Next

#5774 Pass integration configuration to "extendApp" and fix CT cookies
  packages/commercetools/api-client/src/index.server.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5774.js
  packages/core/docs/commercetools/changelog/5774.js
  packages/core/middleware/src/integrations.ts
Labels: Next, commercetools

#5784 VSF2-V2.3: Updated Shopify Docs
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
  packages/core/docs/shopify/use-product.md
  packages/core/docs/shopify/use-search.md
  packages/core/docs/shopify/use-user.md
Labels: Next, docs, shopify

#5788 fix: load default address in checkout
  CHANGELOG.md
  core/modules/checkout/components/Shipping.ts
Labels: VSF1

#5799 ci: add labeler config
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Next, ci

#5810 Feat/add GitHub templates
  .github/ISSUE_TEMPLATE/RFC.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/feature-improvement.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/PULL_REQUEST_TEMPLATE/stabilisation-fix.md
Labels: Next, ci

#5804 Changing esModule mock from function to object
  packages/core/cli/__tests__/commands/init.spec.ts
Labels: Next, core

#5735 Docs: Api reference update
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/package.json
  packages/core/docs/shopify/api-client.md
  packages/core/docs/typedoc-vsf-theme/removeFiles.js
  packages/core/docs/typedoc-vsf-theme/removeText.js
Labels: Next, docs

#5820 fix: toggling category grid and list view
  packages/core/core/__tests__/composables/useUiState.spec.ts
  packages/core/docs/changelog/5691.js
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Labels: Next, core, docs

#5801 Small docs improvements
  packages/core/docs/general/installation.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/cli.jpg
  packages/core/docs/images/cli.png
Labels: Next, docs

#5828 fix: added missing class for text button
  packages/core/docs/changelog/5827.js
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Labels: Next, core, docs

#5813 fix: theme/index error fixed
  CHANGELOG.md
  core/scripts/generate-files.ts
  tsconfig.json
Labels: VSF1

#5802 feat: add _key to enhanceProduct
  packages/commercetools/composables/__tests__/helpers/__snapshots__/enhanceProduct.spec.ts.snap
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/docs/changelog/5829.js
Labels: Next, commercetools, docs

#5833 update PR checklist for vsf1
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Next, VSF1, ci

#5831 ci: exclude changelog from docs label
  .github/labeler.yml
Labels: Next, ci

#5838 Sync next with release/next
  packages/core/docs/.vuepress/config.js
  packages/core/docs/changelog/5744.js
  packages/core/docs/commercetools/composables/use-billing.md
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-make-order.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-shipping-provider.md
  packages/core/docs/commercetools/composables/use-shipping.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/contributing/themes.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/general/installation.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/cli.jpg
  packages/core/docs/images/cli.png
  packages/core/docs/integrations/README.md
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/api-client.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
  packages/core/docs/shopify/use-product.md
  packages/core/docs/shopify/use-search.md
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Labels: Next, core, docs

#5567 Prettified code blocks & added language extensions
  docs/guide/installation/theme.md
Labels: VSF1

#5837 ESLint config: fix duplicate key & wrong prop/value
  .eslintrc.js
Labels: VSF1

#5836 Reduce payload size for cart methods
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/docs/commercetools/changelog/5836.js
Labels: Next, commercetools, docs

#5832 Add migration guide for 2.3.0-rc.3 and 2.3.0
  packages/core/docs/.vuepress/config.js
  packages/core/docs/migrate/2.3.0-rc.2/commercetools.md
  packages/core/docs/migrate/2.3.0-rc.2/integrators.md
  packages/core/docs/migrate/2.3.0-rc.2/overview.md
  packages/core/docs/migrate/2.3.0-rc.3/commercetools.md
  packages/core/docs/migrate/2.3.0-rc.3/integrators.md
  packages/core/docs/migrate/2.3.0-rc.3/overview.md
  packages/core/docs/migrate/2.3.0/commercetools.md
  packages/core/docs/migrate/2.3.0/integrators.md
  packages/core/docs/migrate/2.3.0/overview.md
  packages/core/docs/migrate/index.md
Labels: Next, docs

#5848 Feat #5847/search products by ids
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/core/docs/changelog/5847.js
  packages/core/docs/commercetools/composables/use-product.md
Labels: Next, commercetools, docs

#5842 Release 2.3.0
  package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5437.js
  packages/core/docs/changelog/5691.js
  packages/core/docs/changelog/5709.js
  packages/core/docs/changelog/5725.js
  packages/core/docs/changelog/5744.js
  packages/core/docs/changelog/5746.js
  packages/core/docs/changelog/5774.js
  packages/core/docs/changelog/5827.js
  packages/core/docs/changelog/5829.js
  packages/core/docs/changelog/5847.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5774.js
  packages/core/docs/commercetools/changelog/5836.js
  packages/core/docs/contributing/changelog.md
  packages/core/docs/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: Next, boilerplate, commercetools, core, docs

#5840 Fix/core tests coverage
  packages/core/cache/__tests__/useCache.spec.ts
  packages/core/cli/__tests__/commands/generate-template.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/createTemplate.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/processMagicCommentsInNuxtConfig.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/processTemplate.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/__tests__/utils/themeUtilsConfigTemplate.spec.ts
  packages/core/cli/src/commands/generate-template.ts
  packages/core/cli/src/commands/init.ts
  packages/core/cli/src/scripts/createTemplate/createTemplate.ts
  packages/core/cli/src/scripts/createTemplate/processMagicCommentsInNuxtConfig.ts
  packages/core/cli/src/scripts/createTemplate/processTemplate.ts
  packages/core/cli/src/scripts/initStrategy/customTemplateStrategy.ts
  packages/core/core/__tests__/factories/useMakeOrderFactory.spec.ts
  packages/core/core/__tests__/factories/useShippingProviderFactory.spec.ts
  packages/core/core/__tests__/utils/context.spec.ts
Labels: Next, core

#5854 Add args parameter to custom queries
  packages/commercetools/api-client/src/index.server.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5854.js
  packages/core/docs/commercetools/changelog/5854.js
  packages/core/docs/guide/composables.md
Labels: Next, commercetools, core, docs

#5861 Sync with release branch
  packages/commercetools/api-client/src/index.server.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5854.js
  packages/core/docs/commercetools/changelog/5854.js
  packages/core/docs/guide/composables.md
Labels: Next, commercetools, core, docs
