Repository vuestorefront/vue-storefront, pull requests merged in 2021-03, with the labels that each got.

#5594 Bug/naming convention for isOnWishlist and IsOnCart
  packages/boilerplate/composables/src/useCart/index.ts
  packages/boilerplate/composables/src/useWishlist/index.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5592.js
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-wishlist.md
  packages/core/docs/core/use-cart.md
  packages/core/docs/core/use-wishlist.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-product.md
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: Next, backlog, bug

#5596 Fix error in SearchResults.vue and update Boilerplate build command
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup-main.config.js
  packages/boilerplate/api-client/rollup.config.js
  packages/core/docs/changelog/5566.js
  packages/core/nuxt-module/lib/plugins/composition-api.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  yarn.lock
Labels: Next

#5593 fix: body scroll lock
  packages/core/docs/changelog/5514.js
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#5571 fix: purgeLoader with dynamic config reload for 1.11.5
  CHANGELOG.md
  core/build/purge-config.js
  core/build/purge-config/purgeConfig.ts
  core/build/purge-config/purgeConfigLoader.ts
  core/build/webpack.base.config.ts
  core/server-entry.ts
Labels: VSF1

#5600 Update useFacet docs
  packages/core/docs/commercetools/use-facet.md
Labels: Next, docs

#5598 Shipping provider sync fix
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/useShippingProvider/index.ts
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/commercetools/theme/components/Checkout/VsfPaymentProviderMock.vue
  packages/commercetools/theme/components/Checkout/VsfShippingProvider.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/core/src/factories/useShippingProviderFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5598.js
Labels: Next

#5573 Docs: CMS render content update
  packages/core/docs/integrate/cms.md
Labels: docs

#5409 Next: Move dependencies from ct/bp to nuxt-theme-module
  packages/commercetools/theme/package.json
  packages/core/docs/changelog/5404.js
  packages/core/nuxt-theme-module/package.json
Labels: Next

#5630 Make "ejs" a production dependency
  packages/core/docs/changelog/5630.js
  packages/core/nuxt-theme-module/package.json
Labels: Next

#5544 Removed VueObserveVisibility from core
  CHANGELOG.md
  core/app.ts
  core/package.json
  package.json
  yarn.lock
Labels: VSF1

#5612 Add support for async hooks & unit tests
  CHANGELOG.md
  core/hooks.ts
  core/lib/hooks.ts
  core/lib/multistore/index.ts
  core/lib/test/unit/hooks.spec.ts
  core/modules/cart/hooks/index.ts
  core/modules/cart/store/actions/itemActions.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/store/actions/synchronizeActions.ts
  core/modules/catalog/hooks/index.ts
  core/modules/catalog/store/tax/actions.ts
  core/modules/order/hooks.ts
  core/modules/order/store/actions.ts
  core/modules/user/hooks.ts
  docs/guide/cookbook/module.md
  yarn.lock
Labels: VSF1

#5637 fix middleware config
  packages/commercetools/theme/middleware.config.js
Labels: Next

#5649 Docs Next: Changelog update
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5656 #5613 - fix correct register flow
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
Labels: Next, commercetools

#5542 Updated VSF1 insfrastructure's schema
  CHANGELOG.md
  docs/.vuepress/public/GitHub-Architecture-VS.png
  docs/guide/general/introduction.md
Labels: VSF1

#5654 Errors handling fix
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
  packages/core/core/src/factories/useBillingFactory.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/factories/useMakeOrderFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useShippingFactory.ts
  packages/core/core/src/factories/useShippingProviderFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5654.js
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-user.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/guide/composables.md
Labels: Next

#5663 Merge "release-2-2" into "next"
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  yarn.lock
Labels: Next

#5625 Middleware docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/calling-platform-api.md
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/composables.md
  packages/core/docs/images/middleware-diagram.jpg
  packages/core/docs/images/middleware-extensions.jpg
  yarn.lock
Labels: Next

#5646 Docs: Checkout
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables/use-billing.md
  packages/core/docs/commercetools/composables/use-make-order.md
  packages/core/docs/commercetools/composables/use-shipping-provider.md
  packages/core/docs/commercetools/composables/use-shipping.md
  packages/core/docs/commercetools/feature-list.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/guide/checkout.md
  packages/core/docs/guide/composables.md
  packages/core/docs/integrate/integration-guide.md
Labels: Next

#5661 Add Bazaarvoice docs
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/bazaarvoice.md
Labels: Next, docs

#5672 Next: Mega menu in app header
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/theme/static/megamenu/bannerA.webp
  packages/boilerplate/theme/static/megamenu/bannerB.webp
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/static/megamenu/bannerA.webp
  packages/commercetools/theme/static/megamenu/bannerB.webp
  packages/core/docs/changelog/5267.js
  packages/core/nuxt-theme-module/theme/components/Header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/Header/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/Header/NewCatBanners.vue
  packages/core/nuxt-theme-module/theme/components/Header/TopBar.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#5640 Docs: Ct update to 2.3.0 rc.1
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/package.json
  packages/core/docs/typedoc-vsf-theme/helpers/helpers.js
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
  yarn.lock
Labels: Next, docs

#5468 Docs next: guide > cart and wishlist
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/cart-and-wishlist.md
Labels: Next

#5678 Mark BV and Redis integrations as "From Core Team"
  packages/core/docs/integrations/README.md
Labels: Next, docs

#5669 feat: remove helpers/filters from nuxt-theme and commercetools
  packages/commercetools/theme/helpers/filters/getFiltersForUrl.js
  packages/commercetools/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/docs/changelog/5620.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersForUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/index.js
Labels: Next, commercetools

#5689 Fix migration guide
  packages/core/docs/migrate/2.3.0-rc.1/commercetools.md
  packages/core/docs/migrate/2.3.0-rc.1/integrators.md
  packages/core/docs/migrate/2.3.0-rc.1/overview.md
Labels: Next, docs

#5682 fix: mobile view and checkout
  packages/core/docs/changelog/5514_1.js
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#5708 Fix product attribute mapping
  packages/commercetools/composables/src/getters/_utils.ts
  packages/core/docs/changelog/5708.js
Labels: Next, bug, commercetools

#5710 [WIP] Docs polishments
  packages/core/docs/general/enterprise.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/checkout.md
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/configuration.md
  packages/core/docs/guide/theme.md
  packages/core/docs/guide/user-profile.md
Labels: Next

#5681 doc: correct ct config docs
  packages/core/docs/commercetools/configuration.md
Labels: Next

#5716 Fix CT wishlist throwing CAPI error
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/docs/changelog/5716.js
Labels: Next, commercetools

#5696 fix: bugs in cart and wishlist docs
  packages/core/docs/guide/cart-and-wishlist.md
Labels: Next

#5714 Add extendApp for middleware extensions, add reloading functionality for cart
  packages/core/core/src/types.ts
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/changelog/5714.js
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/integrations.ts
  yarn.lock
Labels: Next
