Repository vuestorefront/vue-storefront, pull requests merged in 2021-10, with the labels that each got.

#6406 fix(ct): add a copy of the whole product obj in enhanceProduct
  packages/commercetools/composables/__tests__/helpers/__snapshots__/enhanceProduct.spec.ts.snap
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/docs/commercetools/changelog/6405.js
Labels: docs, Next, commercetools

#6407 fix(ct): add a copy of the whole product obj in enhanceProduct
  packages/commercetools/composables/__tests__/helpers/__snapshots__/enhanceProduct.spec.ts.snap
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/docs/commercetools/changelog/6405.js
Labels: docs, Next, commercetools

#6403 fix(commercetools): fix password reset and improve server api
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/commercetools/changelog/6403_1.js
  packages/core/docs/commercetools/changelog/6403_2.js
  packages/core/docs/commercetools/migrate/1.3.3/index.md
  packages/core/docs/commercetools/migrate/index.md
Labels: docs, Next, commercetools

#6402 [Docs] Add migration guide for 1.3.2 release
  packages/core/docs/commercetools/migrate/1.3.0/index.md
  packages/core/docs/commercetools/migrate/1.3.2/customer_scopes.jpg
  packages/core/docs/commercetools/migrate/1.3.2/index.md
  packages/core/docs/commercetools/migrate/1.3.2/server_scopes.jpg
  packages/core/docs/commercetools/migrate/index.md
Labels: docs, Next

#6411 chore(commercetools): fix password reset and improve server api
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/commercetools/migrate/1.3.3/index.md
  packages/core/docs/commercetools/migrate/index.md
Labels: docs, Next, commercetools

#6329 refactor(commercetools)!: refactor token handling in commercetools
  .github/labeler.yml
  packages/commercetools/api-client/__tests__/api/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/api/isGuest.spec.ts
  packages/commercetools/api-client/__tests__/api/isLoggedIn.spec.ts
  packages/commercetools/api-client/__tests__/api/setShippingMethod.spec.ts
  packages/commercetools/api-client/__tests__/helpers/actions/updateShippingDetails.spec.ts
  packages/commercetools/api-client/__tests__/links/authLinks.spec.ts
  packages/commercetools/api-client/src/api/accessToken/index.ts
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/customerSignOut/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/api/isGuest/index.ts
  packages/commercetools/api-client/src/api/isLoggedIn/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
  packages/commercetools/api-client/src/extensions/emailExtension.ts
  packages/commercetools/api-client/src/extensions/index.ts
  packages/commercetools/api-client/src/extensions/internationalizationExtension.ts
  packages/commercetools/api-client/src/extensions/tokenExtension.ts
  packages/commercetools/api-client/src/helpers/actions/cart.ts
  packages/commercetools/api-client/src/helpers/actions/customer.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/graphqlError.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/links/authLinks.ts
  packages/commercetools/api-client/src/links/createLinks.ts
  packages/commercetools/api-client/src/links/index.ts
  packages/commercetools/api-client/src/links/restrictedOperations.ts
  packages/commercetools/api-client/src/links/sdkHelpers.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/nuxt/accessToken.js
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/middleware/is-authenticated.js
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/core/tsconfig.json
  packages/core/docs/changelog/6329.js
  packages/core/docs/commercetools/changelog/6329.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  yarn.lock
Labels: docs, Next, commercetools, ci, core

#6413 Release 2.4.3
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5684.js
  packages/core/docs/changelog/5787.js
  packages/core/docs/changelog/5871.js
  packages/core/docs/changelog/5891.js
  packages/core/docs/changelog/6082.js
  packages/core/docs/changelog/6099.js
  packages/core/docs/changelog/6226.js
  packages/core/docs/changelog/6240.js
  packages/core/docs/changelog/6246.js
  packages/core/docs/changelog/6287.js
  packages/core/docs/changelog/6296.js
  packages/core/docs/changelog/6304.js
  packages/core/docs/changelog/6355.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5684.js
  packages/core/docs/commercetools/changelog/5983.js
  packages/core/docs/commercetools/changelog/6032.js
  packages/core/docs/commercetools/changelog/6104.js
  packages/core/docs/commercetools/changelog/6181.js
  packages/core/docs/commercetools/changelog/6231.js
  packages/core/docs/commercetools/changelog/6240.js
  packages/core/docs/commercetools/changelog/6282.js
  packages/core/docs/commercetools/changelog/6296.js
  packages/core/docs/commercetools/changelog/6304.js
  packages/core/docs/commercetools/changelog/6306.js
  packages/core/docs/commercetools/changelog/6307.js
  packages/core/docs/commercetools/changelog/6309.js
  packages/core/docs/commercetools/changelog/6311.js
  packages/core/docs/commercetools/changelog/6347.js
  packages/core/docs/commercetools/changelog/6354.js
  packages/core/docs/commercetools/changelog/6403_1.js
  packages/core/docs/commercetools/changelog/6403_2.js
  packages/core/docs/commercetools/changelog/6405.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6415 chore(docs): sync docs with the `develop` branch
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/advanced/logging.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/commercetools/migrate/1.3.0/index.md
  packages/core/docs/commercetools/migrate/1.3.2/customer_scopes.jpg
  packages/core/docs/commercetools/migrate/1.3.2/index.md
  packages/core/docs/commercetools/migrate/1.3.2/server_scopes.jpg
  packages/core/docs/commercetools/migrate/index.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/scripts/changelog.js
Labels: docs, Next

#6370 fix(os-179): added badge for cart on mobiles
  packages/core/docs/core/changelog/6370.js
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
Labels: docs, Next, core

#6418 fix(os-179): added badge for cart on mobiles
  packages/core/docs/core/changelog/6370.js
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
Labels: docs, Next, core

#6417 chore(docs): sync docs after release
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/migrate/1.3.3/index.md
  packages/core/docs/commercetools/migrate/index.md
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/integrate/checklist.md
  packages/core/docs/integrate/good-practices.md
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/composables.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
  packages/core/docs/shopify/use-content.md
  packages/core/docs/shopify/use-product.md
  packages/core/docs/shopify/use-search.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/docs/shopify/use-user.md
Labels: docs, Next

#6424 chore(docs): update Shopify link
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6422 chore(docs): update Shopify link
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6428 Generate OpenGraph image for docs during the build
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/plugins/meta/index.js
  packages/core/docs/.vuepress/plugins/meta/logo-horizontal.png
  packages/core/docs/.vuepress/plugins/meta/logo-vertical.png
  packages/core/docs/.vuepress/plugins/meta/logo.png
  packages/core/docs/.vuepress/plugins/meta/template.html
  packages/core/docs/package.json
  yarn.lock
Labels: docs, Next
