Repository vuestorefront/vue-storefront, pull requests merged in 2021-01, with the labels that each got.

#5364 Safari special price fix
  CHANGELOG.md
  core/modules/catalog/helpers/taxCalc.ts
Labels: VSF1

#5307 Designs part2 - homepage
  packages/boilerplate/theme/static/homepage/google.png
  packages/boilerplate/theme/static/homepage/imageA.webp
  packages/boilerplate/theme/static/homepage/imageAd.webp
  packages/boilerplate/theme/static/homepage/imageAm.webp
  packages/boilerplate/theme/static/homepage/imageB.webp
  packages/boilerplate/theme/static/homepage/imageBd.webp
  packages/boilerplate/theme/static/homepage/imageBm.webp
  packages/boilerplate/theme/static/homepage/imageC.webp
  packages/boilerplate/theme/static/homepage/imageCd.webp
  packages/boilerplate/theme/static/homepage/imageCm.webp
  packages/boilerplate/theme/static/homepage/imageD.webp
  packages/boilerplate/theme/static/homepage/imageDd.webp
  packages/boilerplate/theme/static/homepage/imageDm.webp
  packages/commercetools/theme/static/homepage/google.png
  packages/commercetools/theme/static/homepage/imageA.webp
  packages/commercetools/theme/static/homepage/imageAd.webp
  packages/commercetools/theme/static/homepage/imageAm.webp
  packages/commercetools/theme/static/homepage/imageB.webp
  packages/commercetools/theme/static/homepage/imageBd.webp
  packages/commercetools/theme/static/homepage/imageBm.webp
  packages/commercetools/theme/static/homepage/imageC.webp
  packages/commercetools/theme/static/homepage/imageCd.webp
  packages/commercetools/theme/static/homepage/imageCm.webp
  packages/commercetools/theme/static/homepage/imageD.webp
  packages/commercetools/theme/static/homepage/imageDd.webp
  packages/commercetools/theme/static/homepage/imageDm.webp
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Labels: Next

#5283 Next: Mega menu in app header
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/theme/static/megamenu/bannerA.webp
  packages/boilerplate/theme/static/megamenu/bannerB.webp
  packages/commercetools/api-client/src/api/getCategory/defaultQuery.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/theme/components/header/HeaderNav.vue
  packages/commercetools/theme/queries/topCategories.ts
  packages/commercetools/theme/static/megamenu/bannerA.webp
  packages/commercetools/theme/static/megamenu/bannerB.webp
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/components/header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/header/NewCatBanners.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#5359 Changing mail and password dev
  CHANGELOG.md
  core/data-resolver/UserService.ts
  core/modules/user/components/UserAccount.ts
  core/modules/user/components/UserShippingDetails.ts
  core/modules/user/store/actions.ts
  core/pages/MyAccount.js
  docs/guide/upgrade-notes/README.md
Labels: VSF1

#5375 Fix adding to cart
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: Next

#5360 Theme docs + minor polishments
  packages/commercetools/theme/package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/commercetools/README.md
  packages/core/docs/commercetools/feature-list.md
  packages/core/docs/composables/use-content.md
  packages/core/docs/general/getting-started.md
  packages/core/docs/general/i18n.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/internationalization.md
  packages/core/docs/guide/theme.md
Labels: Next

#5346 Error handling
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useCategoryFactory.spec.ts
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/core/__tests__/factories/useFacetFactory.spec.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/changelog.md
  packages/core/docs/general/error-handling.md
Labels: Next

#5372 Support for trailing slash
  CHANGELOG.md
  core/lib/types.ts
  core/modules/url/helpers/index.ts
  core/modules/url/router/beforeEach.ts
  core/modules/url/test/unit/helpers/preProcessDynamicRoutes.spec.ts
  core/modules/url/test/unit/helpers/processDynamicRoute.spec.ts
Labels: VSF1

#5386 Fix select country on checkout
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/commercetools/changelog.md
Labels: Next

#5380 Next: Add id to loggers in core factories
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/docs/contributing/changelog.md
Labels: Next

#5389 Update composables in boilerplate
  packages/boilerplate/composables/src/useCart/index.ts
  packages/boilerplate/composables/src/useCategory/index.ts
  packages/boilerplate/composables/src/useFacet/index.ts
  packages/boilerplate/composables/src/useProduct/index.ts
  packages/boilerplate/composables/src/useUserOrders/index.ts
  packages/core/docs/contributing/changelog.md
Labels: Next

#5400 Docs configuration
  packages/core/docs/.vuepress/components/CommerceIntegrationLinks.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/styles/index.styl
  packages/core/docs/advanced/internationalization.md
  packages/core/docs/advanced/logging.md
  packages/core/docs/guide/configuration.md
  packages/core/docs/guide/theme.md
Labels: Next

#5394 Add Migration guide for 2.2.0
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables.md
  packages/core/docs/integrate/api-middleware.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/migrate/2.2.0.md
  packages/core/docs/migrate/index.md
  packages/core/docs/migrate/integrators-2.2.0.md
  packages/core/docs/migrate/projects-2.2.0.md
  packages/core/docs/migrate/rc1.md
Labels: Next, commercetools

#5408 Release 2.2.1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: Next

#5274 feat: script to create changelog
  .github/pull_request_template.md
  package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/scripts/changelog.js
Labels: Next

#5302 feat: updated PR template for next changelog
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Next, blocked

#5382 Next: useUiNotification
  packages/core/docs/changelog/5363.js
  packages/core/docs/general/error-handling.md
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/Notification.vue
  packages/core/nuxt-theme-module/theme/composables/index.ts
  packages/core/nuxt-theme-module/theme/composables/useUiNotification/index.ts
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Labels: Next

#5361 Api Middleware
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/boilerplate/api-client/src/index.ts
  packages/commercetools/api-client/.gitignore
  packages/commercetools/api-client/__tests__/helpers/setup.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup-client.config.js
  packages/commercetools/api-client/rollup-main.config.js
  packages/commercetools/api-client/rollup-server.config.js
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/isGuest/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/helpers/apiClient/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/helpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/api-client/src/index.client.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/cli/__tests__/scripts/generateTemplates/index.spec.ts
  packages/core/cli/src/scripts/generateTemplates/index.ts
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/apiProxyFactory.spec.ts
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/__tests__/utils/context.spec.ts
  packages/core/core/__tests__/utils/nuxt/nuxtContentFactory.spec.ts
  packages/core/core/package.json
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/factories/apiFactory/_proxyUtils.ts
  packages/core/core/src/factories/apiFactory/_utils.ts
  packages/core/core/src/factories/apiFactory/apiClientFactory.ts
  packages/core/core/src/factories/apiFactory/apiProxyFactory.ts
  packages/core/core/src/factories/apiFactory/index.ts
  packages/core/core/src/factories/apiFactory/types.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
  packages/core/docs/changelog/5361.js
  packages/core/docs/commercetools/changelog/5361.js
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/migrate/integrators-rc1.md
  packages/core/middleware/middleware.js
  packages/core/middleware/nuxt/index.js
  packages/core/middleware/package.json
  yarn.lock
Labels: Next

#5441 Add a Composition API document to Composables section
  packages/core/docs/composables/composition-api.md
Labels: Next, docs

#5440 feat: Unit tests for core filters
  CHANGELOG.md
  core/filters/product-messages.ts
  core/filters/test/unit/capitalize.spec.ts
  core/filters/test/unit/date.spec.ts
  core/filters/test/unit/html-decode.spec.ts
  core/filters/test/unit/index.spec.ts
  core/filters/test/unit/price.spec.ts
  core/filters/test/unit/product-messages.spec.ts
  core/filters/test/unit/strip-html.spec.ts
Labels: VSF1

#5451 Update middleware feature
  packages/boilerplate/api-client/src/index.ts
  packages/boilerplate/composables/nuxt/plugin.js
  packages/boilerplate/composables/src/index.ts
  packages/commercetools/api-client/__tests__/helpers/setup.spec.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup-client.config.js
  packages/commercetools/api-client/src/index.client.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/apiProxyFactory.spec.ts
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/__tests__/utils/nuxt/createExtendContext.spec.ts
  packages/core/core/__tests__/utils/nuxt/createInjectInContext.spec.ts
  packages/core/core/__tests__/utils/nuxt/index.spec.ts
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/factories/apiFactory/_utils.ts
  packages/core/core/src/factories/apiFactory/apiProxyFactory.ts
  packages/core/core/src/factories/apiFactory/index.ts
  packages/core/core/src/factories/apiFactory/types.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/core/src/utils/nuxt/context.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
Labels: Next
