Repository vuestorefront/vue-storefront, pull requests merged in 2021-08, with the labels that each got.

#6138 adjustment CT API Ref to Core API Ref
  .github/workflows/deploy-docs.yml
  package.json
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/src/index.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/Dockerfile
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/core/api-reference/core.md
  packages/core/docs/core/api-reference/core.useuser.changepassword.md
  packages/core/docs/core/api-reference/core.useuser.md
  packages/core/docs/core/api-reference/core.vsf_country_cookie.md
  packages/core/docs/core/api-reference/core.vsf_currency_cookie.md
  packages/core/docs/core/api-reference/core.vsf_locale_cookie.md
  packages/core/docs/package.json
  packages/core/docs/scripts/generateCtApiRef.js
  packages/core/docs/typedoc-vsf-theme/helpers/helpers.js
  packages/core/docs/typedoc-vsf-theme/partials/main.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.declaration.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.signature.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.group.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
  packages/core/docs/typedoc-vsf-theme/removeFiles.js
  packages/core/docs/typedoc-vsf-theme/removeText.js
  packages/core/docs/typedoc-vsf-theme/templates/index.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.member.hbs
  packages/core/docs/typedoc-vsf-theme/theme.js
  packages/core/docs/typedoc.json
  yarn.lock
Labels: Next, ci, commercetools, docs

#6133 Fix #6132/orders total
  packages/boilerplate/composables/src/getters/orderGetters.ts
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/commercetools/composables/src/getters/orderGetters.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/6132.js
  packages/core/docs/commercetools/changelog/6132.js
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next, boilerplate, commercetools, core, docs

#6148 Add support section
  packages/core/docs/.vuepress/config.js
  packages/core/docs/general/support.md
Labels: Next, docs

#6146 Update: Shopify DOC
  packages/core/docs/.vuepress/config.js
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
Labels: Next, docs, shopify

#6157 Updated Shopify DOC
  packages/core/docs/.vuepress/config.js
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
Labels: Next, docs, shopify

#6143 chore: removed beta tag from Shopify
  packages/core/cli/src/utils/getIntegrations.ts
  packages/core/docs/changelog/6143.js
Labels: Next, core

#6063 [EN-365]: Constant 500 error on middleware even if integration api returns different one
  package.json
  packages/core/middleware/__tests__/helpers/getAgnosticStatusCode.spec.ts
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/helpers/getAgnosticStatusCode.ts
Labels: Next, core

#5986 #5982 fix/my account page not loading content pages list
  packages/core/docs/changelog/5982.js
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Labels: Next, backlog, bug, core

#6066 refactor(commercetools): fix the frontend client bundling the commercetools-sdk and apollo client
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup.config.js
  packages/boilerplate/api-client/tsconfig.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/rollup.base.config.js
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup.config.js
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/graphqlError.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/rollup.config.js
  packages/commercetools/composables/tsconfig.json
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/themeConfig.js
  packages/core/docs/commercetools/changelog/6066.js
  packages/rollup.base.config.js
  yarn.lock
Labels: Next, boilerplate, commercetools, docs

#6126 refactor: updated the applyCoupon interface to match the removeCoupon
  packages/boilerplate/composables/src/useCart/index.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/6126.js
  packages/core/docs/commercetools/changelog/6126.js
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
  packages/core/docs/migrate/2.4.0/projects.md
Labels: Next, boilerplate, commercetools, core, docs

#6154 Algolia docs link and typo fix
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6167 En 392 inventory mode for orders
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/fragments/cart.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/docs/commercetools/configuration.md
Labels: docs, Next, commercetools

#6166 Sync next
  .github/workflows/deploy-docs.yml
  package.json
  packages/api-extractor.base.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/api-extractor.json
  packages/core/core/package.json
  packages/core/core/rollup.config.js
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/components/PersonTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/maintainers.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/api-reference/index.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/general/installation.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/getters.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/ct-states-checkout.png
  packages/core/docs/images/ct-states-myaccount.png
  packages/core/docs/images/ct-taxes.png
  packages/core/docs/images/general/vs-code-vetur-install.gif
  packages/core/docs/images/general/vs-code-vetur.gif
  packages/core/docs/images/general/vue-js-devtools-install.gif
  packages/core/docs/images/general/vue-js-devtools.gif
  packages/core/docs/images/theme/vue-devtools.jpg
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/package.json
  packages/core/docs/shopify/maintainers.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-module/lib/plugins/e2e-testing.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/ssr.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, Next, commercetools, ci, core, boilerplate

#6169 Add generated api references to .gitignore
  packages/core/docs/.gitignore
Labels: Next

#6116 Chore: Update project description
  packages/commercetools/theme/README.md
  packages/commercetools/theme/package.json
Labels: Next, commercetools

#6071 Refactor: Switch places between state and country inputs in shipping form
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/changelog/6071.js
Labels: Next, commercetools

#6172 fix: MyAccount page rendering
  packages/core/docs/changelog/6171.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Labels: Next, core

#6127 fix(ct/core): update locale links
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/changelog/5886.js
  packages/core/docs/commercetools/changelog/5886.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Billing.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Labels: docs, Next, commercetools, core

#6173 Revert "Sync next"
  .github/workflows/deploy-docs.yml
  package.json
  packages/api-extractor.base.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/api-extractor.json
  packages/core/core/package.json
  packages/core/core/rollup.config.js
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/components/PersonTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/maintainers.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/api-reference/index.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/general/installation.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/guide/getters.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/ct-states-checkout.png
  packages/core/docs/images/ct-states-myaccount.png
  packages/core/docs/images/ct-taxes.png
  packages/core/docs/images/general/vs-code-vetur-install.gif
  packages/core/docs/images/general/vs-code-vetur.gif
  packages/core/docs/images/general/vue-js-devtools-install.gif
  packages/core/docs/images/general/vue-js-devtools.gif
  packages/core/docs/images/theme/vue-devtools.jpg
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/package.json
  packages/core/docs/shopify/maintainers.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-module/lib/plugins/e2e-testing.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/ssr.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, Next, commercetools, ci, core, boilerplate

#6161 feat(commercetools): add lineitem channels
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/getInventory/defaultQuery.ts
  packages/commercetools/api-client/src/api/getInventory/index.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/fragments/inventory-entries-query-result.ts
  packages/commercetools/api-client/src/fragments/inventory.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/pages/Product.vue
  packages/core/docs/commercetools/changelog/6161.js
Labels: docs, Next, commercetools

#6184 fix: add missing mobile menu to ct
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/docs/commercetools/changelog/6184.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Labels: docs, Next, commercetools, core

#6179 Release 2.4.0
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5744.js
  packages/core/docs/changelog/5756.js
  packages/core/docs/changelog/5883.js
  packages/core/docs/changelog/5886.js
  packages/core/docs/changelog/5924.js
  packages/core/docs/changelog/5945.js
  packages/core/docs/changelog/5968.js
  packages/core/docs/changelog/5982.js
  packages/core/docs/changelog/6015.js
  packages/core/docs/changelog/6035.js
  packages/core/docs/changelog/6061.js
  packages/core/docs/changelog/6068.js
  packages/core/docs/changelog/6069.js
  packages/core/docs/changelog/6070.js
  packages/core/docs/changelog/6071.js
  packages/core/docs/changelog/6077.js
  packages/core/docs/changelog/6081.js
  packages/core/docs/changelog/6085.js
  packages/core/docs/changelog/6093.js
  packages/core/docs/changelog/6121.js
  packages/core/docs/changelog/6122.js
  packages/core/docs/changelog/6123.js
  packages/core/docs/changelog/6126.js
  packages/core/docs/changelog/6132.js
  packages/core/docs/changelog/6143.js
  packages/core/docs/changelog/6171.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5883.js
  packages/core/docs/commercetools/changelog/5886.js
  packages/core/docs/commercetools/changelog/5925.js
  packages/core/docs/commercetools/changelog/5945.js
  packages/core/docs/commercetools/changelog/5968.js
  packages/core/docs/commercetools/changelog/5994.js
  packages/core/docs/commercetools/changelog/6035.js
  packages/core/docs/commercetools/changelog/6050.js
  packages/core/docs/commercetools/changelog/6066.js
  packages/core/docs/commercetools/changelog/6070.js
  packages/core/docs/commercetools/changelog/6079.js
  packages/core/docs/commercetools/changelog/6081.js
  packages/core/docs/commercetools/changelog/6107.js
  packages/core/docs/commercetools/changelog/6112.js
  packages/core/docs/commercetools/changelog/6122.js
  packages/core/docs/commercetools/changelog/6126.js
  packages/core/docs/commercetools/changelog/6132.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6192 Fix api ref + missing typings
  .github/workflows/deploy-docs.yml
  packages/api-extractor.base.json
  packages/boilerplate/api-client/rollup.config.js
  packages/boilerplate/api-client/tsconfig.json
  packages/boilerplate/rollup.base.config.js
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/rollup.config.js
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/tsconfig.json
  packages/core/core/api-extractor.json
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/Dockerfile
  packages/core/docs/package.json
  packages/rollup.base.config.js
  yarn.lock
Labels: docs, Next, commercetools, ci, core, boilerplate

#6197 Use tilde (`~`) in VSF dependencies
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/docs/package.json
  yarn.lock
Labels: docs, Next, commercetools, core, boilerplate

#6199 Backport fixes from boilerplate repo
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/src/getters/cartGetters.ts
  packages/boilerplate/composables/src/getters/forgotPasswordGetters.ts
  packages/boilerplate/composables/src/getters/orderGetters.ts
Labels: Next, boilerplate

#6198 Fix `@vue-storefront/cache` package
  packages/core/cache/package.json
  packages/core/docs/changelog/6198.js
Labels: Next, core

#6201 [CLI] Use `isomorphic-git` instead of native GIT client
  packages/core/cli/__tests__/commands/init.spec.ts
  packages/core/cli/__tests__/scripts/createProject/index.spec.ts
  packages/core/cli/package.json
  packages/core/cli/src/scripts/createProject/index.ts
  yarn.lock
Labels: Next, core

#6203 Revert changes to Webpack configuration and Google font loading
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/changelog/6198.js
  packages/core/docs/changelog/6203.js
  packages/core/docs/commercetools/changelog/6203.js
Labels: docs, Next, commercetools, boilerplate

#6207 tests(e2e): update addToCart request body
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/core/docs/changelog/6205.js
Labels: Next, commercetools

#6210 Release 2.4.1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6198.js
  packages/core/docs/changelog/6203.js
  packages/core/docs/changelog/6205.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/6161.js
  packages/core/docs/commercetools/changelog/6184.js
  packages/core/docs/commercetools/changelog/6203.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, release, core, boilerplate

#6217 Update the docs after 2.4 release
  packages/core/docs/general/installation.md
  packages/core/docs/integrate/integration-guide.md
Labels: docs, Next

#6130 chore: repository standardization
  .editorconfig
  .github/ISSUE_TEMPLATE/1.bug-report.yml
  .github/ISSUE_TEMPLATE/2.documentation-issue.yml
  .github/ISSUE_TEMPLATE/3.feature-request.yml
  .github/ISSUE_TEMPLATE/4.question.yml
  .github/ISSUE_TEMPLATE/RFC.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/feature-improvement.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/PULL_REQUEST_TEMPLATE/stabilisation-fix.md
  .gitpod.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  commitlint.config.js
  package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/README.md
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/checklist.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/good-practices.md
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/composables.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
  packages/core/docs/shopify/use-content.md
  packages/core/docs/shopify/use-product.md
  packages/core/docs/shopify/use-search.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/docs/shopify/use-user.md
  yarn.lock
Labels: docs, Next, ci

#6223 [Docs] Remove outdated CLI preview image
  packages/core/docs/general/installation.md
  packages/core/docs/images/cli.jpg
Labels: docs, Next

#6221 chore(e2e): change build mode in e2e workflows
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
Labels: Next, ci

#6220 [Docs] Update Integrations page and optimize SVG logos
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/constructor-io.svg
  packages/core/docs/.vuepress/public/integrations-logos/opencart.svg
  packages/core/docs/.vuepress/public/integrations-logos/sap.svg
  packages/core/docs/.vuepress/public/integrations-logos/vendure.png
  packages/core/docs/.vuepress/public/integrations-logos/woocommerce.svg
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/integrations/bazaarvoice.md
  packages/core/docs/integrations/redis-cache.md
Labels: docs, Next

#6224 [Docs] Add Odoo to Integrations page
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/odoo.svg
Labels: Next

#6212 Add methods to api-reference (ct)
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/src/api-extractor-data.ts
Labels: Next, commercetools

#6230 [Docs] Update Vendure maintainers
  packages/core/docs/.vuepress/integrations.js
Labels: Next

#6225 test: Extend happy path e2e test for registered customer
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/pages/factory.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Labels: Next, commercetools, core

#6052 Redirect to 404 page when category does not exist
  packages/core/docs/changelog/5871.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next, core

#6233 fix(core): add debounce for updateCartQuantity
  packages/core/docs/changelog/6226.js
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: Next, core

#6235 Fix typings generation, update API references and CT Composables pages
  package.json
  packages/commercetools/api-client/src/api-extractor-data.ts
  packages/commercetools/composables/api-extractor.json
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/core/cache/api-extractor.json
  packages/core/cache/src/index.ts
  packages/core/cache/tsconfig.json
  packages/core/core/src/index.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/components/PersonTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables/use-billing.md
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/commercetools/composables/use-make-order.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-shipping-provider.md
  packages/core/docs/commercetools/composables/use-shipping.md
  packages/core/docs/commercetools/composables/use-store.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-user.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/package.json
  packages/core/middleware/api-extractor.json
  packages/core/middleware/package.json
  packages/core/middleware/src/index.ts
Labels: docs, Next, commercetools, core

#6238 Fix docs build
  packages/core/docs/Dockerfile
Labels: docs, Next

#6222 #6211 e2e tests for my account
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/pages/MyAccount/MyProfile.vue
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-my-account.json
  packages/commercetools/theme/tests/e2e/integration/e2e-my-account.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-login.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-registration.spec.ts
  packages/commercetools/theme/tests/e2e/pages/factory.ts
  packages/commercetools/theme/tests/e2e/pages/home.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
  packages/commercetools/theme/tests/e2e/utils/network.ts
Labels: Next, commercetools

#6104 OS-134
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/docs/commercetools/changelog/6104.js
Labels: docs, Next, commercetools

#6082 fix: add subscribe to newsletter modal on home page
  packages/boilerplate/theme/lang/de.js
  packages/boilerplate/theme/lang/en.js
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/docs/changelog/6082.js
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Labels: Next, commercetools, core, boilerplate

#6170 [EN-394] Commercetools Theme - Incorrect address fields mapping
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Labels: Next, commercetools

#6244 [Docs] Update Integrations page
  packages/core/docs/.vuepress/integrations.js
Labels: Next

#6247 chore: adds the stale-bot
  .github/stale.yml
Labels: Next, ci
