Repository vuestorefront/vue-storefront, pull requests merged in 2021-06, with the labels that each got.

#5961 Fixed unit tests of CT Composables
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/__tests__/useBilling/useBilling.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useCategory/useCategory.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/__tests__/useShipping/useShipping.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUser/index.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
Labels: Next, commercetools

#5952 chore: phone number just required
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/helpers/validators/phone.ts
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/commercetools/changelog.md
  yarn.lock
Labels: Next, commercetools, docs

#5970 Change test data for happy path e2e tests
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
Labels: Next, commercetools

#5953 Fix currency internationalization
  packages/commercetools/api-client/__tests__/api/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/src/api/createCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getCart/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5953.js
  packages/core/docs/commercetools/changelog/5953.js
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-module/lib/plugins/e2e-testing.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/logger.js
  packages/core/nuxt-module/lib/plugins/ssr.js
Labels: Next, commercetools, core, docs

#5950 Allow overriding of the `createCart` query
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/docs/commercetools/changelog/5950.js
Labels: Next, commercetools, docs

#5939 [Bugfix] Make "register" params in "useUser" optional
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/docs/changelog/5939.js
Labels: Next, bug, core

#5964 docs-#5963: add custom query example to docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/guide/composables.md
Labels: Next, docs

#5977 Add Google and HubSpot Analytics to docs
  packages/core/docs/.vuepress/config.js
Labels: Next

#5962 FIX: Disappearing selected filters on PLP reload
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Labels: Next, bug, core

#5980 Docs #5963/custom query docs release next
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/guide/composables.md
Labels: Next, docs

#5883 useUser custom query support
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5883.js
  packages/core/docs/commercetools/changelog/5883.js
Labels: Next, commercetools, core, docs

#5921 E2e tests cart sidebar
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-remove-from-cart.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-update-cart.json
  packages/commercetools/theme/tests/e2e/integration/e2e-carts-merging.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-product-page.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-remove-from-cart.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-update-cart.spec.ts
  packages/commercetools/theme/tests/e2e/pages/components/cart-sidebar.ts
  packages/commercetools/theme/tests/e2e/utils/network.ts
Labels: Next, commercetools

#5992 feat: bloomreach logo update
  packages/core/docs/integrations/README.md
Labels: Next, docs

#6000 fix: OS-125 update cli #5999
  packages/core/cli/src/scripts/createProject/index.ts
  packages/core/cli/src/utils/getIntegrations.ts
Labels: Next, core

#5856 Update devDependencies in boilerplate theme
  packages/boilerplate/theme/package.json
Labels: Next, boilerplate

#6001 Update docs title
  packages/core/docs/.vuepress/config.js
Labels: Next

#5993 Update Adyen Doc
  packages/core/docs/integrations/adyen.md
Labels: Next, docs

#5973 Fix wrong prices after coupon in Cart/Checkout
  CHANGELOG.md
  core/modules/cart/helpers/getProductPrice.ts
  core/modules/cart/helpers/index.ts
  core/modules/cart/test/unit/helpers/getProductPrice.spec.ts
Labels: VSF1

#6005 Release 2.3.4
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/5939.js
  packages/core/docs/changelog/5943.js
  packages/core/docs/changelog/5953.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5950.js
  packages/core/docs/commercetools/changelog/5953.js
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: Next, boilerplate, commercetools, core, docs, release

#5938 Deployment for 2.3.4
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/__tests__/api/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/createCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getCart/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5920.js
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/contributing/changelog.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-module/lib/plugins/e2e-testing.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/logger.js
  packages/core/nuxt-module/lib/plugins/ssr.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Labels: Next, boilerplate, commercetools, core, docs

#5925 Remove SSR from personalized elements
  packages/core/docs/commercetools/changelog/5925.js
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
Labels: Next, core, docs

#6002 fix: update url with properly child sku
  CHANGELOG.md
  core/modules/catalog/events.ts
Labels: VSF1

#6007 Release for CLI 2.3.12
  packages/core/cli/package.json
Labels: Next, core

#5901 Platofrm api access
  packages/core/core/__tests__/utils/context.spec.ts
  packages/core/core/__tests__/utils/factoryParams.spec.ts
  packages/core/core/src/factories/useBillingFactory.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/factories/useMakeOrderFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useShippingFactory.ts
  packages/core/core/src/factories/useShippingProviderFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/factoryParams/commonMethods.ts
  packages/core/core/src/utils/factoryParams/index.ts
  packages/core/core/src/utils/factoryParams/platformMethods.ts
  packages/core/core/src/utils/index.ts
  packages/core/docs/guide/composables.md
  packages/core/docs/integrate/integration-guide.md
Labels: Next, core, docs

#5918 Update Product Catalog guide
  packages/core/docs/guide/product-catalog.md
Labels: Next, docs

#6009 Add Server Middleware warnings
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/advanced/server-middleware.md
  packages/core/docs/integrate/integration-guide.md
Labels: Next, docs

#6015 useSearch implementation
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useSearchFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/6015.js
Labels: Next, core

#6012 fix: #5565/empty payload clear current user
  CHANGELOG.md
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
Labels: VSF1

#6011 fix: set correct type for productPageVisited hook param
  CHANGELOG.md
  core/modules/catalog-next/hooks.ts
Labels: VSF1

#6020 fix middleware config
  packages/commercetools/theme/middleware.config.js
Labels: Next, commercetools

#6021 Reading token fix
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
Labels: Next, commercetools

#5971 Feat #5968/forgot password
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useForgotPassword/index.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/__tests__/useForgotPassword/useForgotPassword.spec.ts
  packages/commercetools/composables/src/getters/forgotPasswordGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/commercetools/theme/middleware.config.js
  packages/core/core/__tests__/factories/useForgotPasswordFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/changelog/5968.js
  packages/core/docs/commercetools/changelog/5968.js
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/guide/authentication.md
  packages/core/nuxt-theme-module/routes.js
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/layouts/blank.vue
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Labels: Next, boilerplate, commercetools, core, docs

#6035 Remove generate command from CT and BP themes
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/docs/changelog/6035.js
  packages/core/docs/commercetools/changelog/6035.js
Labels: Next, boilerplate, commercetools, docs

#6034 Checkout - Clicking Add New Address button via JS
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/commercetools/changelog/5994.js
Labels: Next, commercetools, docs
