Repository vuestorefront/vue-storefront, pull requests merged in 2022-04, with the labels that each got.

#6697 docs: add "Inspecting network requests" document
  packages/core/docs/.vuepress/config.js
  packages/core/docs/images/httptoolkit.gif
  packages/core/docs/troubleshooting/inspecting-network-requests.md
Labels: docs, Next

#6698 fix: http cache doc
  packages/http-cache/README.md
Labels: Next

#6699 docs: update project-structure.md
  packages/core/docs/getting-started/project-structure.md
Labels: docs, Next

#6700 docs: remove Spryker from integrations list
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6688 refactor: fix middleware URL generation
  packages/core/cache/package.json
  packages/core/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/core/package.json
  packages/core/core/src/types.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/reference/changelog.md
  packages/core/docs/reference/migrate/2.5.12/overview.md
  packages/core/docs/reference/migrate/2.5.7/overview.md
  packages/core/docs/reference/migrate/index.md
  packages/core/docs/security/api-url.md
  packages/core/docs/security/headers-security.md
  packages/core/health-check/package.json
  packages/core/middleware/nuxt/index.js
  packages/core/middleware/package.json
  packages/core/middleware/src/createServer.ts
  packages/core/nuxt-module/package.json
  packages/core/nuxt-module/src/index.ts
  packages/core/nuxt-theme-module/package.json
  packages/http-cache/package.json
  yarn.lock
Labels: docs, Next, core

#6705 docs: add omitted commas in "Extending integrations" page
  packages/core/docs/integrate/extending-integrations.md
Labels: docs, Next

#6706 docs: update readme badge links
  README.md
Labels: Next
