Repository vuestorefront/vue-storefront, pull requests merged in 2022-12, with the labels that each got.

#6850 feat: allow overwriting i18n configuration through plugins
  packages/docs/changelog/6850.js
  packages/nuxt-module/plugins/i18n-cookies.js
Labels: docs, nuxt-module

#6860 docs: add http-cache doc
  packages/docs/.vuepress/config.js
  packages/docs/.vuepress/integrations.js
  packages/docs/performance/http-cache.md
  yarn.lock
Labels: docs

#6856 chore: synchronize main and develop
  packages/cache/package.json
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/package.json
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/src/utils/nuxt/index.ts
  packages/docs/.vuepress/config.js
  packages/docs/.vuepress/integrations.js
  packages/docs/performance/http-cache.md
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-module/plugins/i18n-cookies.js
  packages/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module

#6862 fix: use any type as configuration in ApiClientExtension
  packages/core/src/types.ts
  packages/docs/changelog/6862.js
Labels: docs, core

#6863 chore: release v2.7.4
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/6862.js
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module

#6864 chore: release v2.7.4
  packages/cache/package.json
  packages/core/package.json
  packages/core/src/types.ts
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module

#6866 docs: add deprecated to 2.7.3
  packages/docs/reference/changelog.md
Labels: docs

#6858 fix: improve safety of unknown errors
  packages/middleware/__tests__/unit/helpers/getAgnosticStatusCode.spec.ts
  packages/middleware/src/createServer.ts
  packages/middleware/src/helpers/getAgnosticStatusCode.ts
Labels: middleware

#6867 chore: sync main and develop
  packages/docs/reference/changelog.md
  packages/http-cache/package.json
Labels: docs

#6869 fix: passing x-forwarded-host in axios request
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/docs/changelog/6869.js
Labels: docs, core

#6871 chore: passing x-forwarded-host with fallback to host as host in axios
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/docs/changelog/6871.js
Labels: docs, core

#6872 chore: release 2.7.5
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/6871.js
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module

#6873 chore: sync develop with main
  packages/cache/package.json
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/package.json
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module
