Repository vuestorefront/vue-storefront, pull requests merged in 2022-01, with the labels that each got.

#6588 docs: fix `Edit this page` links
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/project-structure.md
Labels: docs, Next

#6587 docs: fix `Edit this page` links
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/project-structure.md
Labels: docs, Next

#6592 fix(os-203): fixed adding custom router.base property breaks api calls
  packages/boilerplate/theme/nuxt.config.js
  packages/core/core/src/utils/helpers/index.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/docs/changelog/6526.js
  packages/core/docs/getting-started/theme.md
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/components/RelatedProducts.vue
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/layouts/error.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Labels: docs, Next, core, boilerplate

#6595 refactor(nuxt-module): added `autoChangeCookie` option to nuxt config
  packages/core/docs/changelog/6595.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, core

#6581 refactor(nuxt-module): added `autoChangeCookie` option to nuxt config
  packages/core/docs/changelog/6581.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: docs, Next, core

#6597 Release 2.5.4
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6526.js
  packages/core/docs/changelog/6595.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, release, core, boilerplate

#6601 docs: fix broken links
  packages/core/docs/README.md
  packages/core/docs/general/installation.md
Labels: docs, Next

#6594 ci: remove deploy action
  .github/workflows/deploy-storefrontcloud.yml
Labels: Next, ci

#6115 [DOCS]: ProductsSearchParams TS definitions
  packages/commercetools/composables/src/types/index.ts
Labels: Next, commercetools

#6589 chore: sync main and develop branch
  .github/workflows/deploy-storefrontcloud.yml
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/changelog/6526.js
  packages/core/docs/changelog/6581.js
  packages/core/docs/community/sponsorship-program.md
  packages/core/docs/general/installation.md
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, ci, core, boilerplate

#6608 docs: update the `Theme` document
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/layouts-and-routing.md
  packages/core/docs/getting-started/theme.md
  packages/core/docs/images/storefront-ui.webp
  packages/core/docs/images/theme/storefront-ui.jpg
  packages/core/docs/integrate/integration-guide.md
Labels: docs, Next

#6609 docs: update the `Theme` document
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/layouts-and-routing.md
  packages/core/docs/getting-started/theme.md
  packages/core/docs/images/storefront-ui.webp
  packages/core/docs/images/theme/storefront-ui.jpg
  packages/core/docs/integrate/integration-guide.md
Labels: docs, Next

#6611 docs: update `Configuration` document
  packages/core/docs/.vuepress/config.js
  packages/core/docs/architecture/server-middleware.md
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/project-structure.md
  packages/core/docs/getting-started/theme.md
Labels: docs, Next

#6610 docs: update `Configuration` document
  packages/core/docs/.vuepress/config.js
  packages/core/docs/architecture/server-middleware.md
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/project-structure.md
  packages/core/docs/getting-started/theme.md
Labels: docs, Next

#6612 fix: ct place order error develop
  packages/commercetools/composables/src/useMakeOrder/index.ts
Labels: Next, commercetools

#6613 Release 1.4.4 (CT)
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Labels: Next, commercetools, release

#6616 chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Next
