Repository vuestorefront/vue-storefront, pull requests merged in 2022-07, with the labels that each got.

#6749 feat(vsfp-61): init function in the middleware
  packages/core/src/types.ts
  packages/docs/architecture/server-middleware.md
  packages/docs/changelog/6749.js
  packages/docs/integrate/integration-guide.md
  packages/middleware/nuxt/index.js
  packages/middleware/src/createServer.ts
  packages/middleware/src/integrations.ts
Labels: docs, middleware, core

#6777 chore: release 2.7.0
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/.gitkeep
  packages/docs/changelog/6749.js
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
Labels: docs, middleware, release, core, cache, health-check, nuxt-module, nuxt-theme-module

#6779 fix: update registerIntegrations function to accommodate async change for each iteration
  packages/docs/changelog/6779.js
  packages/middleware/src/integrations.ts
Labels: docs, middleware

#6752 feat: added flag allowing to change language without full page reload
  packages/docs/changelog/6752.js
  packages/docs/getting-started/internationalization.md
  packages/nuxt-module/plugins/i18n-cookies.js
Labels: docs, nuxt-module

#6780 chore: release 2.7.1
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/6752.js
  packages/docs/changelog/6779.js
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, middleware, release, core, cache, health-check, nuxt-module, nuxt-theme-module

#6782 docs: update link to commercetools docs
  packages/docs/.vuepress/integrations.js
Labels: docs

#6781 docs: add custom theme
  packages/docs/.vuepress/components/CommerceIntegrationLink.vue
  packages/docs/.vuepress/components/CommerceIntegrationLinks.vue
  packages/docs/.vuepress/components/IncludeContent.vue
  packages/docs/.vuepress/components/IntegrationList.vue
  packages/docs/.vuepress/components/IntegrationTile.vue
  packages/docs/.vuepress/components/PersonTile.vue
  packages/docs/.vuepress/components/Theme.vue
  packages/docs/.vuepress/config.js
  packages/docs/.vuepress/integrations.js
  packages/docs/.vuepress/public/integrations-logos/thumbnails/adobe-experience-manager.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/adyen.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/algolia.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/amplience.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/auth0.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/bazaarvoice.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/bigcommerce.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/bloomreach-content.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/bloomreach-discovery.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/checkout-com.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/commercetools.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/constructor-io.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/contentful.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/contentstack.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/elastic-path.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/lexascms.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/magento.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/mollie.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/odoo.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/opencart.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/paypal.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/prestashop.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/redis.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/salesforce-commerce-cloud.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/sanity.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/sap-commerce-cloud.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/scayle.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/shopify.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/shopware-pwa.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/spree.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/storyblok.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/swell.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/sylius.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/vendure.png
  packages/docs/.vuepress/public/integrations-logos/thumbnails/woocommerce.png
  packages/docs/.vuepress/styles/index.styl
  packages/docs/.vuepress/styles/palette.styl
  packages/docs/.vuepress/theme/index.js
  packages/docs/.vuepress/theme/layouts/Layout.vue
  packages/docs/README.md
  packages/docs/composition/extending-graphql-queries.md
  packages/docs/getting-started/introduction.md
  packages/docs/integrations/README.md
  packages/docs/package.json
  yarn.lock
Labels: docs

#6783 chore(core): remove massive middleware test helper file from bundle
  packages/middleware/tsconfig.json
Labels: middleware

#6788 chore: update CLI README
  packages/cli/README.md
Labels: cli

#6789 docs: remove magento beta status
  packages/docs/.vuepress/integrations.js
Labels: docs

#6790 fix: location of types for middleware package
  packages/middleware/api-extractor.json
  packages/middleware/package.json
Labels: middleware

#6791 chore: allow manually triggering docs deploy
  .github/workflows/deploy-docs.yml
Labels: ci

#6786 docs: add example for adding new API endpoints
  packages/docs/integrate/extending-integrations.md
Labels: docs

#6787 docs: update SSR cache doc to include security warning
  packages/docs/architecture/application-context.md
  packages/docs/images/ssr-cache.webp
  packages/docs/integrate/extending-integrations.md
  packages/docs/performance/ssr-cache.md
  packages/docs/troubleshooting/inspecting-network-requests.md
Labels: docs

#6792 docs: add FAQ section
  packages/docs/.vuepress/config.js
  packages/docs/faq/list.md
  packages/docs/faq/ssg.md
  packages/docs/faq/vue3.md
Labels: docs

#6793 docs: update theme with fixes
  packages/docs/package.json
  yarn.lock
Labels: docs
