Repository vuestorefront/vue-storefront, pull requests merged in 2022-06, with the labels that each got.

#6740 chore: updated mollie-commercetools' status to STABLE
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6741 fix: mollie link's label
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6747 Refactor/main with removed bp ct
  packages/docs/.vuepress/integrations.js
  packages/docs/composition/composables.md
  packages/docs/images/useUser-composable-anatomy.png
  packages/docs/images/useUser-load-flow.png
Labels: docs

#6732 docs: add information about enabled field in SSR Cache
  packages/core/docs/integrations/redis-cache.md
  packages/core/docs/performance/ssr-cache.md
Labels: docs, Next

#6736 docs: updated docs for internationalization
  packages/core/docs/getting-started/internationalization.md
Labels: docs, Next

#6751 docs: add ecosystem links
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/general/support.md
  packages/core/docs/getting-started/logging.md
Labels: docs, Next

#6761 docs: update Shopify maintainers
  packages/docs/.vuepress/integrations.js
Labels: docs

#6760 docs: update Composition section
  packages/docs/.vuepress/config.js
  packages/docs/composition/composables.md
  packages/docs/composition/error-handling.md
  packages/docs/composition/getters.md
  packages/docs/images/errors-object-anatomy.webp
  packages/docs/images/high-level-architecture.png
  packages/docs/images/high-level-architecture.webp
  packages/docs/images/ssr-flow.drawio
  packages/docs/images/useUser-composable-anatomy.png
  packages/docs/images/useUser-composable-anatomy.webp
  packages/docs/images/useUser-load-flow.png
  packages/docs/images/useUser-load-flow.webp
  packages/docs/images/userGetters-getter-anatomy.webp
  packages/docs/integrate/payment.md
  packages/rfcs/20200417-products-filters.md
  packages/rfcs/merge-core-packages.md
  packages/rfcs/order-getters-product-data.md
  packages/rfcs/setting-composable-internal-fields.md
Labels: docs

#6767 docs: fix deploy
  .github/workflows/deploy-docs.yml
  packages/docs/Dockerfile
Labels: docs, ci

#6769 docs: update Enterprise page
  packages/docs/general/enterprise.md
Labels: docs

#6758 chore(core-13): node engine version upgrade for core packages
  .github/workflows/conventional-pr-name.yml
  .github/workflows/test.yml
  packages/cli/package.json
  packages/core/package.json
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
  yarn.lock
Labels: ci, core, cli, health-check, nuxt-module, nuxt-theme-module

#6772 chore: update Dockerfile image for docs
  packages/docs/Dockerfile
Labels: docs

#6773 chore: update Dockerfile image for docs
  packages/docs/Dockerfile
Labels: docs

#6770 docs: update Installation guide
  packages/docs/getting-started/installation.md
Labels: docs

#6775 chore: sync develop with main
  .github/workflows/conventional-pr-name.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test.yml
  README.md
  packages/cache/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/docs/.vuepress/config.js
  packages/docs/.vuepress/integrations.js
  packages/docs/Dockerfile
  packages/docs/composition/composables.md
  packages/docs/composition/error-handling.md
  packages/docs/composition/getters.md
  packages/docs/general/enterprise.md
  packages/docs/getting-started/installation.md
  packages/docs/images/errors-object-anatomy.webp
  packages/docs/images/high-level-architecture.png
  packages/docs/images/high-level-architecture.webp
  packages/docs/images/ssr-flow.drawio
  packages/docs/images/useUser-composable-anatomy.png
  packages/docs/images/useUser-composable-anatomy.webp
  packages/docs/images/useUser-load-flow.png
  packages/docs/images/useUser-load-flow.webp
  packages/docs/images/userGetters-getter-anatomy.webp
  packages/docs/integrate/payment.md
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
  packages/rfcs/20200417-products-filters.md
  packages/rfcs/merge-core-packages.md
  packages/rfcs/order-getters-product-data.md
  packages/rfcs/setting-composable-internal-fields.md
  yarn.lock
Labels: docs, middleware, ci, core, cache, cli, health-check, nuxt-module, nuxt-theme-module
