Repository vuestorefront/vue-storefront, pull requests merged in 2022-02, with the labels that each got.

#6623 feat(ct-114): autoChangeCookie hotfix
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Labels: Next, core

#6626 docs: update links to Vue 2 docs
  packages/core/docs/README.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/theme.md
Labels: docs, Next

#6631 docs: refactor integrations page
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/bazaarvoice.svg
  packages/core/docs/.vuepress/public/integrations-logos/scayle.svg
  packages/core/docs/.vuepress/public/integrations-logos/vendure.png
  packages/core/docs/.vuepress/public/integrations-logos/vendure.svg
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/README.md
Labels: docs, Next

#6635 docs: update `Installation` docs
  packages/core/docs/general/installation.md
  packages/core/docs/images/general/vs-code-vetur-install.gif
  packages/core/docs/images/general/vs-code-vetur.gif
  packages/core/docs/images/general/vue-js-devtools-install.gif
  packages/core/docs/images/general/vue-js-devtools.gif
Labels: docs, Next

#6637 Release 2.5.5
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/.gitkeep
  packages/core/docs/changelog/6623.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, core, boilerplate

#6640 docs: open-source Redis driver
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/integrations/redis-cache.md
  packages/core/docs/performance/ssr-cache.md
Labels: docs, Next

#6645 chore: add Elastic Path integration and update links in header
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/elasticpath.svg
Labels: docs, Next

#6646 docs: update link to demo
  packages/core/docs/.vuepress/config.js
Labels: docs, Next

#6639 chore: change `target` in TypeScript to `ES2019`
  packages/core/cache/tsconfig.json
  packages/core/cli/tsconfig.json
  packages/core/core/tsconfig.json
  packages/core/middleware/tsconfig.json
  packages/core/nuxt-theme-module/index.js
  packages/core/nuxt-theme-module/package.json
Labels: Next, core

#6627 chore: sync `main` and `develop`
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/bazaarvoice.svg
  packages/core/docs/.vuepress/public/integrations-logos/elasticpath.svg
  packages/core/docs/.vuepress/public/integrations-logos/scayle.svg
  packages/core/docs/.vuepress/public/integrations-logos/vendure.png
  packages/core/docs/.vuepress/public/integrations-logos/vendure.svg
  packages/core/docs/README.md
  packages/core/docs/changelog/.gitkeep
  packages/core/docs/general/installation.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/theme.md
  packages/core/docs/images/general/vs-code-vetur-install.gif
  packages/core/docs/images/general/vs-code-vetur.gif
  packages/core/docs/images/general/vue-js-devtools-install.gif
  packages/core/docs/images/general/vue-js-devtools.gif
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/redis-cache.md
  packages/core/docs/performance/ssr-cache.md
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, commercetools, core, boilerplate

#6649 feat(core:cli): add BigCommerce option to CLI's integration list
  packages/core/cli/package.json
  packages/core/cli/src/utils/getIntegrations.ts
Labels: Next, core

#6647 feat: support for slash-containing locales in i18n
  packages/core/core/__tests__/utils/i18n-redirects.spec.ts
  packages/core/core/src/utils/i18n-redirects/index.ts
Labels: Next, core

#6653 chore: added tech for Ukraine
  README.md
Labels: Next

#6654 docs: #techforukraine
  packages/core/docs/README.md
Labels: docs, Next
