Repository vuestorefront/vue-storefront, pull requests merged in 2022-03, with the labels that each got.

#6655 chore: remove workaround
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
Labels: Next, ci

#6659 Update README.md
  README.md
Labels: Next

#6660 docs: update #TechForUkraine message
  packages/core/docs/README.md
Labels: docs, Next

#6662 fix(middleware): show actual error message when integration failed to load
  packages/middleware/package.json
  packages/middleware/src/integrations.ts
  yarn.lock
Labels: middleware

#6663 refactor: change nuxt-module to use ts and added api reference
  .eslintignore
  package.json
  packages/core/docs/architecture/application-context.md
  packages/core/docs/package.json
  packages/core/nuxt-module/.gitignore
  packages/core/nuxt-module/api-extractor.json
  packages/core/nuxt-module/lib/helpers/isProduction.js
  packages/core/nuxt-module/lib/helpers/merge.js
  packages/core/nuxt-module/lib/helpers/resolveDependency.js
  packages/core/nuxt-module/lib/modules/raw-sources-loader.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-module/plugins/context.js
  packages/core/nuxt-module/plugins/e2e-testing.js
  packages/core/nuxt-module/plugins/i18n-cookies.js
  packages/core/nuxt-module/plugins/logger.js
  packages/core/nuxt-module/plugins/ssr.js
  packages/core/nuxt-module/rollup.config.js
  packages/core/nuxt-module/src/api-extractor-data.ts
  packages/core/nuxt-module/src/helpers/isProduction.ts
  packages/core/nuxt-module/src/helpers/log.ts
  packages/core/nuxt-module/src/helpers/merge.ts
  packages/core/nuxt-module/src/helpers/resolveDependency.ts
  packages/core/nuxt-module/src/index.ts
  packages/core/nuxt-module/src/modules/performance.ts
  packages/core/nuxt-module/src/modules/raw-sources-loader.ts
  packages/core/nuxt-module/src/modules/storefront-ui.ts
  packages/core/nuxt-module/tsconfig.json
  yarn.lock
Labels: docs, Next, core

#6664 docs: update Magento maintainers
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6636 chore: add new performance-oriented docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/performance/improving-core-web-vitals.md
  packages/core/docs/performance/intro.md
  packages/core/docs/performance/optimizing-html-and-css.md
  packages/core/docs/performance/optimizing-images.md
  packages/core/docs/performance/optimizing-javascript.md
  packages/core/docs/performance/other-optimizations.md
  packages/core/docs/performance/performance.md
Labels: docs, Next

#6661 chore: new README.md design
  README.md
Labels: Next

#6667 fix(core): added Channel cookie name (#6656)
  packages/core/core/src/types.ts
Labels: Next, core

#6641 chore: ability to disable some plugins via config
  .eslintignore
  package.json
  packages/core/docs/architecture/application-context.md
  packages/core/docs/changelog/6641.js
  packages/core/docs/package.json
  packages/core/nuxt-module/.gitignore
  packages/core/nuxt-module/api-extractor.json
  packages/core/nuxt-module/lib/helpers/isProduction.js
  packages/core/nuxt-module/lib/helpers/log.js
  packages/core/nuxt-module/lib/helpers/merge.js
  packages/core/nuxt-module/lib/helpers/resolveDependency.js
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/modules/raw-sources-loader.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-module/plugins/context.js
  packages/core/nuxt-module/plugins/e2e-testing.js
  packages/core/nuxt-module/plugins/i18n-cookies.js
  packages/core/nuxt-module/plugins/logger.js
  packages/core/nuxt-module/plugins/ssr.js
  packages/core/nuxt-module/rollup.config.js
  packages/core/nuxt-module/src/api-extractor-data.ts
  packages/core/nuxt-module/src/helpers/isProduction.ts
  packages/core/nuxt-module/src/helpers/log.ts
  packages/core/nuxt-module/src/helpers/merge.ts
  packages/core/nuxt-module/src/helpers/resolveDependency.ts
  packages/core/nuxt-module/src/index.ts
  packages/core/nuxt-module/src/modules/performance.ts
  packages/core/nuxt-module/src/modules/raw-sources-loader.ts
  packages/core/nuxt-module/src/modules/storefront-ui.ts
  packages/core/nuxt-module/src/types.ts
  packages/core/nuxt-module/tsconfig.json
  yarn.lock
Labels: docs, Next, core

#6669 Release 2.5.6
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6641.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Labels: docs, Next, release, core

#6671 docs: added paypal integration
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6668 docs: update BigCommerce status
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6670 docs: update constructor.io status and remove Recurly
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6676 feat: http-cache module
  package.json
  packages/commercetools/theme/pages/Product.vue
  packages/core/nuxt-theme-module/theme/helpers/cacheControl.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  packages/http-cache/.gitignore
  packages/http-cache/README.md
  packages/http-cache/__tests__/isUrlMatchingRule.spec.ts
  packages/http-cache/__tests__/nuxtModule.spec.ts
  packages/http-cache/__tests__/renderRouteCallback.spec.ts
  packages/http-cache/jest.config.js
  packages/http-cache/nuxt/index.ts
  packages/http-cache/nuxt/isUrlMatchingRule.ts
  packages/http-cache/nuxt/renderRouteCallback.ts
  packages/http-cache/nuxt/types.ts
  packages/http-cache/package.json
  packages/http-cache/tsconfig.json
  yarn.lock
Labels: Next, commercetools, core

#6680 fix: get api host from middleware url
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/docs/changelog/6680.js
  packages/core/docs/getting-started/configuration.md
  packages/core/docs/reference/migrate/2.5.7/overview.md
  packages/core/docs/reference/migrate/index.md
Labels: docs, Next, core

#6681 docs: add Swell to the integration list and rewrite the `Extending GraphQL queries` doc
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/swell.svg
  packages/core/docs/README.md
  packages/core/docs/architecture/server-middleware.md
  packages/core/docs/changelog/6681.js
  packages/core/docs/composition/extending-graphql-queries.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/general/installation.md
  packages/core/docs/integrate/extending-vue-storefront.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/performance/ssr-cache.md
Labels: docs, Next, core

#6683 Release 2.5.7
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/.gitkeep
  packages/core/docs/changelog/6680.js
  packages/core/docs/changelog/6681.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/http-cache/package.json
  yarn.lock
Labels: docs, Next, core

#6684 docs: fix links to the `Integrations` page
  packages/core/docs/README.md
  packages/core/docs/composition/extending-graphql-queries.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/general/installation.md
  packages/core/docs/integrate/extending-vue-storefront.md
Labels: docs, Next

#6687 revert: middlewareUrl required from config
  packages/core/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/core/package.json
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/docs/reference/changelog.md
  packages/core/docs/reference/migrate/2.5.7/overview.md
Labels: docs, Next, core

#6689 docs: update config doc
  packages/core/docs/getting-started/configuration.md
Labels: docs, Next

#6685 docs: change BigCommerce license
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6690 chore: add dependabot config file
  dependabot.yml
Labels: Next

#6686 docs: update integration list
  README.md
Labels: Next
