Repository vuestorefront/vue-storefront, pull requests merged in 2022-09, with the labels that each got.

#6802 docs: fix link on changelog
  packages/docs/reference/changelog.md
Labels: docs

#6810 feat: plugins pass Host header in server to server communication
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/docs/changelog/6810.js
Labels: docs, core

#6805 chore: update docs deploy action
  .github/workflows/deploy-docs.yml
Labels: ci
