Repository vuestorefront/vue-storefront, pull requests merged in 2022-11, with the labels that each got.

#6815 fix: integration api call security issue
  package.json
  packages/docs/changelog/6815.js
  packages/docs/integrate/extending-integrations.md
  packages/middleware/__tests__/integration/bootstrap/api/error/index.ts
  packages/middleware/__tests__/integration/bootstrap/api/index.ts
  packages/middleware/__tests__/integration/bootstrap/api/success/index.ts
  packages/middleware/__tests__/integration/bootstrap/server.ts
  packages/middleware/__tests__/integration/createServer.spec.ts
  packages/middleware/__tests__/unit/helpers/getAgnosticStatusCode.spec.ts
  packages/middleware/__tests__/unit/test-data/getAgnosticStatusCode.ts
  packages/middleware/package.json
  packages/middleware/src/createServer.ts
  yarn.lock
Labels: docs, middleware

#6816 docs: update for boilerplate + theme
  packages/docs/.vuepress/config.js
  packages/docs/.vuepress/integrations.js
  packages/docs/.vuepress/theme/global-components/IntegrationList.vue
  packages/docs/.vuepress/theme/global-components/IntegrationTile.vue
  packages/docs/.vuepress/theme/index.js
  packages/docs/.vuepress/theme/layouts/Integrations.vue
  packages/docs/.vuepress/theme/styles/index.styl
  packages/docs/README.md
  packages/docs/index.md
  packages/docs/integrations/README.md
  packages/docs/integrations/index.md
  packages/docs/package.json
  packages/docs/tailwind.config.js
  yarn.lock
Labels: docs

#6812 fix: create server req body spread operator
  packages/docs/changelog/6812.js
  packages/middleware/src/createServer.ts
Labels: docs, middleware

#6823 chore: release 2.7.2
  package.json
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/6810.js
  packages/docs/integrate/extending-integrations.md
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/__tests__/integration/bootstrap/api/error/index.ts
  packages/middleware/__tests__/integration/bootstrap/api/index.ts
  packages/middleware/__tests__/integration/bootstrap/api/success/index.ts
  packages/middleware/__tests__/integration/bootstrap/server.ts
  packages/middleware/__tests__/integration/createServer.spec.ts
  packages/middleware/__tests__/unit/helpers/getAgnosticStatusCode.spec.ts
  packages/middleware/__tests__/unit/test-data/getAgnosticStatusCode.ts
  packages/middleware/package.json
  packages/middleware/src/createServer.ts
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, middleware, core, cache, health-check, nuxt-module, nuxt-theme-module

#6826 docs: update homepage
  packages/docs/index.md
Labels: docs

#6817 feat(cli): added init command alias
  packages/cli/README.md
  packages/cli/__tests__/domains/directory/getDirectory.spec.ts
  packages/cli/__tests__/domains/git-repository-url/getGitRepositoryURL.spec.ts
  packages/cli/__tests__/domains/project-name/getProjectName.spec.ts
  packages/cli/jest.config.js
  packages/cli/package.json
  packages/cli/src/commands/generate/store.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/domains/integration/fetchIntegrations.ts
  packages/core/src/types.ts
  yarn.lock
Labels: core, cli

#6830 feat: remove x-powered-by header
  packages/middleware/__tests__/integration/createServer.spec.ts
  packages/middleware/package.json
  packages/middleware/src/createServer.ts
Labels: middleware

#6831 fix: not using deprecated set output
  .github/workflows/deploy-docs.yml
Labels: ci

#6848 build(deps): upgrade axios to 0.22.0
  packages/cache/package.json
  packages/core/package.json
  packages/docs/changelog/6848.js
  packages/middleware/package.json
  yarn.lock
Labels: docs, dependencies, middleware, core, cache

#6846 feat: make new url constructor in core package able to work with api
  .github/workflows/deploy-docs.yml
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/src/utils/nuxt/index.ts
Labels: core
