Repository vuestorefront/vue-storefront, pull requests merged in 2022-05, with the labels that each got.

#6714 docs: update Odoo to Stable
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6708 docs: update "Good practices" document
  packages/core/docs/integrate/good-practices.md
Labels: docs, Next

#6709 docs: update "Project structure" document
  packages/core/docs/getting-started/project-structure.md
Labels: docs, Next

#6715 feat(core): configurable cookie attributes
  packages/core/docs/changelog/6715.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/plugins/i18n-cookies.js
Labels: docs, Next, core

#6716 docs: add mollie commercetools to integrations list
  packages/core/docs/.vuepress/integrations.js
Labels: docs, Next

#6718 docs: new landing page
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/contributing/how-to-submit-pull-request.md
  packages/core/docs/general/installation.md
  packages/core/docs/getting-started/installation.md
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/getting-started/project-structure.md
Labels: docs, Next

#6719 fix: mollie logo in docs
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/mollie.svg
Labels: docs, Next

#6722 docs: add 'what is VSF' video to the Introduction page
  packages/core/docs/.vuepress/config.js
  packages/core/docs/getting-started/introduction.md
  packages/core/docs/package.json
  yarn.lock
Labels: docs, Next

#6720 fix(core): prevent http cache module from setting headers after they had been sent
  packages/http-cache/__tests__/renderRouteCallback.spec.ts
  packages/http-cache/nuxt/renderRouteCallback.ts
Labels: Next

#6717 fix(core): add option to disable the locale auto-redirect in i18n-cookies plugin
  packages/core/docs/changelog/6717.js
  packages/core/docs/getting-started/internationalization.md
  packages/core/nuxt-module/plugins/i18n-cookies.js
Labels: docs, Next, core

#6728 chore: update demo link in README.md
  README.md
Labels: Next

#6702 refactor(core): restore middleware definition in `integrationPlugin`
  packages/core/core/src/utils/nuxt/index.ts
Labels: Next, core

#6730 fix: fixed disabled redirects
  packages/core/core/__tests__/utils/i18n-redirects.spec.ts
  packages/core/core/src/utils/i18n-redirects/index.ts
  packages/core/nuxt-module/plugins/i18n-cookies.js
Labels: Next, core

#6729 Release `2.5.13`
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/changelog/6715.js
  packages/core/docs/changelog/6717.js
  packages/core/docs/reference/changelog.md
  packages/core/health-check/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/http-cache/package.json
Labels: docs, Next, release, core

#6735 chore: update installation link in README
  README.md
Labels: Next
