Repository vuestorefront/vue-storefront, pull requests merged in 2023-07, with the labels that each got.

#6928 chore: enhance-customquery-type
  packages/core/package.json
  packages/core/src/types.ts
Labels: core

#6936 test: fix core tests
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
Labels: core

#6935 chore: sync develop and main branch
  packages/core/__tests__/utils/nuxt/proxyUtils.spec.ts
  packages/docs/changelog/6869.js
  packages/middleware/__tests__/unit/helpers/getAgnosticStatusCode.spec.ts
  packages/middleware/src/createServer.ts
  packages/middleware/src/helpers/getAgnosticStatusCode.ts
Labels: docs, middleware, core

#6937 chore: update changelog
  packages/docs/reference/changelog.md
Labels: docs

#6939 docs: add configurable error handler documentation
  packages/docs/architecture/server-middleware.md
Labels: docs

#6941 docs: added information about api property on the context
  packages/docs/integrate/extending-integrations.md
Labels: docs

#6943 feat: add node 18 support
  .github/workflows/test.yml
  package.json
  packages/cache/__tests__/nuxtModule.spec.ts
  packages/cache/jest.config.js
  packages/cache/package.json
  packages/cli/package.json
  packages/core/__tests__/factories/_mountComposable.ts
  packages/core/package.json
  packages/docs/changelog/6869.js
  packages/docs/reference/changelog.md
  packages/health-check/package.json
  packages/http-cache/package.json
  packages/middleware/jest.config.js
  packages/middleware/package.json
  packages/nuxt-module/package.json
  packages/nuxt-theme-module/package.json
  yarn.lock
Labels: docs, middleware, ci, core, cache, cli, health-check, nuxt-module, nuxt-theme-module

#6944 chore: bumped to 4.4.0
  packages/cli/package.json
Labels: cli
